// Stylopis pro 3-1-7

// Centralni vrstva
@import '../../../_common/css/wm-common.less';

// Layout vrstva
@import '../../../_common/css/wm-layouts/layout-3.less';

// Vrstva s variantou
@import '../../../_common/css/wm-variants/variant-3-1.less';

// Barevne schema
@linkColor: 								  #778b4c;
@wmColorNav: 								  #fff;
@wmColorNavHover:             #fff;
@wmColorSmallScreenNavActive: #92a764;
@wmColorNavLevel2Bg:          #92a764;
