/*

Stránka: Homepage
=================

*/


// Boxíky se značkami a dobou nošení
// ---------------------------------

.vc-home-boxes { .vc-clearfix; }

.vc-home-boxes-heading { margin-bottom: @line-height-computed; }

.vc-home-boxes .vc-box {
  // lokální proměnné
  @vc-home-box-height:             2*@line-height-computed;                          // výška
  @vc-home-box-inner-height:       (@vc-home-box-height - 2*@padding-base-vertical); // vnitřní výška, viz .vc-box
  @vc-home-box-line-height:        @vc-home-box-inner-height - 3px;                  // - korekce pro vizuální vycentrování textu
  @vc-home-box-hover-border-width: 4px;                                              // okraj pro hover stav: sudé číslo!
  @vc-home-box-border-width-diff:  (@vc-home-box-hover-border-width - 1);            // rozdíl tloušťky mezi puvodním borderem a hover borderem

  height: @vc-home-box-height;

  // Vertikální a horizontální centrování:
  line-height: @vc-home-box-line-height;
  text-align: center;

  // Nikdy nezalamujeme na 2 řádky:
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  // V boxíkách podle doby nosení zmenšujeme na mobilech písmo
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    padding-left: @padding-xs-horizontal;
    padding-right: @padding-xs-horizontal;
    font-size: @vc-font-size-smaller;
  }

  &:hover {
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      padding-left: (@padding-xs-horizontal - @vc-home-box-border-width-diff);
      padding-right: (@padding-xs-horizontal - @vc-home-box-border-width-diff);
    }

    line-height: (@vc-home-box-line-height - 2*@vc-home-box-border-width-diff); // 1 je sirka ramecku pred hoverem
    border: @vc-home-box-hover-border-width #3a91c1 solid;
    text-decoration: underline;
  }

  // Přizpůsobení obrázku:
  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
}



