/*

Stránka: Homepage: rychlá objednávka a novinky
==============================================

*/


// Layout
// ------

// Na desktopu jsou boxy s rychlou objednávkou
// a novinkami vedle sebe:

.vc-home-fastorder,
.vc-home-news {
  .vc-layout-col-base;
  .vc-layout-col(12);

  margin-top: @line-height-computed/2;

  @media only screen and (min-width: @vc-layout-start) { .vc-layout-col(6); }

  @media only screen and (min-width: @vc-layout-full-start) { margin-top: 0; }
}

.vc-home-fastorder{
  @media only screen and (min-width: @vc-layout-start){ padding-right: @grid-gutter-width/4; }
}

.vc-home-news {
  @media only screen and (min-width: @vc-layout-start){ padding-left: @grid-gutter-width/4; }
}


// box
// ---

.vc-home-fastorder,
.vc-home-news {
  .vc-box {
    padding:
      @line-height-computed
      0.85*@line-height-computed
      0.35*@line-height-computed;

    @media only screen and (min-width: 640px){
      padding:
        @line-height-computed
        1.2*@line-height-computed
        0.5*@line-height-computed;
    }

    @media only screen and (min-width: @vc-layout-start){
      min-height: 190px;
    }
  }
}

.vc-home-fastorder {
  .vc-box { border-color: @vc-color-orange ; }
}

.vc-home-news {
  .vc-box { border-color: @vc-border-color-light; }
}

// hlavní nadpis
.vc-home-box-heading {
  margin-top: 0;
  margin-bottom: @line-height-computed/2;
  font-weight: 400;
}


// Rychlá objednávka
.vc-home-fastorder-image {
  display: none;

  @media only screen and (min-width: 320px) {
    display: block;
    float: left;
    margin-top: -@line-height-computed/2; // dle margin-bottom u .vc-home-box-heading
    margin-bottom: @line-height-computed/2; // nesouvisí s předchozí hodnotou
    margin-right: @line-height-computed;
  }

  @media only screen and (min-width: 480px) { margin-right: 1.5*@line-height-computed; }
}

.vc-home-fastorder-text { font-size: @font-size-small; }

.vc-home-fastorder-button { margin-top: @line-height-computed; }


// nadpis novinky
.vc-home-news-heading {
  // lokální proměnná
  @vc-news-breakpoint: ~"only screen and (min-width: 480px)";

  font-size: @font-size-small;
  line-height: @line-height-base;
  margin-bottom: @line-height-computed/2;
  margin-top: 0;

  @media @vc-news-breakpoint {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  // odkaz
  a {
    display: block;

    @media @vc-news-breakpoint { display: inline; }
  }

  // datum
  small {
    color: #666666;
    font-size: @vc-font-size-smaller;
    display: block;

    @media @vc-news-breakpoint { display: inline; }

    // pomlčka
    span {
      color: #cccccc;
      display: none;

      @media @vc-news-breakpoint { display: inline; }

    }
  }
}

// odkaz na další novinky
.vc-home-news-more {
  font-size: @font-size-small;
  margin-top: @line-height-computed/2;
  text-align: right;
}

