/*

Panel s ikonami
===============

V hlavičce webu.

*/

@vc-nav-icons-icon-size: 60px; // skutečný rozměr ikony
@vc-nav-icons-module-size: -63px; // šířka nebo výška modulu ve sprite

// délka strany sprite s ikonami
// Sprite musí být čtvercový!
// To je vynuceno chybou v criticalcss,
// který odstraní druhou hodnotu background-size
@vc-nav-icons-sprite-size: 375px;

@vc-nav-icons-top-space: 18px; // velikost místa nad ikonou
@vc-nav-icons-badge-border-width: 2px; // šířka okraje badge
@vc-nav-icons-badge-position-horizontal: 6px; // posun badge ikony směrem doprava
@vc-nav-icons-badge-position-vertical:   2px; // posun badge ikony směrem nahoru
@vc-nav-icons-horizontal-space: 10px; // rozestup mezi ikonami
@vc-nav-icons-small-ratio: 0.75; // poměr zmenšení ikon pro malé displeje, při změně nutno upravit nav-icons-smaller.svg
@vc-nav-icons-icon-size-small: @vc-nav-icons-icon-size * @vc-nav-icons-small-ratio; // velikost malé ikony

// Layout
// ------

.vc-nav-icons {
  float: right;

  @media @vc-head-breakpoint-not-small{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 58000;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 0; // odstraní mezery mezi potomky
  }

}

// ### obal odkazu
.vc-nav-icons-item {
  display: inline-block;
  padding: @vc-nav-icons-badge-position-vertical 0 0;

  margin-top: 3px;
  margin-left: 0;
  margin-bottom: 3px;
  margin-right: -@vc-nav-icons-badge-position-horizontal/2;

  width:  @vc-nav-icons-icon-size-small + @vc-nav-icons-badge-position-horizontal;
  height: @vc-nav-icons-icon-size-small + @vc-nav-icons-badge-position-vertical;

  @media @vc-head-breakpoint-not-small {
    margin-top: @vc-nav-icons-top-space;
    margin-left: @vc-nav-icons-horizontal-space - @vc-nav-icons-badge-position-horizontal;
    margin-right: 0;

    width:  @vc-nav-icons-icon-size + @vc-nav-icons-badge-position-horizontal;
    height: @vc-nav-icons-icon-size + @vc-nav-icons-badge-position-vertical;
  }

}


// Odkazy
// ------

.vc-nav-icons-link {
  background: transparent url("../dist/img/icons/nav-icons.svg") no-repeat 0 0; //todo: inline / větší sprite svg?
  display: inline-block;
  vertical-align: middle;

  width:  @vc-nav-icons-icon-size-small;
  height: @vc-nav-icons-icon-size-small;
  background-size: @vc-nav-icons-small-ratio*@vc-nav-icons-sprite-size;

  @media @vc-head-breakpoint-not-small {
    width:  @vc-nav-icons-icon-size;
    height: @vc-nav-icons-icon-size;
    background-size: @vc-nav-icons-sprite-size;
  }

  .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
    background-image: url("../dist/img/icons/nav-icons-smaller.png"); //todo: větší sprite svg?

    @media @vc-head-breakpoint-not-small {
      background-image: url("../dist/img/icons/nav-icons.png"); //todo: větší sprite svg?
    }
  }

  &:focus { outline: 0; }


  // ### změna ikony
  // mixin pro výměnu ikony, pozice jsou od 0
  .vc-nav-icons-bg-position(@vc-nav-icons-position){

    // výpočet polohy pozadí
    @vc-pos-left-small: @vc-nav-icons-position * (@vc-nav-icons-module-size * @vc-nav-icons-small-ratio);
    @vc-pos-left: @vc-nav-icons-position * @vc-nav-icons-module-size;

    // nastavení pozadí
    background-position: @vc-pos-left-small 0;

    &:hover { background-position: @vc-pos-left-small 100%; }

    @media @vc-head-breakpoint-not-small {
      background-position: @vc-pos-left 0;

      &.active,
      &:hover { background-position: @vc-pos-left 100%; }

    }
  }

  // ### jednotlivé ikony
  .vc-nav-icons-nav & {
    .vc-nav-icons-bg-position(0);

    &.active { .vc-nav-icons-bg-position(1); }
  }

  .vc-nav-icons-login &{ .vc-nav-icons-bg-position(2); }

  .vc-nav-icons-login-logged &{ .vc-nav-icons-bg-position(3); }

  .vc-nav-icons-cart & { .vc-nav-icons-bg-position(4); }

  .vc-nav-icons-cart-full & { .vc-nav-icons-bg-position(5); }
}


// ### Stylovani BS badge
.vc-nav-icons-link {
  position: relative;

  .badge {
    position: absolute;
    right: -@vc-nav-icons-badge-position-horizontal;
    top: -@vc-nav-icons-badge-position-vertical;
    border: @vc-nav-icons-badge-border-width solid #ffffff;

    font-size: @vc-font-size-smaller;
    border-radius: @vc-font-size-smaller;  // velikost písma badge, je díky tomu víc kruhový
    padding: 3px 6px;

    @media @vc-head-breakpoint-not-small {
      font-size: @font-size-small;
      border-radius: @font-size-small;
    }

    // barva pozadí pro badge login menu
    .vc-nav-icons-login & {
      background-color: @vc-color-orange;
    }

    // barva pozadí pro badge košíku
    .vc-nav-icons-cart-full & {
      background-color: @vc-color-blue;
    }
  }
}

// ### cena položek v košíku

.vc-nav-icons-cart-full{

  // lokální proměnné
  @vc-border-width: 1px; // šířka okraje
  @vc-border-color: @vc-color-blue; // barva okraje
  @vc-text-color: @vc-color-blue; // barva textu
  @vc-bg-color: #ffffff; // barva pozadi
  @vc-caret-height: 3px; // výška šipky
  @vc-padding-vertical: 3px; // horní a dolní odsazení textu od okraje
  @vc-padding-horizontal: 4px; // pravé a levé odsazení textu od okraje
  @vc-font-size: 12px; // velikost písma

  // nastav spodní okraj tak, aby se to vždy vešlo
  @media @vc-head-breakpoint-not-small {
    margin-bottom:
      @vc-caret-height
      + @vc-border-width
      + @vc-padding-vertical
      + @vc-font-size
      + @vc-padding-vertical
      + @vc-border-width;
  }

  .vc-badge-price {
    display: none; // s malými ikonami nezobrazujeme

    @media @vc-head-breakpoint-not-small {

      // layout obalovacího prvku
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      text-align: center;

      // samotný badge
      & > .vc-matrjoska {

        // layout
        display: inline-block;
        margin-top: @vc-caret-height - 5px; // odsazení shora
        margin-left: auto;
        margin-right: auto;
        padding: @vc-padding-vertical @vc-padding-horizontal;
        line-height: 1;

        // vlastnosti textu
        font-size: @vc-font-size;
        white-space: nowrap;

        // barvy a okraje
        color: @vc-text-color;
        background-color: @vc-bg-color;
        border: @vc-border-width solid @vc-border-color;
        border-radius: 3px;

        // jen kvůli šipce (caret)
        position: relative;

        // šipka (caret)
        &:after,
        &:before {
          height: 0;
          width: 0;
          position: absolute;
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
        }

        &:after {
          border-bottom-color: @vc-bg-color;
          border-width: @vc-caret-height;
          margin-left: -@vc-caret-height;
        }

        &:before {
          // lokální proměnná
          @vc-size: @vc-caret-height + round(@vc-border-width * cos(pi()/4)*2);

          border-bottom-color: @vc-border-color;
          border-width: @vc-size;
          margin-left: -@vc-size;
        }
        // /šipka (caret)
      }
    }
  }
}


// Na velkých displejich nezobrazujeme rozbalovátko menu
.vc-nav-icons-nav {
  @media only screen and (min-width: @p-large-display-start) {
    display: none;
  }
}
