/*

Contacts
========

Kontaktní informace v hlavičce webu

*/

// Proměnné
// --------

@vc-head-contacts-icon-width: 20px; // šířka ikony
@vc-head-contacts-icon-padding: 6px; // odsazení ikony od textu
@vc-head-contacts-phone-font-size: 25px; // základní velikost telefonního čísla
@vc-head-contacts-phone-scale-ratio: unit(@font-size-large/@vc-head-contacts-phone-font-size); // poměr zmenšení tel. čísla na malých obrazovkách
@vc-head-contacts-phone-padding-left-base: @vc-head-contacts-icon-width+@vc-head-contacts-icon-padding; // odsazení tel. čísla
@vc-head-contacts-phone-padding-left-small: round(@vc-head-contacts-phone-scale-ratio*@vc-head-contacts-phone-padding-left-base); //odsazení tel. čísla na malých obrazovkách


// Layout
// ------

.vc-head-contacts {
  display: none; // nezobrazujeme když se nevejde

  @media only screen and (min-width: 560px) {
    display: block;
    position: absolute;
    top: 0;
    left: 36%;
    max-width: 150px;
    margin-top: 30px;
  }

  @media only screen and (min-width: 640px) {
    left: 33%;
    max-width: 270px;
  }

  @media only screen and (min-width: @p-large-display-start) {
    left: 59%;
    max-width: none;
  }

}

// ### společné vlastnosti obou prvků

.vc-head-contacts-phone,
.vc-head-contacts-note {
    line-height: 1;
    margin: 0;
    display: block;
    clear:both;
}

// ### telefon

.vc-head-contacts-phone {
  a {
    color: #64c915;
    background: url("../dist/img/icons/phone-green.svg") no-repeat 0 60%; //todo: inline / sprite svg?
    background-size: round(@vc-head-contacts-phone-scale-ratio*@vc-head-contacts-icon-width);
    text-decoration: none;
    white-space: nowrap;

    font-size: @font-size-large;
    padding-right: @padding-small-horizontal;
    padding-left: @vc-head-contacts-phone-padding-left-small;

    @media only screen and (min-width: 640px) {
      font-size: @vc-head-contacts-phone-font-size;
      background-size: @vc-head-contacts-icon-width;
      background-position: 0 40%;
      padding-left: @vc-head-contacts-phone-padding-left-base;
    }

    .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
      background-image: url("../dist/img/icons/phone-green.png"); //todo: inline / sprite svg?
    }

    &:hover {
      color: darken(#64c915, 5%);
    }
  }
}

// ### text pod/vedle telefonu

.vc-head-contacts-note {
  color: #999999;
  font-size: @vc-font-size-smaller;
  padding-left: @vc-head-contacts-phone-padding-left-small;

  @media only screen and (min-width: 640px) {
    padding-left: @vc-head-contacts-phone-padding-left-base;
  }
}

// nezobrazujeme část textu v menších rozlišeních, aby se nezalamoval
.vc-head-contacts-note-extra {
  display: none;

  @media only screen and (min-width: 640px) {
    display: inline;
  }

  @media only screen and (min-width: @p-large-display-start) {
    display: none;
  }

  @media only screen and (min-width: 850px) {
    display: inline;
  }

}
