/*

Site Head
=========

Hlavička webu s logem, navigací, vyhledáváním…

*/

@vc-head-breakpoint-not-small: ~"only screen and (min-width: 420px)";

.vc-head {
  .vc-clearfix;
  position: relative;
}

.vc-head-top-row {
  position: relative; // zakladna pro pozicovani prvku v hlavicce
}
