/*

Site Nav
========

Hlavní navigace webu.

*/

// Pine.JS navigace
// ----------------

// https://github.com/rwd-pine/pine

@import "../../bower_components/pine-navigation/src/stylesheets/pine.less";


// Rozmery
@p-padding-horizontal: 10px;
@p-padding-vertical: 10px;
@p-small-screen-top: 90px;

// Breakpoint desktop pohledu
@p-large-display-start: 768px;

// Barvy
@p-color: #fff;
@p-background: @vc-color-blue;
@p-hover-background: @vc-color-dark-blue;
@p-active-background: @vc-color-dark-blue;
@p-border-color: lighten(@vc-color-blue, 20%);


// Úprava Pine navigace pro naše potřeby
// -------------------------------------


// vlastní caret

.caret-base(@padding-right) {
  border-style: none;
  height:7px;
  width: 11px;
}

.caret-bottom(@color, @caret-size) {
  background: transparent url("../dist/img/icons/caret.svg") no-repeat 50% 50%; //todo: inline / sprite svg?
  // png alternativu pro IE7-8 neřešíme, protože stejně neumí :after
}

// Velikost textu na vetsich displejich

@media only screen and (min-width: @p-large-display-start) {
  .pine {
    font-size: 14px;
  }
}

// Šířka položek navigace

@media only screen and (min-width: @p-large-display-start) {
  .pine-horizontal .pine-level-1 > li {
    width: 100%/5;
  }

  // Fix chyby kdy Pine po otevreni a zavreny na malem a zvetseni okna nechava max-height: 0
  .pine {
    max-height: none !important;
  }
}

// Pine nemá absolutní ale static pozici

@media only screen and (max-width: (@p-large-display-start - 1px)) {
  body {
    overflow: auto !important;
  }

  .js .pine { // .js je trida pro pine, proto nepouzivame nasi .js
    position: static;
  }

  .js .pine-visible { // .js je trida pro pine, proto nepouzivame nasi .js
    max-height: none !important;
  }
}


// Odsazení a clearování

.pine {
  clear: both;
  margin-bottom: @line-height-computed / 2;
}

@media only screen and (max-width: (@p-large-display-start - 1px)) {

  .pine {
    margin-bottom: 0;

    &.pine-visible {
      margin-bottom: @line-height-computed / 2;
    }

  }

}


// Vzhled: barvičky, rámečky a písmo
// ---------------------------------

// písmo pro celé menu

.pine {
  li > a,
  li > strong {
    font-weight: 100;

    @media only screen and (min-width: 320px) {
      letter-spacing: 0.02em;
    }

    @media only screen and (min-width: 800px) {
      letter-spacing: 0.04em;
    }

    @media only screen and (min-width: 870px) {
      letter-spacing: 0.07em;
    }

    @media only screen and (min-width: 960px) {
      letter-spacing: 0.10em;
    }

  }
}

// Rámečky kolem položek

.pine-level-1 {
  > li > a,
  > li > strong {

    @media only screen and (min-width: @p-large-display-start) {
      border-right: 1px dotted @p-border-color;
    }
  }

  > li:last-child > a,
  > li:last-child > strong {
    border-right: none;
  }
}

// Všechno má rámeček zezdola, kromě poslední položky submenu na velkých displejích

.pine {
  a, strong {
    border-bottom: 1px dotted @p-border-color;
  }
}

.pine-level-2 > li:last-child {
  a, strong {
    @media only screen and (min-width: @p-large-display-start) {
      border-bottom: 0;
    }
  }
}

// Desktop verze
// -------------

// Desktop verze: Úpravy kvůli roztažení na celou šířku okna

@media only screen and (min-width: @p-large-display-start) {

  .vc-nav {
    background: @p-background;
    border-bottom: 2px solid #f3f8fa;
    padding-bottom: 1px;

    & > .vc-matrjoska{ // je tu jen kvůli dvojitému dvoubarevnému okraji
      border-bottom: 2px solid #61a7cd !important;
    }
  }

  .pine {
    margin-bottom: 0;
    border-left: 1px dotted @p-border-color;
    border-right: 1px dotted @p-border-color;
  }

  .pine-level-1 > li > a,
  .pine-level-1 > li > strong {
    border-bottom: 0;
  }

  .pine-level-2 li > a,
  .pine-level-2 li > strong {
    letter-spacing: 0; // větší prostrkání není na desktopu pro položky v podmenu
  }

}


// Desktop verze: Čočky nemají třetí úroveň, rozbalí se obě
// --------------------------------------------------------

// ### Druhá úroveň (podle typu, podle značky)

@vc-nav-lenses-width: 400px;
@vc-nav-2level-border: 3px;

// Mixin pro styl položky druhé úrovně na desktopu

.vc-nav-level-2-item-style() {
  background: transparent;
  border: none;
  padding: @padding-small-vertical 0;
  color: @vc-color-blue;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

@media only screen and (min-width: @p-large-display-start) {

  // ### Druhá úroveň obecně

  .pine-level-open {

    .pine-level-2 {
      background: #fff;
      padding: @padding-large-vertical @padding-large-horizontal;
      border: @vc-nav-2level-border solid @vc-color-dark-blue;
    }

    .pine-level-2 > li > a {
      color: @text-color;
      background: transparent;
      border: none;
      padding: @padding-base-vertical 0;
      border-bottom: 1px solid @vc-border-color;
      margin-bottom: @line-height-computed / 4;
    }

  }

  // ### Čočky - podle typu, podle značky

  .vc-nav-lenses.pine-level-open {

    @lenses-subitem-width: ( @vc-nav-lenses-width - (@padding-large-horizontal * 3) - (2 * @vc-nav-2level-border) ) / 2;

    // Zobrazujeme širší a s větším odsazením zezdola

    .pine-level-2 {
      width: @vc-nav-lenses-width;
      padding-bottom: @padding-large-vertical*1.5;
    }

    .pine-level-3 {
      width: 100%;
    }

    // Layout boxíků délku noše, typ a značku

    .pine-level-2 > li {
      .vc-clearfix;
      float: left;
      width: @lenses-subitem-width;
    }

    // Podle délky nošení a typu vlevo,
    // podle značky vpravo

    .pine-level-2 > .vc-nav-lenses-period {
      float: left;
      margin-bottom: @line-height-computed;
    }

    .pine-level-2 > .vc-nav-lenses-types {
      float: left;
      clear: left;
    }

    .pine-level-2 > .vc-nav-lenses-brands {
      float: none;
      margin-left: @lenses-subitem-width + @padding-large-horizontal;;
    }

    // Indikační trojúhelník pryč

    .pine-level-2 > li > a:before {
      display: none;
    }

  }

}

// ### Druhá úroveň u Příslušenství

// TODO stejný kód jako třetí úroveň u Čoček (následuje)

@media only screen and (min-width: @p-large-display-start) {

  .vc-nav-accessories.pine-level-open .pine-level-2 > li > a {
    .vc-nav-level-2-item-style;
   }

}


// ### Třetí úroveň u Čoček se tváří jako druhá úroveň

@media only screen and (min-width: @p-large-display-start) {

  .vc-nav-lenses.pine-level-open {

    // Zrušení klikatelnosti druhé úrovně

    .pine-level-2 > li > a {
      pointer-events: none;
      cursor: default;
    }

    // Na desktopu vždy zobrazíme
    // a vypíšeme v běžném flow, bez absolutní pozice

    .pine-level-3 {
      visibility: visible;
      opacity: 1;
      position: static;
      top: auto;
      left: auto;
    }

    // Položka třetí úrovně

    .pine-level-3 > li > a {
      .vc-nav-level-2-item-style;
    }
  }

}
