/*

Košík: Prázdný košík
==========================

*/

// Řešení přes šedý oblouk a pozicování

.vc-cart-empty {
  .vc-page-heading {
    position: relative;
    margin-bottom: @line-height-computed;

    // Změna layoutu
    // Nadpis a kontakt na jednom řádku

    @media only screen and (min-width: 600px) {
      float: left;
      margin-top: 0;
    }
  }
}


// Kontaktní blok u hlavního nadpisu

.vc-cart-empty-contact {
  position: relative;
  overflow: hidden;
}

.vc-cart-empty-contact-body {
  font-size: 12px;
  text-align: left;

  // Změna layoutu
  // Nadpis a kontakt na jednom řádku
  // Proto se mění zarovnání

  @media only screen and (min-width: 600px) {
    text-align: right;
  }
}

.vc-cart-empty-contact-name {
  color: @vc-color-text-light;
}


// NObsahová část

.vc-cart-empty-content {
    padding-top: 160px;
    margin-top: @line-height-computed;
    background: url("../dist/content-img/cart/empty.jpg") no-repeat 50% 0;
    background-size: 100% auto;

    @media only screen and (min-width: 337px) {
      background-size: auto;
    }

    // Změna layoutu
    // Obrázek vedle textu

    @media only screen and (min-width: @vc-layout-start) {
      padding-top: 0;
      padding-left: 50%;
      margin: 50px 0 30px;
      background-position: 0 50%;
    }

    @media only screen and (min-width: 1024px) {
      margin: 100px 0 60px;
      background-position: 130px 50%;
    }

    @media only screen and (min-width: 1240px) {
      padding-left: 40%;
    }
}

.vc-cart-empty-title {
  color: @vc-color-text;
}


// Zelený text popř. i odkaz

.vc-cart-empty-green {
  color: @vc-color-green;
}

a.vc-cart-empty-green {
  &:hover {
    color: #59B213;
  }
}
