/*

Košík: Informativní a motivační hlášky pod košíkem
==========================

*/

.vc-cart-availability,
.vc-cart-remains {

  // TODO: dočasné řešení, nevím,
  // jestli se vc-list-item používá i jinde na webu
  padding-right: 0 !important;
  padding-left: 55px !important;
  border: none !important;

  .vc-list-item-heading {
    padding-top: @padding-base-vertical;
    padding-bottom: @padding-base-vertical;
  }

  .label {
    padding: 0.30em 0.4em 0.22em;
    font-size: 14px;
    font-weight: 300;
  }

}

.vc-cart-remains {
  margin-bottom: @line-height-computed;

  @media only screen and (min-width: @vc-layout-start) {
    margin-bottom: 2*@line-height-computed;
  }
}

.vc-cart-availability {
  background: url("../dist/img/icons/time-44-green.svg") no-repeat 3px 50%;
  background-size: 30px 30px;

  .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
    background: url("../dist/img/icons/time-44-green.png") no-repeat 3px 50%;
    background-size: 30px 30px;
  }
}

.vc-cart-remains {
  background: url("../dist/img/icons/delivery-44.svg") no-repeat 3px 50%;
  background-size: 30px 30px;

  .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
    background: url("../dist/img/icons/delivery-44.png") no-repeat 3px 50%;
    background-size: 30px 30px;
  }
}

// Info pod košíkem: Layout na větších displejích
// ----------------------------------------------

.vc-cart-info-lines {
  .vc-layout-col-base;
  .vc-layout-col(12);

  @media only screen and (min-width: @vc-discount-info-layout-start) {
    .vc-layout-col(6);
  }

}
