// Stylopis pro 1-2-1

// Centralni vrstva
@import '../../../_common/css/wm-common.less';

// Layout vrstva
@import '../../../_common/css/wm-layouts/layout-1.less';

// Vrstva s variantou
@import '../../../_common/css/wm-variants/variant-1-2.less';

// Barevne schema
@linkColor: 								  #a3b87b;
@wmBodyBg:									  #afbf91;
@wmColorNavLevel2Bg: 					#afbf91;
@wmColorSmallScreenNavActive:	#afbf91;
