// Varianta 3-1
// Navigace "vycuhujici" do stran (Restaurant)

// --- Predefinujeme promenne ---
// (Viz nase wm-variables.less a variables.less pro Bootstrap)

// Typo
@sansFontFamily: 					'Gentium Book Basic', sans-serif;
@baseFontSize: 						14px;
@baseLineHeight: 					24px;

// Barvy
@wmBodyBg:								~"#eee";
@textColor: 							#666;
//@linkColor: 							#863d3d;
@linkColorHover:						#666666;
@tableBackgroundAccent: 				#f3f3f3;
@wmButtonColor:							#fff;

// Textove logo
@wmTextLogoColor:				@textColor;
@wmTextLogoAlign:           	center;

// Navigace
@wmColorSmallScreenNavBg:		@linkColor;
@wmColorSmallScreenNavActive:	@wmColorNav;

// Level 1
@wmColorNav:					#fff;
@wmColorNavHover:				transparent;
@wmColorNavLevel1Bg:			transparent;
@wmNavLevel1FontSize:			16px;

// Level 2
@wmColorNavLevel2:            @wmColorNavHover;
@wmColorNavLevel2Hover:       @wmColorNavHover;
@wmColorNavLevel2Bg: 		  transparent;
@wmNavLevel2FontSize:         14px;

// Level 3
@wmColorNavLevel3:            @wmColorNavHover;
@wmColorNavLevel3Hover:       @wmColorNavHover;
@wmColorNavLevel3Bg:          transparent;
@wmNavLevel3FontSize:         13px;

// Nadpisy
@headingsFontWeight: 					normal;
@wmH1FontSize:							32px;
@wmH1Color:								@linkColor;
@wmH2FontSize:							28px;
@wmH2Color:								@linkColor;
@wmH3FontSize:							22px;
@wmH3Color:								#999;

@wmH4FontSize:							22px / 1.61;
@wmH4Color:								@linkColor;

// Formulare
@inputBorder:							#ccc;

// --- Vlastni deklarace ---
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&subset=latin,latin-ext);

@media (max-width: @wmLargeDisplayStart) {
  .content-container {padding-top:20px}
}

// - Zmeny v layoutu -


.content {
	font-family:Arial, Helvetica, sans-serif;
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Gentium Book Basic', sans-serif;
		}
}