// Varianta 3-1
// Navigace "vycuhujici" do stran (Restaurant)

// --- Predefinujeme promenne ---
// (Viz nase wm-variables.less a variables.less pro Bootstrap)

// Typo
@sansFontFamily: 					"Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
@baseFontSize: 						14px;
@baseLineHeight: 					24px;

// Barvy
@wmBodyBg:									~"#eee";
@textColor: 								#666;
@linkColor: 								#863d3d;
@linkColorHover:						#666666;
@tableBackgroundAccent: 		#f3f3f3;
@wmButtonColor:							#fff;

// Textove logo
@wmTextLogoColor:						@textColor;
@wmTextLogoAlign:           left;

// Navigace
@wmColorSmallScreenNavBg:			@linkColor;
@wmColorSmallScreenNavActive:	@wmColorNav;

// Level 1
@wmColorNav: 									#fff;
@wmColorNavHover:    					@linkColor;
@wmColorNavLevel1Bg:          @linkColor;
@wmNavLevel1FontSize:         16px;

// Level 2
@wmColorNavLevel2:            @wmColorNavHover;
@wmColorNavLevel2Hover:       @wmColorNavHover;
@wmColorNavLevel2Bg: 					#c5b485;
@wmNavLevel2FontSize:         13px;

// Level 3
@wmColorNavLevel3:            @wmColorNavHover;
@wmColorNavLevel3Hover:       @wmColorNavHover;
@wmColorNavLevel3Bg:          @linkColor;
@wmNavLevel3FontSize:         13px;

// Nadpisy
@headingsFontWeight: 				normal;
@wmH1FontSize:							32px;
@wmH1Color:									@linkColor;
@wmH2FontSize:							28px;
@wmH2Color:									@linkColor;
@wmH3FontSize:							22px;
@wmH3Color:									#999;

@wmH4FontSize:							22px / 1.61;
@wmH4Color:									@linkColor;

// Formulare
@inputBorder:								#ccc;

// --- Vlastni deklarace ---

// Graficky prvek u nadpisu prvni urovne -- carka
// TODO zobecnit pokud se bude vyskytovat i v jinych sablonach
// Ve wm-base.less je deklarace pro totez v podobe trojuhelniku.

// - Zmeny v layoutu -

// Mixin: Navigace vycuhujici do stran
// Automaticky i pro vsechna IE8, uzivatele s IE8 a 1024 a mene jsou cca 2-3% celkove navstevnosti
.stick-out-nav() {
	position: relative;
	z-index: 100; // zobrazeno nad .header-image
	margin-left: -24px;
	width: auto !important; // TODO prebijime .js #sw-main-navigation

	// Trojuhelnicek pod
	&:after {
		z-index: 90; // Schovame pod .header-image
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		content: '';
		width: 0px;
		height: 0px;

    border-top: 0 dotted transparent; // dotted zajisti lepsi vykreslovani ve FF
    border-right: 24px solid darken(@wmColorNavLevel1Bg, 15%);
    border-bottom: 14px solid transparent;
	}

	> ul > li > .nav-item > a,
	> ul > li > .nav-item > strong {
		padding-left: 36px;
	}
}

.nav-container #sw-main-navigation {
	min-height:264px;
	@media (min-width: 1025px) { .stick-out-nav; }
	.old-ie & { .stick-out-nav; }
}

// Obrazek v hlavicce
.header-image-3() {
  .wm-p-header-image {
    .wm-m-proportional-parent(751, 300);

    @relativeMargin: -1.04 * (100 / 74.46808510638297) * 2.127659574468085%;
	// O.O4 je kompenzace pro spatne zaokrouhleni float v nekterych browserech
	width: 100 - (2 * @relativeMargin);
	margin-left: @relativeMargin;
    margin-right: @relativeMargin;

    #sw-header-image {
      .wm-m-proportional-child;
    }
  }
}

@media (min-width: @wmLargeDisplayStart) {
	.header-image-3();
}
.old-ie {
	.header-image-3();
}