// Varianta 2-2

// --- Predefinujeme promenne ---
// (Viz nase wm-variables.less a variables.less pro Bootstrap)

// Typo
@sansFontFamily:          "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
@baseFontSize:            14px;
@baseLineHeight:          24px;

// Barvy
@wmBodyBg:                  #fff;
@textColor:                 #666;
@linkColor:                 #749faf;
@linkColorHover:            #666666;
@tableBackgroundAccent:     #f3f3f3;
@wmButtonColor:             #fff;

// Textove logo
@wmTextLogoColor:           @textColor;
@wmTextLogoAlign:           left;

// Navigace
@wmColorSmallScreenNavBg:     @linkColor;
@wmColorSmallScreenNavActive: #666;

// Level 1
@wmColorNav:                  #fff;
@wmColorNavHover:             #fff;
@wmColorNavLevel1Bg:          @linkColor;
@wmNavLevel1FontSize:         16px;

// Level 2
@wmColorNavLevel2:            @wmColorNavHover;
@wmColorNavLevel2Hover:       @wmColorNavHover;
@wmColorNavLevel2Bg:          #666;
@wmNavLevel2FontSize:         13px;

// Level 3
@wmColorNavLevel3:            @wmColorNavHover;
@wmColorNavLevel3Hover:       @wmColorNavHover;
@wmColorNavLevel3Bg:          @linkColor;
@wmNavLevel3FontSize:         13px;

// Nadpisy
@headingsFontWeight:        normal;
@wmH1FontSize:              32px;
@wmH1Color:                 @linkColor;
@wmH2FontSize:              28px;
@wmH2Color:                 @linkColor;
@wmH3FontSize:              22px;
@wmH3Color:                 #999;

@wmH4FontSize:              22px / 1.61;
@wmH4Color:                 @linkColor;

// Formulare
@inputBorder:               #ccc;

// --- Vlastni deklarace ---

// Obsahovy blok může mít širší a nejširší variantu
.wm-m-wider-content();

// Hlavni nadpisy nemaji oproti zakladu zadny graficky prvek
.content h1:before {
  display: none;
}

// Pozadi

.container-fluid:after {
  position: absolute;
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 480px;
  #gradient > .vertical(@linkColor, #fff);

	// Kdyz ma uzivatel nastavene vlastni pozadi…
	.wm-p-bg-image-photo &,
	.wm-p-bg-image-pattern & {
		background: transparent;
	}
}

.old-ie .container-fluid:after {
  display: none;
}
.old-ie body {
  background: @wmBodyBg url('../images/bg.jpg') repeat-x 0 0;
}


// Horni pruh

@media (min-width: @wmLargeDisplayStart) {
  .container-fluid:before {
    position: absolute;
    z-index: 20;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: @white;
    border-top: 8px solid @linkColor;
  }
}

.old-ie .container-fluid:before {
  position: absolute;
  z-index: 20;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: @white;
  border-top: 8px solid @linkColor;
}

// Stiny kolem obrazku v hlavicce
@media (min-width: @wmLargeDisplayStart) {
  .wm-p-header-image {
    position: relative;

    &:before, &:after {
      position: absolute;
      content: '';
      z-index: 10;
      left: 2.5%;
      bottom: 100%;
      width: 95%;
      height: 40px;
      margin-top: 14px;
      .border-radius(30%);
      .box-shadow(0 0 20px rgba(0,0,0,.3));
    }

    &:after {
      bottom: 0;
      margin-top: 0;
      z-index: 1;
    }

  }
}

// Navigace - pozicovani
.nav-position() {
  .nav-container {
    margin-top: -110px;
    position: relative;
    z-index: 30;
  }
  .nav-container #sw-main-navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    .border-radius(0 0 22px 22px);
  }
}

@media (min-width: @wmLargeDisplayStart) { .nav-position; }
.old-ie & { .nav-position; }


// Navigace s bordery, ktere oddeluji polozky
.striped-nav() {

  width: auto;

  > ul > li > .nav-item > a,
  > ul > li > .nav-item > strong {
    text-align: center;

    border-top: 1px solid rgba(0,0,0,0.1);
    .box-shadow(inset 0 1px 0 rgba(255,255,255,0.15));
  }
  > ul > li:first-child > .nav-item > a,
  > ul > li:first-child > .nav-item > strong {
    border-top: 0;
    .box-shadow(0 0 0);
  }

  .nav-item > a,
  .nav-item > strong {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

#sw-main-navigation {
  @media (min-width: @wmLargeDisplayStart) { .striped-nav; }
  .old-ie & { .striped-nav; }
}

//  Vlastni nastaveni Header Image pro velke displeje
.header-image-2-2-mixin() {
  .wm-p-header-image {
    .wm-m-proportional-parent(939, 285);

    #sw-header-image {
      .wm-m-proportional-child;
      .border-radius(0 0 22px 22px);
      z-index: 5; // correct order of shadows
    }
  }
}

@media (min-width: @wmLargeDisplayStart) {
	.header-image-2-2-mixin();
}
.old-ie {
	.header-image-2-2-mixin();
}

// Buttony jsou kulate
.btn {
  .border-radius(4px);
}

// --- Prepinac jazyku ---

// Nejsou zde kulatiny a mame jine barevne schema
.wm-m-languages a,
.wm-m-languages strong {
	.border-radius(0);
	background: #666;
	color: #fff;

	&:hover,
	&:focus,
	&:active {
		background: #666;
		
		@media (max-width: @wmSmallDisplayEnd) {
			background: #222;
		}		
	}	
	
	@media (max-width: @wmSmallDisplayEnd) {
		background: #222;
	}	
}

.wm-m-languages .item-active {
	strong {
		color: #fff;
		.border-radius(0 0 4px 4px);
	}
	&:after {
		border-color: #fff transparent transparent transparent;		
	}
}

.wm-m-languages:hover,
.wm-m-languages:focus,
.wm-m-languages:active,
.wm-m-languages.active {
	.item-active strong {
		.border-radius(0);
	}
}

.wm-m-languages ul > li:nth-child(2):before,
.wm-m-languages ul > li:last-child:after {
	background: #666;

	@media (max-width: @wmSmallDisplayEnd) {
		background: #222;
	}	
}	

.wm-m-languages ul > li:last-child:after {
  .border-radius(0 0 4px 4px);	
}

// paticka
.wm-l-footer {
	border-top: 4px solid @linkColor;
	
	// Kdyz ma uzivatel nastavene vlastni pozadi…
	.wm-p-bg-image-photo &,
	.wm-p-bg-image-pattern & {
		border-top: 0;
	}	
}