// Varianta 3-1
// Navigace "vycuhujici" do stran (Restaurant)

// --- Predefinujeme promenne ---
// (Viz nase wm-variables.less a variables.less pro Bootstrap)

// Typo
@sansFontFamily: 				sans-serif;
@baseFontSize: 					14px;
@baseLineHeight: 				24px;

// Textove logo
@wmTextLogoColor:				@textColor;
@wmTextLogoAlign:           	left;

// Navigace
@wmColorSmallScreenNavBg:		@linkColor;
@wmColorSmallScreenNavActive:	@wmColorNav;

// Level 1
@wmColorNav: 				  	#fff;
@wmColorNavHover:			  	@linkColor;
@wmColorNavLevel1Bg:          	@linkColor;
@wmNavLevel1FontSize:         	16px;

// Level 2
@wmColorNavLevel2:            	@wmColorNavHover;
@wmColorNavLevel2Hover:       	@wmColorNavHover;
@wmColorNavLevel2Bg:		  	@linkColor;
@wmNavLevel2FontSize:         	13px;

// Level 3
@wmColorNavLevel3:            	@wmColorNavHover;
@wmColorNavLevel3Hover:       	@wmColorNavHover;
@wmColorNavLevel3Bg:          	@linkColor;
@wmNavLevel3FontSize:         	13px;

// Nadpisy
@headingsFontWeight:			normal;
@wmH1FontSize:					32px;
@wmH1Color:						@linkColor;
@wmH2FontSize:					26px;
@wmH2Color:						@linkColor;
@wmH3FontSize:					22px;
@wmH3Color:						#999999;

@wmH4FontSize:					22px / 1.61;
@wmH4Color:						@linkColor;

// Formulare
@inputBorder:					#ccc;

// --- Vlastni deklarace ---
// --- body style ---
h1,h2,h3,h4,h5,h6 {font-family: 'Oswald', sans-serif}

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300&subset=latin,latin-ext);

.nav-container #sw-main-navigation .nav-item>a, .nav-container #sw-main-navigation .nav-item>strong {text-indent: 10px !important;}
#sw-main-navigation li {line-height:21px;}
// - Zmeny v layoutu -
// - menu je pri mensich rozliseniach vzdy napravo a content uz nema biely padding
@media (max-width: 1000px) {
		.nav-container {
		margin-left: 0;
		right: 0px;
		left: auto;}
		}
@media (min-width: 1060px) {
	.widest {width: 100% !important; margin-left: -30px;}
	.wm-l-header h1 {padding-left:0px !important}		
	// header je odsadeny zlava
	}

// content resising
.content, .wm-l-footer {width:75%}
.wider {width:85%}
.widest {width:auto;}

	

// Obrazkove pozadie v menu
.nav-container, .nav-container ul ul   {background: transparent url('../images/menu_bg.png') center top repeat;	background-color:transparent;
	> li a, > li strong {line-height:25px}
	}


// old IE bug fixing
.old-ie .container-fluid {width:980px}
 
// Logo zarovnane vlavo
#sw-logo h1 {color:#FFF; text-align:left;}

// Header obrazok
.header {background:transparent url('../images/header_bg.png') center bottom repeat-x !important; margin-bottom:-10px; z-index:50002; position:relative; padding:10px 0;}
.wm-p-header-image {margin-bottom:0;}
.shadow {width:auto; background: transparent url('../images/shadow.png') center bottom repeat-x; height:17px;position:relative;}



// Zosvetlenie ikoniek
.sw-icon {opacity:.7}


// male upravy posunutia menu pre mobily
@media (max-width: 599px){
.sw-nav-toggle .btn {color:white; margin:0; height:30px; padding: 2px 17px 0 17px}
.wm-m-languages {top:12px;}
.shadow {margin-left: -10px;margin-right: -10px;}
 }
//mobile header je na layoute bez marginu
.wm-l-mobile-header {margin:0 0 0 -10px}
.wm-l-header h1 {padding-left:20px}		
.wm-l-footer {padding-top:5px; padding-bottom:5px}