// Varianta 2-1
// Navigace vedle header image (Joinery)

// --- Predefinujeme promenne ---
// (Viz nase wm-variables.less a variables.less pro Bootstrap)

// Typo
@sansFontFamily: 					"Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
@baseFontSize: 						14px;
@baseLineHeight: 					24px;

// Barvy
@wmBodyBg:									~"#999";
@textColor: 								#666;
@linkColor: 								#c6a53d;
@linkColorHover:						#666666;
@tableBackgroundAccent: 		#f3f3f3;
@wmButtonColor:							#fff;
@wmTextLogoColor:						#e6e6e6;
@wmFooterColor:							#ccc;

// Navigace
@wmColorNavLevel1Bg: 					@linkColor;
@wmColorNavLevel2Bg: 					#a28939;
@wmColorNavLevel3Bg: 					@linkColor;
@wmColorSmallScreenNavBg:			#555;
@wmColorSmallScreenNavActive:	#999;
@wmNavLevel1FontSize: 				16px;
@wmNavLevel2FontSize: 				13px;
@wmNavLevel3FontSize: 				13px;

// Nadpisy
@headingsFontWeight: 				normal;
@wmH1FontSize:							32px;
@wmH1Color:									@linkColor;
@wmH2FontSize:							28px;
@wmH2Color:									@linkColor;
@wmH3FontSize:							22px;
@wmH3Color:									#999;

// Formulare
@inputBorder:								#ccc;

// .container nema pozadi, hlavicka a obsah ano

.content-container-inside {
	background: #e5e5e5;
	margin: 0 !important;
	.box-shadow(0 0 6px rgba(0,0,0,.27));	
	padding: 20px;
	
	@media (max-width: @wmSmallDisplayEnd) {	
		padding: 0 0 20px 0;
	}	
}

.content-container {
	background: transparent;
	padding: 0;
}

//  Vlastni nastaveni Header Image

.wm-p-header-image {
	margin-bottom:20px;
	// Vlastni proporce podle PSD
	.wm-m-proportional-parent(680, 296);	
	
	#sw-header-image {
		.wm-m-proportional-child;
	}
	
	// Na mobilech pak nepotrebujeme zaporny margin do stran
	@media (max-width: @wmSmallDisplayEnd) {
		margin-left: 0;
		margin-right: 0;		
	}		
}

// patièka
.wm-l-footer {
	border-top: 4px solid @linkColor;
}

// --- Prepinac jazyku ---

// Posunuty doleva i na velkych displejich
.wm-m-languages {	
	margin-left: 980px/2 - 160px - 20px;

	@media (min-width: @wmLargeDisplayStart) and (max-width: 1024px) {
		right: 30px;
	}	
}
