/* 
Pagelet: Obrázek na pozadí
==============================================================================

V adminu Webmium se dá nastavit jak se má zobrazovat obrázek na pozadí `<body>`:

1. Obrázek — v CSS pak `.wm-p-bg-image-photo` 
2. Opakující se vzor — v CSS pak `.wm-p-bg-image-pattern`

*/ 

// Tridy, ktere urcuji typ obrazku
// pridavaji se javsacriptem primo na <body>
 
// Obrazek 
.wm-p-bg-image-photo {
	background-attachment: fixed;
	.background-size(cover);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

// Opakujici se vzor
.wm-p-bg-image-pattern {
	background-attachment: fixed;
	background-position: top left;
	background-repeat: repeat;
}

@media (max-width: 599px) {
  .wm-p-bg-image-pattern {
	background-image:none;}
}