/*  
Pagelet: „Sloupečkátor”
==============================================================================

Třída `wm-p-columns`. 

Umožňuje uživateli vytvořit si "řádku" layoutu.  
Výchozí hodnota jsou dva sloupečky, maximum čtyři.

Padding mezi buňkami je výchozí (2%), `.padding-wider` (5%) nebo `.padding-zero` (0);


HTML ukázky
-----------

### 2 sloupečky, rovnoměrné a základní padding (2%)

```
<div class="wm-p-columns">
  <div class="wm-p-columns-in"> 
    <div class="wm-p-columns-column" style="width:50%">      
      <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
      </section>            
    </div><!-- .wm-p-columns-column -->        
    <div class="wm-p-columns-column" style="width:50%">
	    <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
	    </section>
    </div><!-- .wm-p-columns-column -->         
  </div><!-- .wm-p-columns-in -->  
</div><!-- .wm-p-columns -->
```		

### 3 sloupečky, s rozměry a větší padding (5%)

```
<div class="wm-p-columns padding-wider">
  <div class="wm-p-columns-in"> 
    <div class="wm-p-columns-column" style="width:50%">      
      <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
      </section>            
    </div><!-- .wm-p-columns-column -->        
    <div class="wm-p-columns-column" style="width:25%">
	    <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
	    </section>
    </div><!-- .wm-p-columns-column -->   
    <div class="wm-p-columns-column" style="width:25%">
	    <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
	    </section>
    </div><!-- .wm-p-columns-column -->      
  </div><!-- .wm-p-columns-in -->  
</div><!-- .wm-p-columns -->
```


### 4 sloupečky, s rozměry a bez paddingu

```
<div class="wm-p-columns padding-zero">
  <div class="wm-p-columns-in"> 
    <div class="wm-p-columns-column" style="width:40%">      
      <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
      </section>            
    </div><!-- .wm-p-columns-column -->        
    <div class="wm-p-columns-column" style="width:20%">
	    <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
	    </section>
    </div><!-- .wm-p-columns-column -->   
    <div class="wm-p-columns-column" style="width:20%">
	    <section class="wm-p-simple-text">
	      <p>Poznání vteřinu způsobila blíž v skříni tomu uvolnění, nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
	    </section>
    </div><!-- .wm-p-columns-column -->      
    <div class="wm-p-columns-column" style="width:20%">
	    <section class="wm-p-simple-text">
	      <p>Nádoby ty výjimky, již o a nakažení od seznamujete upozornila vysvětluje divné člen a nic.</p>
	    </section>
    </div><!-- .wm-p-columns-column -->
  </div><!-- .wm-p-columns-in -->  
</div><!-- .wm-p-columns -->

Více ukázek je v `html-tests/pagelet-columns.html`.

```

*/

// Tabulkovy layout

.wm-p-columns {
	display: table;
	width: 100%;
	clear: both;	
}

.wm-p-columns-in {
  display: table-row;
}

.wm-p-columns-column {
  display: table-cell;
  padding-right: 2%;
  vertical-align: top;
}  

// Varianty: Ruzne sirky paddingu

.wm-p-columns.padding-wider {
	.wm-p-columns-column { padding-right: 5%; }
}	

.wm-p-columns.padding-big {
  .wm-p-columns-column { padding-right: 8%; }
} 

.wm-p-columns.padding-zero {
	.wm-p-columns-column { padding-right: 0; }
}

.wm-p-columns-in > .wm-p-columns-column:last-child {
  padding-right: 0;
}

// Na malych displejich rozpadneme pod sebe

@media (max-width: @wmSmallDisplayEnd) {
	.wm-p-columns,
	.wm-p-columns-in,
	.wm-p-columns-column {
		display: block;
		width: auto !important;
		padding-right: 0;
	}	
}