/*  
Pagelet: Kontaktní info
==============================================================================

Třída `.contactPagelet`

TODO 
----

- oldskul třída a složité HTML
- Retina-friendly ikonky z ikonfontu
- zarovnání ikonek s textem na Windows 7


Ukázka HTML:
------------

```
<!-- Pagelet: Kontaktni info -->
<section class="contactPagelet" data-sw-pagelet="{&quot;id&quot;:&quot;4d5b6d61-30d6-4fb8-9014-5e0848f0ae3a&quot;,&quot;type&quot;:&quot;Contact&quot;}">
	<h1 class="sw-contact-heading">Webmium, s.r.o.</h1>
	<div class="AddressPart blockWithMargin">
		<div class="businessOwner">
			<div class="sw-contact-label"></div>
			<div class="sw-contact-field sw-contact-businessOwner">TEST</div>
		</div>
		<div>
			<div class="sw-contact-label"></div>
			<div class="sw-contact-field sw-contact-street">Antala Staška 1565/30</div>
		</div>
		<div>
			<div class="sw-contact-label"></div>
			<div class="sw-contact-field sw-contact-street2">U chobota</div>
		</div>
		<div>
			<div class="sw-contact-label"></div>
			<div class="sw-contact-field sw-contact-city">Praha 4</div>
		</div>
		<div>
			<div class="sw-contact-label"></div>
			<div class="sw-contact-field sw-contact-zip">110 00</div>
		</div>
		<div>
			<div class="sw-contact-label"></div>
			<div class="sw-contact-field sw-contact-countryID">Česká republika</div>
		</div>
	</div>
	<div class="CompanyPart blockWithMargin">
		<div>
			<div class="sw-contact-label">Company ID</div>
			<div class="sw-contact-field sw-contact-companyIdentificationNumber">68168861</div>
		</div>
		<div>
			<div class="sw-contact-label">Taxes ID</div>
			<div class="sw-contact-field sw-contact-vat">CZ68168861</div>
		</div>
	</div>
	<div class="ContactPart blockWithMargin">
	<div class="caligraphy phone">
		<div class="sw-icon"></div>
		<div class="sw-contact-field sw-contact-phone">123 456 789</div>
	</div>
	<div class="caligraphy phone">
		<div class="sw-icon"></div>
		<div class="sw-contact-field sw-contact-secondaryPhone">123 456 789</div>
	</div>
	<div class="caligraphy fax">
		<div class="sw-icon"></div>
		<div class="sw-contact-field sw-contact-fax">123 456 789</div>
	</div>
	<div class="caligraphy email">
		<div class="sw-icon"></div>
		<a class="sw-contact-field sw-contact-email" href="mailto:email@vasemail.cz">email@vasemail.cz</a>		</div>
	<div class="caligraphy email">
		<div class="sw-icon"></div>
		<a class="sw-contact-field sw-contact-secondaryEmail" href="mailto:machal77@gmail.com">machal77@gmail.com</a>		</div>
	<div class="caligraphy web">
		<div class="sw-icon"></div>
		<a class="sw-contact-field sw-contact-homepageUrl" href="http://www.vzhurudolu.cz">http://www.vzhurudolu.cz</a>		</div>
	</div>

	<div class="SocialsPart blockWithMargin">
		<div class="socialIcon facebook">
			<a class="sw-contact-field sw-contact-facebook" href="https://www.facebook.com/" title="https://www.facebook.com/"></a>
		</div>

		<div class="socialIcon googlePlus">
			<a class="sw-contact-field sw-contact-googlePlusUrl" href="https://plus.google.com/" title="https://plus.google.com/"></a>
		</div>

		<div class="socialIcon twitter">
			<a class="sw-contact-field sw-contact-twitter" href="http://www.twitter.com/https://twitter.com/" title="http://www.twitter.com/https://twitter.com/"></a>
		</div>

		<div class="socialIcon skype">
			<a class="sw-contact-field sw-contact-skype" href="skype:machal?call" title="skype:machal?call"></a>
		</div>

		<div class="socialIcon youTube">
			<a class="sw-contact-field sw-contact-youTubeUrl" href="http://www.youtube.com/" title="http://www.youtube.com/"></a>
		</div>

		<div class="socialIcon linkedIn">
			<a class="sw-contact-field sw-contact-linkedInUrl" href="http://www.linkedin.com/" title="http://www.linkedin.com/"></a>
		</div>
	</div>

	<div class="DescriptionPart blockWithMargin">
		<div>
			<div class="sw-contact-label"></div>
			<div class="sw-contact-field sw-contact-description">Naši obyčejné já zásad poznání navštívíte tvoří diváka ekologii o jméno z tu. Hlídá charisma získaly a bouřlivý sedmikilometrového výběr zjištěný sovětské souvislosti sociální velmi sounáležitosti odehrálo jedná ležet nadšení odolný svatého nastartování vysvětluje fyzikům.</div>
		</div>
	</div>

	<footer>
		<input type="hidden" name="id" value="4d5b6d61-30d6-4fb8-9014-5e0848f0ae3a">
		<input name="__RequestVerificationToken" type="hidden" value="FqkTBiDYfzkSlxp0QgfPyrkf0rrDGVdQ5W+H+cKOEuVljNIDvoP8d+1jX2DmUpWyOJPfe1lAHSu1HuVuugLaX82mYCeJl2XxTVOOQhphaVMXSPPdwf5iKPK/sZayDTdaCDFy54pIEUXglp6e+lf2joTVfIu9/xJvpMFE1c4hMEfi0N+W">
	</footer>
</section>
```
*/

.contactPagelet {
	clear: both;	
	.wm-m-section;
	.row-fluid;

	.blockWithMargin {
		margin-bottom: @baseLineHeight;
	}

	// Leva strana: Adresa, ICO atd.
	.AddressPart,
	.CompanyPart {
		width: 60%; // 5 z 8 sloupcu minus padding
		float: left;

		// Na malych screenech a uvnitr sloupeckoveho pageletu nemame layout		
		@media screen and (max-width: @wmLargeDisplayStart) {
			float: none;
			width: auto;
			margin-left: 0;
		}
		
		.wm-p-columns & {
			float: none;
			width: auto;
			margin-left: 0;			
		}
	}

	// Prava strana: e-maily, telefony, domena…
	.ContactPart,
	.SocialsPart {
		width: 37.5%; // 3 z 8 sloupcu
		margin-left: 60%;

		// Na malych screenech a uvnitr sloupeckoveho pageletu nemame layout		
		@media screen and (max-width: @wmLargeDisplayStart) {
			width: auto;
			margin-left: 0;
			text-align: center;
		}
		
		.wm-p-columns & {		
			float: none;
			width: auto;
			margin-left: 0;		
		}
	}

	// Dole: popisek kontaktu
	.DescriptionPart {
		clear: both;
	}

	// Label/field - napr. ICO a cislo
	.sw-contact-label,
	.sw-contact-field {
		display: inline;
	}

	// Nazev firmy
	.sw-contact-businessOwner {
		font-weight: bold;
	}

	.caligraphy {
		height: @baseLineHeight;
		overflow: hidden;
		white-space: nowrap;
	}

	// Ikonky u kontaktu
	.caligraphy .sw-icon {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin: 0 7px 0 0;
		background-repeat: no-repeat;
		background-image: url("http://www.webmium.com/CDN/images/templates/contactPageletIconsDark.png");

		// Na mobilech se zobrazuji v tlacitku, takze svetle verze
		@media (max-width: @wmSmallDisplayEnd) {
			margin-bottom: -3px;
			background-image: url("http://www.webmium.com/CDN/images/templates/contactPageletIconsLight.png");
		}
	}

	.caligraphy.phone .sw-icon { background-position: 0px 0px; }
	.caligraphy.fax .sw-icon	{ background-position: 0px -16px; }
	.caligraphy.email .sw-icon	{ background-position: 0px -32px; }
	.caligraphy.web .sw-icon	{ background-position: 0px -48px; }

	// Kontaktni telefony a email: na malych screenech jsou z nich poradna tlacitka
	.caligraphy {
		@media screen and (max-width: @wmLargeDisplayStart) {
			.btn;
			display: block;
			margin-bottom: @baseLineHeight/2;
		}
	}

	// Ikonky socialnich siti
	.socialIcon {
		margin-top: -2px;
		background-image: url("http://www.webmium.com/CDN/images/templates/contactPageletIconsDark.png");
		background-repeat: no-repeat;
		
		&, a {
			display: inline-block;
			height: 23px;
			width: 23px;
		}
		
		// Editor uvnitr <a> generuje prazdny znak
		a {
			text-decoration: none;
		}		
	}

	.socialIcon.facebook	{ background-position: 0px -64px; }
	.socialIcon.twitter		{ background-position: 0px -87px; }
	.socialIcon.skype 		{ background-position: 0px -110px; }
	.socialIcon.googlePlus { background-position: 0px -156px; }
	.socialIcon.youTube		{ background-position: 0px -133px; }
	.socialIcon.linkedIn	{ background-position: 0px -179px; }
}