/* 
Pagelet: Facebook komentáře
==============================================================================

Třída `.sw-facebookcomments-pagelet`.

Hrubě předefinováváme CSSko Facebooku, víc zatím neřešíme.

*/

.sw-facebookcomments-pagelet {
	clear: both;	
	.wm-m-section;
	width:100%;

	span {
		width:100% !important;

		iframe {
			width:100% !important;
			position:initial;
		}
	}
}