/* 
Pagelet: Fotogalerie
==============================================================================

Třída `.wm-p-gallery`.

Možné nastavit **počet obrázků na na šířku stránky**. 
1, 2, 3 nebo 4 (`.with-2-items`, `.with-3-items`, `.with-4-items`).

Na malých screenech se fotogalerie vždy přeformátuje do karuselu. Na velkých 
si můžeme **zobrazení v karuselu** vynutit nastavením ve WM adminu. V CSS je to třída `.with-carousel`.

Ukázka 
------

Galerie se třemi položkami na řádku. Bez karuselu. 
HTML vnitřní části generuje javascript:

```
<section class="wm-p-gallery" data-sw-pagelet='{"id":"84b408f4-b6a7-4b61-b9a0-7a1bea5f55c3","type":"Gallery1","images":[{"id":"1bcf8794-5554-47dd-a272-ae636618400b","caption":null,"detailUrl":"images/img0936.jpg","thumbnailUrl":"images/500x500.gif","width":200,"height":200},{"id":"db9de88c-c286-4723-acd4-c16c313dfe7f","caption":null,"detailUrl":"images/img0947.jpg","thumbnailUrl":"images/500x500.gif","width":200,"height":200},{"id":"fb300b4e-9167-4bc6-83b1-b4c1f43e6c83","caption":null,"detailUrl":"images/500x500.gif","thumbnailUrl":"images/500x500.gif","width":200,"height":200},],"crop":0,"imageSize":200,"pageSize":1000,"numberOfColumns":4,"showCaptions":true}'>
<div id="sw-gallery" class="sw-gallery-wrapper with-3-items" style="overflow: hidden">
    <div class="sw-gallery">
                <div class="sw-gallery-list">
                        <div class="sw-gallery-add-image"></div>
                </div>
        </div>
    </div>
</section>
```

*/


// --- Pagelet: Fotogalerie ---
// Defaultne:
// - bez karuselu
// - 1 obrazek na radku

.wm-p-gallery {
	clear: both;	
	.wm-m-section;	
}

.sw-gallery-wrapper {
  position: relative;
	overflow: hidden;
}

.sw-gallery-list {
	margin-right: -5px; // Rezerva pro margin posledniho .sw-gallery-item
  -webkit-overflow-scrolling: touch;	
}

// Jednotliva fotka
.sw-gallery-item {	
	display: inline-block;	
	padding: 0 5px 5px 0;
	margin: 0;
	width: 100%; // 1 polozka na radek
	.box-sizing(border-box);
	
	a {
		display: block;
		margin: 0 0 -5px 0;	// Prazdna mezera zezdola pryc - pocitano podle typosky WM sablon
	}
	
	// Obrazky vzdy roztahujeme na plnou sirku i kdyz je vetsi nez original 
	// JS chytristika totiz umi v takovem pripade umi stahnout lepsi verzi obrazku
	img {
		width: 100%; 
		height: auto;
	}
}

// - Varianta: S karuselem -

.sw-gallery-wrapper.with-carousel {
	.wm-m-proportional-parent(10, 9); // 10:9
	
	.sw-gallery-list {
		.wm-m-proportional-child;
		white-space: nowrap;
		overflow-x: scroll;		
		overflow-y: hidden;
	}		
	
	.sw-gallery-item {
		width: 90%; // Chceme, aby dalsi obrazek vycuhoval
	}	
}


// - Varianta: 4 obrazky na radku -
// TODO varianty 2, 3, 4 do mixinu

.sw-gallery-wrapper.with-4-items {
	.sw-gallery-item {
		width: 100% / 4;
	}	
	
	// V kombinaci s karuselem: 
	// … jiny pomer stran karuselu
	&.with-carousel {
		padding-bottom: 100% / 4 * .9;
	}
	
	// … ukazeme i vycuhujici kousek dalsi fotky
	&.with-carousel .sw-gallery-item {
		width: 90% / 4;
	}
}

// - Varianta: 3 obrazky na radku -

.sw-gallery-wrapper.with-3-items {
	.sw-gallery-item {
		width: 100% / 3;
	}	
	
	// V kombinaci s karuselem: 
	// … jiny pomer stran karuselu
	&.with-carousel {
		padding-bottom: 100% / 3 * .9;
	}
	
	// … ukazeme i vycuhujici kousek dalsi fotky
	&.with-carousel .sw-gallery-item {
		width: 90% / 3;
	}
}

// - Varianta: 2 obrazky na radku -

.sw-gallery-wrapper.with-2-items {
	.sw-gallery-item {
		width: 100% / 2;
	}	
	
	// V kombinaci s karuselem: 
	// … jiny pomer stran karuselu
	&.with-carousel {
		padding-bottom: 100% / 2 * .9;
	}
	
	// … ukazeme i vycuhujici kousek dalsi fotky
	&.with-carousel .sw-gallery-item {
		width: 90% / 2;
	}
}

