/* 
Pagelet: Textový blok
==============================================================================

* Textový blok, ve kterém se používá výchozí typografie.
* Tenhle pagelet se někdy používá uvnitř jiných modulů a pageletů, např. v patičce (`.wm-l-footer`)
* Třída `.wm-p-simple-text`.
* Uvnitř lze používat obrázky a přidávat jim floatování pomocí obecných tříd `.sw-float-right` a `.sw-float-left`


Ukázka
------

```
<section class="wm-p-simple-text" data-sw-pagelet='{"id":"88c42bef-0f32-4e69-9188-3ea413d65cc1","type":"SimpleText"}'>
  <h1>Labe v Ústí přestalo stoupat</h1>
  <p>Jestli byl Karlův most současnou povodní poškozen, tak jen nepatrně a jeho obdivovatelé a návštěvníci by neměli n
    <img class="sw-float-right" src="../_common/images/temp_img_1.jpg" alt="" width="207" height="191">ic poznat, míní expert.</p>
  <p>"Jsem přesvědčen, že most je v naprosto stabilním stavu a že na něm nejsou takové poruchy, které by ohrožovaly jeho stabilitu," říká Ševců.&nbsp;</p>
</section>
```

*/

.wm-p-simple-text {
	clear: both;	
	.wm-m-section;
	.wm-m-fluid-images;

	// Obrazky na mensich screenech
	img {
		.wm-m-image-on-small-display;
	}
}

.wm-p-simple-text {
	h1, h2, h3 { // Druhy a dalsi nadpis maji odsazeni zezhora
		&:nth-child(n+2) {
			margin-top: @baseLineHeight;
		}
	}
}