/* 
Pagelet: Video
==============================================================================

* Třída `.wm-p-video`.
* Počítáme s proporcemi 16:9

Ukázka
------

```
<section class="wm-p-video" data-sw-pagelet='{"id":"23194663-98ff-44c9-9688-78e58515cffa","type":"Youtube","heading":null,"videoKey":"Htkjwp19QuE","width":450,"height":338,"templateGeneration":1}'>
  <iframe width="450" height="338" src="http://www.youtube.com/embed/Htkjwp19QuE?wmode=transparent"></iframe>
</section>
```

*/

.wm-p-video {
	clear: both;	
	.wm-m-section;
	.wm-m-proportional-parent(16,9); // 16:9

	iframe,
	video {
		.wm-m-proportional-child;
	}
}

.sw-video {
	border: 0;
	.wm-m-section;
}