/* 
Základna a typografie
==============================================================================

Žádné specifické třídy, definice přímo pro HTML elementy.

*/


a img {
	border: 0;
}

// :hover stavy jsou nasi vlastni barvy

a:hover,
a:focus,
a:active {
	color: @linkColorHover;
}

a {
	text-decoration: underline;

	#sw-main-navigation &,
	.sw-nav-toggle & {
		text-decoration: none;
	}
}

// Neresizovat font po polozeni iPhone a WP na sirku
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// Pozadi stranky vzdy ruzne
body {
	background: @wmBodyBg;
}

/* 
Práce s obsahem
---------------

Opravíme ošklivou Bootstrap typosku nadpisu
a přidáme vlastní velikosti pro mobilní displeje.
*/

// Nadpisy + pridame si pro ne vlastni tridy

.h1, .h2, .h3 {
	margin-top: 0;
}

.h1 {
	font-size: @wmH1FontSize;
	line-height: @wmH1FontSize * 1.2;
	color: @wmH1Color;

	@media (max-width: @wmMobileDisplayEnd) {
		font-size: @wmH1FontSize * .7;
		line-height: @wmH1FontSize * .8;
	}
}

.h2 {
	font-size: @wmH2FontSize;
	line-height: @wmH2FontSize * 1.2;
	color: @wmH2Color;

	@media (max-width: @wmMobileDisplayEnd) {
		font-size: @wmH2FontSize * .7;
		line-height: @wmH2FontSize * .8;
	}
}

.h3 {
	font-size: @wmH3FontSize;
	line-height: @wmH3FontSize * 1.2;
	color: @wmH3Color;

	@media (max-width: @wmMobileDisplayEnd) {
		font-size: @wmH3FontSize * .7;
		line-height: @wmH3FontSize * .8;
	}
}

h1 { .h1 }
h2 { .h2 }
h3 { .h3 }

// Graficky prvek u hlavniho nadpisu, *ODSTRANENE KVOLI BUGOM, ZAKOMENTOVANE
// .content h1 {
//  z-index: 0;
//  padding-right: 0.6em;

//  &:before {
//  position: absolute;
//  content: '';
//  top: 0;
//  right: 0;

//  border-top: 0.6em solid @linkColor;
//  border-left: 0.6em solid transparent;
//  border-right: 0px dotted transparent;
//    }
//  }

// …nezobrazujeme uvnitr sloupeckove pageletu
.wm-p-columns h1 {
  position: static;
  &:before { display: none; }	
}

// Tabulka s Bootstrapovskymi prouzky upravena podle nasich potreb
.content table {
	.table;
	.table-striped;

	thead {
		td, th {
			font-weight: normal;
			color: @white;
			background: @linkColor;
		}
	}

	td, th {
		border: none;
	}
}

// Necislovany seznam
.content ul {
  list-style: none;

  li {
    position: relative;
  }
  li:before {
    position: absolute;
    left: -17px;
    color: @linkColor;
    content: "\25aa";
  }
}


// Drag'n'drop obrazku v administracnim rozhrani
img.dragged {
	max-width: 200px;
	height: auto;
}

/* 
Naše "flat" formuláře a tlačítka
--------------------------------
*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	.box-sizing(border-box);
	width: 100%;
	color: @textColor;
	font-size: 13px;
	line-height: 21px;
	padding-top: 0;
	padding-bottom: 0;
	.border-radius(0);

  &:focus {
    border-color: darken(@btnBorder, 20%);
    .box-shadow(none);
  }
}

// HTML5 forms validaci zatim pryc
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: @textColor;
  border-color: @btnBorder;
  &:focus {
    border-color: darken(@btnBorder, 20%);
    .box-shadow(none);
  }
}

label {
	margin-bottom: 2px;
}

/* 
Buttonky
--------
*/

.btn {
	display: inline-block;
	padding: 0 17px;
	font-size: @baseFontSize;
	line-height: @baseLineHeight*1.25;
	height: @baseLineHeight*1.25;	
	color: @wmButtonColor;
	background: @linkColor;
	border: none;
	-webkit-appearance: none; // Pryc iOS vynucene stylovani
	.box-sizing(border-box);
	.border-radius(0);

	&:hover,
	&:focus,
	&:active {
		color: @wmButtonColor;
		background: @linkColorHover;
	}

	a {
		color: @wmButtonColor;
	}	
}