/* 
Layout
==============================================================================

`.container`, `.content-container`, `.content`
*/

// Kontejner pro cely layout webu
.container-fluid {
	max-width: 980px; // 940 + 2 * @gridGutterWidth - viz BS
	margin: 0 auto 20px;
	padding: 0;
	.box-sizing(border-box);

	.old-ie & {
		width: 940px;
	}

	// Sirka layoutu, kdy je potreba ho vycentrovat se lame zhruba kolem 1000px
	@media (max-width: 1000px) {
		margin-left: 10px;
		margin-right: 10px;
	}
}

// Kontejner pro obsah
// (hlavicka a paticka jsou mimo)
.content-container {
	background: @white;

	@media (max-width: @wmSmallDisplayEnd) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

// Obsah stranky
.content {
	margin-left: 10px;
	margin-right: 10px;
}