/* 
Layout šablon
==============================================================================

Třídy s prefixem .wm-t-

Kvůli zpětně kompatibility s fázi vývoje, kdy se zdálo, že nebudeme moci
upravovat HTML.

TODO
----

- pryč s tím a nahradit změnami v HTML

*/

// Dvousloupcová šablona
// ---------------------

.wm-t-twocolumn {
	
	// Logo
	.wm-l-header {
		.span;
		.span12;
		.span-first;		
	}

	// Navigace	
	#sw-main-navigation {
		clear: both;
		.span;
		.span4;
		.span-first;
	}	
	
	// Header Image
	.wm-p-header-image {
		.span;		
		.span8;
		position: relative;
		height: 0;
	  padding-bottom: 9/16*65.95%;
		
		#sw-header-image {
			.wm-m-proportional-child;
		}
	}
}

// Jednoslopucová šablona
// ----------------------

.wm-t-onecolumn {
	
	// Header Image
	.wm-p-header-image {	
		.wm-m-proportional-parent(10, 3);
		
		#sw-header-image {
			.wm-m-proportional-child;
		}
	}		
}