/* 
Proměnné
==============================================================================

Naše proměnné mají prefix `@wm`. Všechny ostatní patří k Bootstrapu.

*/

// Typoska
@wmH1FontSize:					32px;
@wmH1Color:							@textColor;
@wmH2FontSize:					28px;
@wmH2Color:							@textColor;
@wmH3FontSize:					22px;
@wmH3Color:							@textColor;

// Barvy co nejsou v Bootstrapu
@wmBodyBg:								#ddd;
@wmButtonColor:						@textColor;

// Logo
@wmTextLogoColor:					@textColor;
@wmTextLogoAlign:         center;

// Footer
@wmFooterColor:           #666;
@wmFooterBackground:      transparent;

// Navigace

@wmColorSmallScreenNavBg: 		#555;
@wmColorSmallScreenNavActive:	#999;

// Level 1
@wmColorNav:               #fff;
@wmColorNavHover:          #fff;
@wmColorNavLevel1Bg:       #666;
@wmNavLevel1FontSize: 16px;

// Level 2
@wmColorNavLevel2:         #fff;
@wmColorNavLevel2Hover:    #fff;
@wmColorNavLevel2Bg:       #999;
@wmNavLevel2FontSize: 13px;

// Level 3
@wmColorNavLevel3:         #fff;
@wmColorNavLevel3Hover:    #fff;
@wmColorNavLevel3Bg: #ccc;
@wmNavLevel3FontSize: 13px;

// RWD breakpointy
@wmLargeDisplayStart: 600px;
@wmSmallDisplayEnd: 	599px;
@wmMobileDisplayEnd: 	480px;

