/*

Typografická základna
=====================

Resp. úpravy základny Bootstrapu.
Vše co nelze udělat proměnnými nebo jinak elegantně.

Tyto prvky jsou natolik standardní Boostrap, že je neprefixujeme vc-

TODO: nepotřebujeme?

*/

body {
  font-weight: 300;
}

dt {
  font-weight: 500;
}

a { text-decoration: underline; }

// Zmensovani nadpisu v obsahu na malych displejich
// Pokud je logo mensi, zmensuji se i nadpisy

@media only screen and (max-width: 410px) {

  .vc-content h1,
  .vc-content .h1 {
    font-size: (@font-size-h1 / 1.5);
  }

  .vc-content h2,
  .vc-content .h2 {
    font-size: (@font-size-h2 / 1.2);
  }

  .vc-content h3,
  .vc-content .h3 {
    font-size: (@font-size-h3 / 1.2);
  }

}

// Textarey chceme umožnit zvětšovat jen na výšku

textarea {
  resize: vertical;
}

.table {
  > thead {
    > tr {
      > th {
        background-color: @vc-bg-lightest;
        font-weight: 500;
      }
    }
  }

  th { font-weight: 500; }
}

// tabulka s tečkovanými řádky
.vc-table-dotted {
  border-bottom-style: dotted;

  > tbody,
  > thead {
    > tr {
      > td,
      > th {
        border-top-style: dotted;
      }
    }
  }

  > thead {
    > tr {
      > th {
        border-bottom-width: 1px;
      }
    }
  }
}

caption {
  padding: @vc-table-cell-padding-base*2 0;
  text-align: right;
  font-size: @font-size-small;
}

b, strong { font-weight: 500; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: @line-height-computed * 2;
  margin-bottom: @line-height-computed;
  font-weight: 300;
}

h2, .h2 { color: @vc-color-orange; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: @line-height-computed * 1.5;
}

blockquote {
  padding: @line-height-computed;
  padding-left: @line-height-computed * 2;
  margin: @line-height-computed 0 @line-height-computed*1.5;
  border-left: 5px solid @blockquote-border-color;
  background-color: #FAFAFA;
}
