body { 
  margin: 20px; 
  padding: 0; 
  background: #fff; 
  font: 12px/17px 'Helvetica Neue', sans-serif;
}

.column {
	float: left;
	position: relative;
	width: 340px;
	margin: 0 20px 20px 0;
	padding: 20px;
	border: 1px solid #eee;
	min-height: 660px;
}

h1 {
	font: 17px/25px sans-serif;
	margin-top: 20px;
}

a {
	color: #666;
}

.info {
	position: absolute;
	top: 23px;
	left: 130px;
	width: 220px;
	font: 10px/14px sans-serif;
	color: #999;
	margin: 0;
}

/* Width, height and position expected within submit button */ 
.container { 
  position: absolute; 
  top: 20px; 
  left: 20px; 
  z-index: 10; 
  width: 61px; 
  height: 30px; 
  background: #33FF00; 
  margin: 0;
  padding: 0;
  opacity: .5; 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

pre code {
	display: block;
	background-color: #eee;
	color: #666;
	padding: 10px;
	font-family: Monaco, Consolas, 'DejaVu Sans Mono', monospace;
}

pre code strong {
  font-weight: normal;
	color: #aaa;
}