/*

# Layout webu

*/

// Uprava rodicovskeho elementu BS
.container-fluid {
  position: relative;
  margin-top: @line-height-computed;
  max-width: 1200px;
}


// Nas element pro obsah stranky (vse mimo hlavicku a paticku)
.content {
  .layout-col-base;
  .layout-col(12);
  margin-top: @line-height-computed;
  margin-bottom: 3*@line-height-computed;
}


// Uzsi obsah, napr. v detailu produktu
.content-narrower {
  @media only screen and (min-width: @layout-start) {
    .layout-col(8);
    float: right;
  }
}
