/*

# Login

Přihlášení v hlavičce webu.

*/

// Pokud je načtený JS, ihned schováme

.js .login {
  display: none;
}

// Base

.login {
  clear: both;
  padding: @padding-base-horizontal;
  margin-bottom: @line-height-computed/2;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fff;
}

hr {
  border-color: #bbb;
}

.form-group {
  .clearfix;
}

.login-facebook {
  text-align: center;
}

.login-btn-lost-pswd {
  float: left;
  margin-left: -1*@padding-base-horizontal;
}

.login-btn-login {
  float: right;
}


// Velké displeje
// - do absolutně pozicované vrstvy

@media only screen and (min-width: 600px) {

  .login {
    position: absolute;
    top: 60px;
    z-index: 55000; // Kvuli Pine.js
    width: 320px;
    right: @grid-gutter-width / 2;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-radius: @border-radius-base;
  }

}
