/*

# Motivation Box

Motivační body, hlavně pro detail produktu.

*/

.motivation-box {
    margin: 0;
    padding: 0;
    list-style-type: none;    

	border: 1px solid @input-border;	
	border-radius: @panel-border-radius;
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
}

.motivation-box-item {
	margin: 0;
	padding: 
		@padding-large-vertical
		@padding-large-horizontal;
	border-bottom: 1px solid @input-border;
	
	&:last-child {
		border-bottom: 0;
	}
}