// Panel s ikonami

.nav-panel {
  float: right;
  margin-top: 16px;

  ul {
    margin: 0;
    padding: 0;
  }

  @media only screen and (max-width: 410px) {
    margin-top: 0;
  }
}

.nav-panel-item {
  display: inline-block;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 319px) {
    .btn {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

// Na velkych displejich zvetsime ikony
@media only screen and (min-width: 768px) {
  .nav-panel {
    margin-top: 6px;
  }

  .nav-panel-item .btn {
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
  }
}

// Stylovani BS badge
.nav-panel-item a {
  position: relative;

  .badge {
    position: absolute;
    right: -11px;
    top: -8px;
  }
}


// Na malych displejich nezobrazujeme
.nav-panel-nav {
  @media only screen and (min-width: @p-large-display-start) {
    display: none;
  }
}
