/*

# Offer Icon

Ikona akční nabídky v detailu zboží nebo v seznamu.

*/

.offer-icon {
	font-size: @font-size-large;
	position: absolute;
	top: -25px;
	right: -10px;
	transform: rotate(-12.5deg);
	display: block;
	line-height: 62px;
	width: 65px;
	height: 65px;
	text-align: center;
	background: @gray;
	color: #ffffff;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: inset -2px -2px 10px rgba(0,0,0,.1);
	
	&:hover,
	&:focus,
	&:active {
	  color: #ffffff;	  
	  text-decoration: none;
	  background: @gray-dark;
	}

	@media only screen and (min-width: @layout-start) {
		top: auto;
		bottom: 50px;		
	}	
}