/*

# Opts Selector

Tabulka s výběrem parametrů zboží v detailu produktu.

*/


// --- Base ---

.opts-selector {
  margin-top: @line-height-computed*2;
  margin-bottom: @line-height-computed;  

  @media only screen and (max-width: (@layout-start - 1)) {
    margin-left: @grid-gutter-width/-2;
    margin-right: @grid-gutter-width/-2;
  }

  select,
  input {
    max-width: 80px;
  }

  .form-group {
    margin-bottom: 0;
  }
}

// Mensi pismo, aby se toho veslo vic
// Zmensujeme i BS formularove prvky 
.opts-selector {
  font-size: @font-size-small;
  
  .form-control {
    font-size: @font-size-small;
  }
}

// Nadpis

.opts-selector-heading {
  .heading-underlined;
  margin-bottom: 0;

  @media only screen and (max-width: (@layout-start - 1)) {
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }
}


// Polozky selektoru: dioptrie atd.

.opts-selector-items {
  background: #f8f8f8;
  padding-left: @grid-gutter-width/2;
  padding-right: 5px;
}

.opts-selector-item {
  padding: @padding-large-vertical 0;
  padding-right: 5px;
  height: 81px;
}


// Pocet baleni ma minimalni sirku
// kvuli pripadum, kdy je u produktu mnoho parametru
// a na malych displejich by se nevesel. (Napr. Proclear Multifocal Toric)
.opts-selector-count {
  min-width: 88px;
}


// Dostupnost

.opts-selector-availability {
  background: #e8e8e8;
  padding: @padding-large-vertical @grid-gutter-width/2;
  margin: 0;
  border-top: 1px solid #fff;
}

.opts-selector-add-eye {
  padding: @padding-large-vertical @grid-gutter-width/2;
  margin-bottom: 0;
}

// Prvni a druhe oko

.opts-selector-first-eye { }

.opts-selector-second-eye {
  border-top: 1px solid lighten(@gray, 33%);
  border-bottom: 1px solid lighten(@gray, 33%);
}


// --- Layout pro male displeje ---

// - Mixiny -

// Moderni prohlizece: flexbox

.opts-selector-one-line() {
  .opts-selector-items {
    display: flex;
  }

  .opts-selector-item  {
    flex: 1 0 0px;
    float: none;
    width: auto;
  }  
}

// Varianta pro prohlizece, ktere neznaji Flexbox

.opts-selector-one-line-legacy(@cols) {    
  .old-ie & .opts-selector-item {
    float: left;
    width: (percentage(1/@cols) - 1%);
  }
}

// - Base -

.opts-selector-items {
  .clearfix;
}

// - Varianty -

// 4-polozkovy 

.opts-selector-4-items {

  .opts-selector-item {
      float: left;
      width: percentage(1/2);
  }

  @media only screen and (min-width: 400px) {    
    .opts-selector-one-line;
  }

  .opts-selector-one-line-legacy(4);
}

// 5-polozkovy

.opts-selector-5-items {

  .opts-selector-item {
      float: left;
      width: percentage(1/2);
      &:last-child { width: 100%; }

      @media only screen and (min-width: 400px) {    
        width: percentage(1/3);      
        &:last-child { width: percentage(2/3); }
      }
  }  

  @media only screen and (min-width: 480px) {    
    .opts-selector-one-line;
  }

  .opts-selector-one-line-legacy(5);
}

// 6-polozkovy

.opts-selector-6-items {

  .opts-selector-item {
      float: left;
      width: percentage(1/2);
      
      @media only screen and (min-width: 360px) {    
        width: percentage(1/3);      
      }      
  }

  @media only screen and (min-width: 480px) {    
    .opts-selector-one-line;
  }

  .opts-selector-one-line-legacy(6);
}


// 7-polozkovy

.opts-selector-7-items {

  .opts-selector-item {
      float: left;
      width: percentage(1/2);
      &:last-child { width: 100%; }

      @media only screen and (min-width: 360px) {    
        width: percentage(1/3);      
        &:last-child { width: percentage(2/3); }
      }
  }  

  @media only screen and (min-width: 520px) {    
    .opts-selector-one-line;
  }

  .opts-selector-one-line-legacy(7);
}

