/*

# Rating

Hodnocení, např. v detailu produktu.

*/

.rating {
  blockquote {
    margin-bottom: @padding-small-vertical;
    max-width: 40em;
  }

  margin-bottom: @line-height-computed;
}

.rating-author {
  color: @gray-light;
}
