* {
xxxborder: 1px solid red;
}

body {
color: #000;
background: #fff;
margin: 0px;
margin-bottom: 2em;
padding: 0px;
}

body, table td,  table th, input, textarea, option, select {
font-family: Verdana, Arial, lucida, sans-serif;
}

body, td, th, caption {
line-height: 1.5em;
}

a, a:link, a:visited, a:hover, a:active {
color: #FF4200;
background: transparent;
text-decoration: underline;
}

a:hover, a:active {
color: #0054A6;
}

img, form {
border: 0px;
margin: 0px;
padding: 0px;
}


/*  nove tabulkove */

table.layout {
width: 100%;
border-collapse: collapse;
}

table.layout td, table.layout th {
margin: 0px;
padding: 0.5em 1em;
}

table#header tr.zerorow td {
background: #000;
}

table#header tr#firstrow td, table#header tr#firstrow th {
background: #000;
color: #fff;
}

table#header tr#firstrow td a, table#header tr#firstrow th a {
background: transparent;
color: #fff;
font-weight: bold;
}

table#header tr#firstrow td.verticallineleft {
background: #000 url("../img/verticalline.gif")  no-repeat left middle;
}

table#header tr#logorow td, table#header tr#logorow th  {
background: #000;
color: #fff;
}

table#header tr#logorow td strong {
xxxfont-size: 120%;
}


xxxtable#header tr#logorow td a, xxxtable#header tr#logorow th a {
background: transparent;
color: #fff;
}

table#header tr#logorow td {
border-bottom: 1px #000 solid;
}

table#header tr#logorow td.verticallineleft {
background: #000 url("../img/verticalline.gif")  no-repeat left middle;
}

table#header tr#logorow td.userboxleft {
background: #C6E0F4 url("../img/userbox_left.gif") no-repeat;
color: #000;
}

table#header tr#logorow td.userboxleft div {
margin: 0.75em 1em 0.25em 2em;
}

table#header tr#logorow td.userboxleft div a {
background: transparent;
}

table#header tr#logorow td.userboxright {
background: #C6E0F4 url("../img/userbox_right.gif") no-repeat right top;
}

table#header tr#logorow td.userboxright div {
margin: 0.75em 1em 0.25em 1em;
margin-left: -0.8em;
padding-left: 1em;
background: transparent url("../img/verticallineuser.gif") no-repeat left middle;
}

table#header tr#logorow td.userboxright div a {
background: transparent;
}

table#header tr#menurow td, table#header tr#menurow th {
background: #FF4200;
color: #fff;
border-left: #FFB9A1 solid 1px;
border-top: #FFB9A1 solid 1px;
border-right: #000 solid 1px;
border-bottom: #000 solid 1px;
}

table#header tr#menurow td a, table#header tr#menurow th a {
color: #fff;
margin-right: 1em;
}

table#header tr#menurow td a, table#header tr#menurow th a {
color: #fff;
margin-right: 1em;
}

table#header tr#menurow td, table#header tr#menurow td select {
xxxfont-size: 85%;
}

table#header tr#menurow td, table#header tr#menurow th {
background: #0054A6 url("../img/menurow_bg.gif") no-repeat;
}

table#header tr#menurow td.favorites, table#header tr#menurow th.favorites {
background: #C6E0F4 url("../img/menurowfavorites_bg.gif") no-repeat top left;
}

table#header tr#menurow td.favoritessecond, table#header tr#menurow th.favoritessecond {
background: #C6E0F4 url("../img/menurowfavorites_bg.gif") no-repeat top right;
color: #000;
}

table#header tr#menurow td.favoritessecond div, table#header tr#menurow th.favoritessecond div {
background: transparent url("../img/verticallineuser.gif") no-repeat left middle;
}

table#header tr#menurow td.favorites a, table#header tr#menurow th.favorites a {
color: #0054A6;
}

table#main tr#youarehere td {
padding: 1em 0.5em;
font-weight: bold;
}

table#main tr#youarehere td span.noimportant {
color: #333;
font-weight: normal;
}

table#main tr.tabs td {
background: #217CF1 url("../img/tab_left.gif") no-repeat;
padding: 0em;
border-right: #fff 1px solid;
}

table#main tr.tabs td a {
display: block;
height: 100%;
color: #fff;
background: transparent url("../img/tab_right.gif") no-repeat right top;
text-decoration: none;
padding: 0.5em 1em;
font-weight: bold;
}

table#main tr.tabs td.none {
background: none;
}

table#main tr.tabs td.active {
background: #D8D8D8 url("../img/tab_left.gif") no-repeat;
color: #333;
}

table#main tr.tabs td.active a {
color: #333;
}

table#main #content, table#main .content {
background: #f8f8f8;
color: #000;
padding: 0em 0em 3em 0em;
vertical-align: top;
}

td#content p {
margin: 1em;
}

table.formlayout {
border-collapse: collapse;
border-top: 1px solid #666;
width: 100%;
margin-bottom: 2em;
}

table.formlayout caption {
text-align: left;
padding: 1em;
margin-bottom: 2em;
background: #DEF2FE url("../img/caption_bg.gif") repeat-x bottom;
xxxcolor: #fff;
xxxborder-right: 1px solid #666;
border-left: 1px solid #666;
border-top: 1px solid #666;
xxxborder-bottom: 0px;
font-weight: bold;
}

table.formlayout.borderright, table.formlayout.borderright caption {
border-right: 1px solid #666;
}

table.formlayout caption.bordertop0px { border-top: 0px }
table.formlayout caption.borderleft0px { border-left: 0px }

table.formlayout td, table.formlayout th {
border-bottom: 1px solid #666;
border-left: 1px solid #666;
padding: 1em;
} 

table.formlayout th {
background: #A3A3A3;
color: #fff;
font-weight: normal;
text-align: left;
}

table.formlayout td {
background: #EFEFEF;
color: #000;
}

table.formlayout tr.zerorow {
xxxdisplay: none;
}

table.formlayout tr.zerorow {
border-right: #FAFAFA 1px solid;
}

table.formlayout tr.buttonrow td, table.formlayout tr.buttonrow th {
xxxborder-bottom: 0px;
border-left: 0px;
background: #a3a3a3;
color: #fff;
}

table.formlayout tr.buttonrow td.borderleft, table.formlayout tr.buttonrow th.borderleft {
border-left: 1px solid #666;
}

table.formlayout tr:hover td, table.formlayout tr:hover tr {
xxxbackground: #C6E0F4;
} 

table.formlayouttabs  {
border-collapse: collapse;
width: 100%;
xxxmargin-bottom: -2px;
}

table.formlayouttabs td {
margin: 0em;
padding: 1em;
border-right: 1px solid #FAFAFA;
}

table.formlayouttabs td.active {
background: #DEF2FE url("../img/caption_bg.gif") repeat-x bottom;
border: #666 1px solid;
border-bottom: 0px;
}

table.formlayouttoptabs  {
border-collapse: collapse;
background: #DEF2FE url("../img/caption_bg.gif") repeat-x bottom;
width: 100%;
margin-bottom: 2em;
border-left: 1px solid #666;
}

table.formlayouttoptabs td {
padding: 0.9em 0.5em 1em 0.5em;
margin: 0.5em;
background: #DEF2FE url("../img/caption_bg.gif") repeat-x bottom;
border-bottom: #666 1px solid;
} 

table.formlayouttoptabs tr.zerorow td {
background: #FAFAFA;
}

table.formlayouttoptabs td.active {
background: #FAFAFA;
border: #666 1px solid;
border-bottom: 0px;
}

table.formlayouttoptabs td.active strong {
font-weight: normal;
}



table.invisiblelayout {
border-collapse: collapse;
width: 100%;
}

table.invisiblelayout td {
xxxborder: 1px solid red;
}

table.formlayout td {
xxxpadding: 0.5em;
} 

tr.zerorow td {
font-size: 0.01em;
background: inherit;
border: 0px;
padding: 0px;
margin: 0px;
}

table td.none {
border: none;
background: #FAFAFA;
}

h1, h2, h3, h4, h5 {
margin: 1em;
color: #333;
background: inherit;
}

h1 {
font-size: 1.3em;
}

h2 {
font-size: 1.2em;
}

h3 {
font-size: 1.1em;
}

h4 {
font-size: 1em;
}


table.formlayout tr.bgone td {
background: #EFEFEF;
color: inherit;
}

table.formlayout tr.bgtwo td {
background: #E0E0E0;
color: inherit;
}

table.formlayout tr.bgthree td {
background: #d0d0d0;
color: inherit;
}

table.formlayout tr.old td, table.formlayout tr.old td a {
color: #999;
}

table.formlayout tr.old td a:hover {
color: #0054A6;
}

input.button {
color: #fff;
background: #FF4200;
border-top: 1px solid #FF7F3D;
border-left: 1px solid #FF7F3D;
border-bottom: 1px solid #BD0000;
border-right: 1px solid #BD0000;
padding: 0.25em;
}

a.button, a.button:link, a.button:visited, a.button:hover, a.button:active {
text-decoration: none;
padding: 0.5em;
margin-left: 1em;
color: #fff;
background: #FF4200;
border-top: 1px solid #FF7F3D;
border-left: 1px solid #FF7F3D;
border-bottom: 1px solid #BD0000;
border-right: 1px solid #BD0000;
}

a.button:active {
border-top: 1px solid #BD0000;
border-left: 1px solid #BD0000;
border-bottom: 1px solid #FF7F3D;
border-right: 1px solid #FF7F3D;
}


select.menu {
width: 20em;
}

select.menu option {
margin: 0.3em 0em;
padding: 0.1em;
padding-left: 0.5em;
border-bottom: 1px solid #eee;
cursor: hand;cursor: pointer;
}

select.menu option.main {
background: #ccc;
border-bottom: 1px solid #ccc;
}

.floatleft50, .floatleft50 {
width: 250px;
}

.margintop1em {
margin-top: 1em;
}

.margintop2em {
margin-top: 2em;
}

.marginbottom1em {
margin-bottom: 1em;
}

.marginbottom2em {
margin-bottom: 2em;
}

small {
font-size: 0.8em;
}

.update {
background: #CCFF99;
color: #333;
}

tr.old .update {
background: transparent;
color: #999;
}

.nowrap {
white-space: nowrap;
}


.marginright1em {
margin-right: 1em;
}

.message, .message em {
font-style: normal;
text-align: left;
border-bottom: 2px solid #FF4200;
}

#footer {
font-size: 0.8em;
color: #ccc;
padding: 1em 30px;
}



/* dicota oem adds  */

table#main td.iconside {
background: #666;
color: #fff;
text-align: center;
margin: 0px;
border-bottom: #999 1px solid;
}

table#main td.iconside p {
padding: 1em;
margin: 0em;
}


table#main td.iconside a {
background: transparent;
color: #fff;
}

table#main td.dicotaoem h2 {
margin: 0em;
padding: 1em;
background: #000;
color: #fff;
font-size: 1em;
border-bottom: 1px solid #fff;
}

table#main td.dicotaoem .photos {
float: left;
margin: 0em;
padding: 0em 1em;
text-align: center;
}

table#main td.dicotaoem .photos img {
border: 1px solid #999;
margin-bottom: 1em;
}

table#main td.dicotaoem h2.verticallineleft {
background: #000 url("../img/verticalline.gif")  no-repeat left middle;
}

table#main td.dicotaoem h2.nobg {
background: #000;
}

table#main td.treeside {
background: #E6F4FE xxxurl("../img/tree_bg.gif") repeat-y right;
color: #333;
margin: 0px;
border-left: #666 1px solid;
border-bottom: #666 1px solid;
border-top: 1px solid #000;
}

table#main td.treeside ul, ul.tree {
background: transparent;
margin: 0px;
padding: 0px;
list-style-type: none;
}

table#main td.treeside ul li, ul.tree li {
padding: 0.5em 0px;
}

ul.tree li {
padding: 0.2em 0px;
}

table#main td.treeside li.active, ul.tree li.active {
background: #D0E7F8;
}

table#main td.treeside li ul {
background: #E6F4FE;
}

table#main td.treeside ul li.last {
color: #000;
background: #FFEAAC;
}

table#main td.treeside ul li img, ul.tree img {
margin-right: 0.5em;
vertical-align: middle;
}

xxxtable#main td.treeside ul a:hover {
color: #fff;
background: #FF4200;
}

table#main td.treeside ul ul, table#main td.treeside  ul ul ul, table#main td.treeside  ul ul ul ul {
padding-left: 2em;
}

ul.tree ul, ul.tree ul ul, ul.tree ul ul ul {
padding-left: 0.2em;
list-style-type: none;
}

ul.tree {
padding-left: 1em;
}

table#main td.treeside p {
margin: 2em 1em;
}


table#main td.contentside {
background: #FAFAFA;
color: #333;
margin: 0px;
border-right: #666 1px solid;
border-bottom: #666 1px solid;
border-top: 1px solid #000;
}

table#main td.treeside table.sortby {
margin: 0em;
margin-bottom: 2em;
padding-top: 2em;
border-collapse: collapse;
background: #DEF2FE url("../img/caption_bg.gif") repeat-x bottom;
width: 100%;
xxxborder-left: 1px solid #EFEFEF;
xxxborder-right: 1px solid #666;
}

table#main td.treeside table.sortby td {
padding: 1em 0.5em;
margin: 0.5em;
text-align: center;
border-bottom: #666 1px solid;
}

table#main td.treeside table.sortby td.active {
background: #E6F4FE;
border: #666 1px solid;
border-bottom: 0px;
}

table#main td.treeside p.sortby strong {
background: #EFEFEF;
font-weight: normal;
}

table#main td.treeside p.sortby span  {
}


table#main td.dicotaoem .marginbottom4em {
margin-bottom: 1em;
}

table#main td.treeside ul, table#main td.treeside ul li  {
padding: 0em;
margin: 0em;
list-style-type: none;
}

table#main td.treeside ul {
padding-left: 1.5em;
}


xxxtable#main td.treeside a {
background: transparent;
color: #fff;
}

table#main td.contentside p {
margin: 1em;
padding: 0em;
}

