/*

Site Nav
========

Hlavní navigace webu.

*/

// Pine.JS navigace
// ----------------

// https://github.com/rwd-pine/pine

@import "../../bower_components/pine-navigation/src/stylesheets/pine";

// Rozmery
@p-padding-horizontal: 10px;
@p-small-screen-top: 90px;

// Breakpoint desktop pohledu
@p-large-display-start: 768px;

// Barvy
@p-color: #fff;
@p-background: @vc-color-blue;
@p-hover-background: @vc-color-dark-blue;
@p-active-background: @vc-color-dark-blue;
@p-border-color: lighten(@vc-color-blue, 20%);


// Úprava Pine navigace pro naše potřeby
// -------------------------------------

// Velikost textu na vetsich displejich

@media only screen and (min-width: @p-large-display-start) {
  .pine {
    font-size: 14px;
  }
}

// Šířka položek navigace

@media only screen and (min-width: @p-large-display-start) {
  .pine-horizontal .pine-level-1 > li {
    width: 100%/5;
  }

  // Fix chyby kdy Pine po otevreni a zavreny na malem a zvetseni okna nechava max-height: 0
  .pine {
    max-height: none !important;
  }
}

// Pine nemá absolutní ale static pozici

@media only screen and (max-width: (@p-large-display-start - 1px)) {
  body {
    overflow: auto !important;
  }

  .js .pine {
    position: static;
  }

  .js .pine-visible {
    max-height: none !important;
  }
}


// Odsazení a clearování

.pine {
  clear: both;
  margin-bottom: @line-height-computed / 2;
}

@media only screen and (max-width: (@p-large-display-start - 1px)) {

  .pine {
    margin-bottom: 0;
  }

  .pine-visible {
    margin-bottom: @line-height-computed / 2;
  }

}

// Vzhled: barvičky a rámečky
// --------------------------

// Rámečky kolem položek

.pine-level-1 {
  > li > a,
  > li > strong {
    @media only screen and (min-width: @p-large-display-start) {
      border-right: 1px solid @p-border-color;
    }
  }

  > li:last-child > a,
  > li:last-child > strong {
    border-right: none;
  }
}

// Všechno má rámeček zezdola, kromě poslední položky submenu na velkých displejích

.pine {
  a, strong {
    border-bottom: 1px solid @p-border-color;
  }
}

.pine-level-2 > li:last-child {
  a, strong {
    @media only screen and (min-width: @p-large-display-start) {
      border-bottom: 0;
    }
  }
}

// Desktop verze
// -------------

// Desktop verze: Úpravy kvůli roztažení na celou šířku okna

@media only screen and (min-width: @p-large-display-start) {

  .nav {
    margin-bottom: @line-height-computed;
    background: @p-background;
  }

  .pine {
    margin-bottom: 0;
    border-left: 1px solid @p-border-color;
    border-right: 1px solid @p-border-color;
  }

  .pine-level-1>li>a, .pine-level-1>li>strong {
    border-bottom: 0;
  }

}


// Desktop verze: Čočky nemají třetí úroveň, rozbalí se obě
// --------------------------------------------------------

// ### Druhá úroveň (podle typu, podle značky)

@nav-lenses-width: 400px;
@nav-2level-border: 3px;

// Mixin pro styl položky druhé úrovně na desktopu

.nav-level-2-item-style() {
  background: transparent;
  border: none;
  padding: @padding-small-vertical 0;
  color: @vc-color-blue;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

@media only screen and (min-width: @p-large-display-start) {

  // ### Druhá úroveň obecně

  .pine-level-open {

    .pine-level-2 {
      background: #fff;
      padding: @padding-large-vertical @padding-large-horizontal;
      border: @nav-2level-border solid @vc-color-dark-blue;
    }

    .pine-level-2 > li > a {
      color: @text-color;
      padding-right: 10px;
      background: transparent;
      border: none;
      padding: @padding-base-vertical 0;
      border-bottom: 1px solid @vc-border-color;
      margin-bottom: @line-height-computed / 4;
    }

  }

  // ### Čočky - podle typu, podle značky

  .nav-lenses.pine-level-open {

    @lenses-subitem-width: ( @nav-lenses-width - (@padding-large-horizontal * 3) - (2 * @nav-2level-border) ) / 2;

    // Zobrazujeme širší a s větším odsazením zezdola

    .pine-level-2 {
      width: @nav-lenses-width;
      padding-bottom: @padding-large-vertical*1.5;
    }

    .pine-level-3 {
      width: 100%;
    }

    // Layout boxíků délku noše, typ a značku

    .pine-level-2 > li {
      .clearfix;
      float: left;
      width: @lenses-subitem-width;
    }

    // Podle délky nošení a typu vlevo,
    // podle značky vpravo

    .pine-level-2 > .nav-lenses-period {
      float: left;
      margin-bottom: @line-height-computed;
    }

    .pine-level-2 > .nav-lenses-types {
      float: left;
      clear: left;
    }

    .pine-level-2 > .nav-lenses-brands {
      float: none;
      margin-left: @lenses-subitem-width + @padding-large-horizontal;;
    }

    // Indikační trojúhelník pryč

    .pine-level-2 > li > a:before {
      display: none;
    }

  }

}

// ### Druhá úroveň u Příslušenství

// TODO stejný kód jako třetí úroveň u Čoček (následuje)

@media only screen and (min-width: @p-large-display-start) {

  .nav-accessories.pine-level-open .pine-level-2 > li > a {
    .nav-level-2-item-style;
   }

}


// ### Třetí úroveň u Čoček se tváří jako druhá úroveň

@media only screen and (min-width: @p-large-display-start) {

  .nav-lenses.pine-level-open {

    // Zrušení klikatelnosti druhé úrovně

    .pine-level-2 > li > a {
      pointer-events: none;
      cursor: default;
    }

    // Na desktopu vždy zobrazíme
    // a vypíšeme v běžném flow, bez absolutní pozice

    .pine-level-3 {
      visibility: visible;
      opacity: 1;
      position: static;
      top: auto;
      left: auto;
    }

    // Položka třetí úrovně

    .pine-level-3 > li > a {
      .nav-level-2-item-style;
    }
  }

}
