@charset "utf-8";

/* 

========== Tiskovy stylopis pro administraci webu Prazskeho jara ========== 

Autor:        Martin Michalek, Studio Shortcat

*/

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10pt;
	font-family: 'Arial';
}

div#content {
	width: 100%;
}

a {
	text-decoration: none;
}

h1, h2 {
	font-weight: normal;
	
	page-break-after: avoid;
	page-break-inside: avoid;
	
	margin: 10px 0 10px 0;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding-right: 10px;
	border-bottom: 1px solid #999;
}

td {
	padding-right: 10px;
	border-bottom: 1px solid #999;
}

hr {
	border: 1px;
	height: 1px;
	background: #999;
}

.halfBox {
	width: 49%;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.highlight {
	color: #fff;
	background: #000;
}

.clearBothZero {
	clear: both;
	height: 0 !important;
	line-height: 0 !important;
	width: 0 !important;
	border: 0 !important;
	font-size: 1px;
}

#contentMainBoxMiddleTable td, #contentMainBoxMiddleTable th {
	height: 26px;
	line-height: 26px;
}

#header, #footer, #headNavigation, .pridej, #contentMainBoxTop ul, .editace, #contentHtml a, #contentHtml hr {
	display: none;
}
