/* 
   Stylopis pro blog Vzhùru dolù
   Projekt: www.vzhurudolu.cz
   Autor: Martin Michalek, Studio Shortcat, michalek@shorcat.cz
*/

/* Importujeme Baseline */
@import "baseline.compress.css";

/* Oprava chovani Baseline */

div
{
  padding-bottom: 0;
}

p + p
{
  text-indent: 0;
}

p, pre, table, ul, ol
{
  margin-bottom: 18px;
  word-spacing: 0;
}

blockquote
{
  padding-bottom: 1px;
  padding-right: 0;
  padding-top: 8px;
  border-left: 8px solid #EEEEEE;
  margin-bottom: 18px;  
}

.post .regular blockquote p
{
  width: 400px;
  color: #666;
}

form
{
  overflow: hidden;
}

input[type="submit"], 
input[type="reset"], 
input[type="button"]
{
  padding: 3px 5px; 
  font: 12px/18px Arial, sans-serif;
  border: 1px outset #333;
  /* remove extra padding in IE6+7: */
  overflow: visible;
  /* unify height in Firefox, Opera 
  (watch traditional box model): */
  height: 26px;
  /* remove extra margin in Webkit: */
  margin: 0;
}

/* remove extra padding in Firefox: */
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner {
  padding: 0;
}


/* Obecne prvky */

#content a 
{
  color: #5FA316;
	text-decoration: none;
	padding: 2px 1px;  
}

#content a:hover,
#content a:focus,
#content a:active
{
	background: #5FA316;
	color: #fff;
}

a.no_deco,
a.no_deco:hover,
a.no_deco:focus,
a.no_deco:active {
	padding: 0;
	background: transparent;
}

pre
{
  background: #eee;
  padding: 9px;
  overflow: auto;
}

/* Layout */

#content
{
  width: 500px;
  margin-left: 100px;
}

/* Hlavicka */

#header
{
  background: #111;
  color: #fff;
  margin-left: -100px;
  padding-top: 36px;
  padding-bottom: 18px;
  padding-right: 70px;
  margin-bottom: 54px;    
}

#header #description {
  font-size: 28px;
  line-height: 32px;
  margin-left: 100px;  
}

#header h1 {
  display: inline;
  margin: 0;
  top: 0;
  font-size: 28px;
  line-height: 32px;  
}

#header h1 a {
  color: #FF33FF;
}

#header h1 a:hover {
  background-color: #FF33FF;
  color: #fff;
}



#header #search {
  margin-top: 36px;
  margin-left: 100px;    
}

/* Vyhledavaci input */
div#search input[type=text]
{
  font-size: 12px;
  color: #eee;
  background-color: #111;
  border: 1px solid #666;
  display: inline;
  font-family: Arial, sans-serif;  
  vertical-align: middle;
  height: 18px;
  padding: 3px 5px;
}

div#search input[type=text]:focus,
div#search input[type=text]:hover
{
  border-color: #eee;
  color: #eee; 
}

/* Vyhledavaci submit */
div#search input[type=submit]
{
  color: #666;
  background-color: #111;
  border: 1px solid #666;
  display: inline;   
  vertical-align: middle;
}

div#search input[type=submit]:hover
{
  border-color: #eee;
  cursor: pointer;
  color: #eee;
}


/* Paticka */

#footer
{
  margin-top: 54px;
  border-top: #ccc 4px solid;
  padding-top: 6px;
  padding-bottom: 6px;
}

#footer a.paging
{
  font-size: 18px;
  line-height: 22px; 
  text-align: center;
}

#footer .tiny
{
  margin-top: 18px;
  font-size: 11px;
  font-family: Verdana, sans-serif;   
  text-transform: uppercase;  
}

#footer .tiny,
#footer .tiny a
{
	color: #999;
}

#footer .tiny a
{
  padding: 4px 2px;
}


#footer .tiny a:hover,
#footer .tiny a:focus
{
	background: #bbb;
	color: #fff;
}

#footer a.articles_archive
{
  padding: 4px 2px;
  margin-top: -1px;
  float: right;
  font-size: 11px;
  font-family: Verdana, sans-serif;   
  text-transform: uppercase;   
	color: #999;   
}

#footer a.articles_archive:hover,
#footer a.articles_archive:focus
{
	background: #bbb;
	color: #fff;
}


/* Odkazy s barevnymi mouseovery */

#footer .tiny a.facebook_link:hover
{
  background-color: #3B5998;
  color: #fff;
}

#footer .tiny a.twitter_link:hover
{
  background-color: #33CCFF;
  color: #fff;
}

#footer .tiny a.rss_link:hover
{
  background-color: #ff6600;
  color: #fff;
}





/* Datum zaznamu */

.date
{
  border-top: #333 4px solid;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
}


/* Jedntotlive clanky (posty) */

.post
{
  position: relative;
  padding-bottom: 11px;
  margin-bottom: 54px;  
}




/* Nadpisy v postu */

.post h2
{
  margin-left: -2px;
  font-size: 28px; 
  line-height: 32px;
}

.post h3
{
  color: #999;
  margin-bottom: 9px;
  margin-top: 36px;
  font-size: 18px;
  line-height: 22px;
}

/* Tabulky v postu */

.post table {
  width: 490px;
}

.post table,
.post th,
.post td {
  border-color: #CCC;
}

.post tr:nth-child(2n+1) td {
  background-color: transparent;
}

/* Odkazy v postu */

.post a
{
  font-weight: bold;
}

.post h1 a,
.post h2 a,
.post h3 a,
.tags a,
.comments a
{
  font-weight: normal;
}

.comments
{
  margin-top: 27px;
}

.tags,
.comments
{
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-size: 11px;  
}

.tags a,
.comments a
{
  padding: 4px 2px; 
}

.tags,
.tags a
{
  color: #999;
}

.tags a:hover,
.tags a:focus
{
	background: #bbb;
	color: #fff;
}

.comments
{
  margin-left: -2px;
}

#content .post a.permalink
{
  z-index: 500;
  width: 18px;
  height: 18px;
  display: block;
  font-size: 11px;
  line-height: 11px;  
  font-family: Verdana, sans-serif;  
  position: absolute;
  bottom: 4px;
  right: -4px; 
  vertical-align: middle;  
}

#content .post a.permalink img
{
  vertical-align: middle; 
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 6px;
}

#content .post a.permalink small
{
  display: none;
}

#content .post a.permalink:hover
{
  color: #fff;  
  background-color: #aaa;
  right: -105px;
  width: 120px;
}

#content .post a.permalink:hover small
{
  display: inline;
  font-weight: normal;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 11px;  
}

.post pre
{
  display: inline-block;
  min-width: 482px;
  overflow: auto;
  max-width: 650px;
  white-space: pre;
}

.post code
{
  color: #666;
  font-family: Monaco, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 12px;
}

.post pre code
{
  white-space: pre;
  color: #222;  
}

/* Bezny post s textem */

/* Kratsi odstavce kvuli moznemu posunuti obrazku napravo */
.post .regular p
{
  width: 490px;
}

/* Posunuti obrazku napravo */
.post .regular p img[align=right]
{
  float: right;
  position: absolute;
  right: -110px;
}

/* Post s fotkou */

.post .photo a,
a.image
{
  display: inline-block;
  margin-bottom: 9px;
  padding: 0;  
  border: 4px solid #fff;
  position: relative;
  top: -4px;
  left: -4px;
}

.post .photo.with_border a,
a.image.with_border
{
  border: 4px solid #ccc;
}

.post .photo a:hover,
a.image:hover
{
  border-color: #5FA316;
}

.post .photo a img,
a.image img
{
  display: inline-block;
  margin-bottom: -4px;  /* TODO: Hack. Pod obrazky z nejakych duvodu zustava 4px prostor. */
}


.post .caption a
{
  display: inline;
  margin: 0;
  position: static;
	padding: 2px 1px;    
	border: 0;
}

/* Post s videem */

.post .video
{
  margin-bottom: 9px;
}

/* Post s citaci */

.post div.quote
{
  padding-left: 20px; 
  margin-top: 9px;
}

.post div.quote span.quote 
{
  font-size: 18px;
  color: #999;
  line-height: 22px;  
}

.post div.quote span.quote big.quote {
  font-size: 54px;
  font-weight: bold;
  line-height: 0;
  opacity: 0.5;
  vertical-align: -22px;
}

/* Horizontalni cara v postu */
.post hr {
  height: 1px;
}

/* Malym pismem */
.post small  {
  font-size: 11px;
}

/* Poznamka pod carou (podekovani, technicke poznamky atd.) */
.post .underline_note  {
  color: #999;
}

.post .underline_note a {
  color: #999;
  text-decoration: underline;
  font-weight: normal;
}

.post .underline_note a:hover {
  background: #bbb;
  color: #fff;
  text-decoration: none;
}



/* Velke odkazy pouzivane v textu - boxiky */

a.big_anchor
{
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
}

a.big_anchor:hover
{
  border-top: 1px solid #afd18b;
  border-left: 1px solid #afd18b;
  border-right: 1px solid #2f510b;
  border-bottom: 1px solid #2f510b;
}


/* === Odkaz "Cist dal" === */

.read_more
{
  margin-top: 25px;
}

.read_more a 
{
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
}

.read_more a:hover
{
  border-top: 1px solid #afd18b;
  border-left: 1px solid #afd18b;
  border-right: 1px solid #2f510b;
  border-bottom: 1px solid #2f510b;
}

/* === Velky odkaz (treba na dema atd.) === */

.big_link {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.big_link:hover,
.big_link:focus,
.big_link:active {
  border-top: 1px solid #afd18b;
  border-left: 1px solid #afd18b;
  border-right: 1px solid #2f510b;
  border-bottom: 1px solid #2f510b;
}


/* --- Tweet button --- */

.tweet {
  text-align: center;
  margin: 0 auto 72px;
  width: 84px; /* 94 */ 
  height: 56px; /* 94 */
  padding: 38px 0 0 10px;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 47px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
  -moz-border-radius: 47px; /* FF1-3.6 */
  border-radius: 47px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  background: #eeeeee; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* W3C */
}
  

/* === Staticky text === */

#static_text 
{
  margin-top: 54px;
}

#static_text a
{
  font-weight: bold;
}

#static_text h1 a
{
  font-weight: normal;
}

/* --- Badges - reklama na skoleni --- */

.badges {
	color: #ccc;
	width: 500px;
	height: 210px;
	padding: 4px 20px 10px 0;	
	margin: 54px 0 0 100px;
	border-top: #ccc 4px solid;
}

@media only screen and (min-width: 1000px) {
	.badges {
		width: 200px;
		position: fixed;
		top: 0;
		right: 0;
		border-top: 0;
		padding-top: 40px;
		margin: 0;
	}	
}

.badges h2 {
	font-size: 18px;
	color: #999;
	line-height: 18px;
}

.badges .subhead {
	font-size: 12px;
	line-height: 16px;
	color: #ccc;
	border-bottom: 1px dotted #ddd;
	display: inline-block;
	text-decoration: none;
	word-spacing: 0;
}

.badges .subhead:hover,
.badges .subhead:focus,
.badges .subhead:active {
  color: #999;
  border-color: #999;
}


.badge {
	position: absolute;
	top: 0px;
	left: 0px;	
	font-size: 15px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 1.65em 0 0 0;
	width: 6.5em;
	height: 6.5em;
	color: #fff;
	font-family: Arial, sans-serif !important;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0,0,0,.25);	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;	
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
     -moz-box-sizing: border-box; /* FF1+ */
          box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/	
  -webkit-border-radius: 50%; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 50%; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */	
  -webkit-box-shadow: 1px 2px 8px rgba(0,0,0,.5), inset -2px -2px 2px rgba(0,0,0,.2); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 1px 2px 8px rgba(0,0,0,.5), inset -2px -2px 2px rgba(0,0,0,.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */	
	background: #00cccc;
	background: -moz-linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #00ffff; 	/* TODO */
	background: -o-radial-gradient(1.5em 1.5em, 3em 3em, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%), -o-linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #00ffff;	
	background: -webkit-radial-gradient(1.5em 1.5em, 3em 3em, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #00ffff;	
	background: radial-gradient(1.5em 1.5em, 3em 3em, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%), linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #00ffff;			
	-webkit-transition: all 0.1s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: all 0.1s ease-out;  /* FF4+ */
	-ms-transition: all 0.1s ease-out;  /* IE10? */
	-o-transition: all 0.1s ease-out;  /* Opera 10.5+ */
	transition: all 0.1s ease-out;  		
}

.badge_date {
	color: rgba(255,255,255,0.5);
}

.badge.second {
	top: 30px;
	left: 80px;
	background: #cccc00;	
	background: -moz-linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #ffff00;	
	background: -o-radial-gradient(1.5em 1.5em, 3em 3em, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%), -o-linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #ffff00;		
	background: -webkit-radial-gradient(1.5em 1.5em, 3em 3em, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #ffff00;	
	background: radial-gradient(1.5em 1.5em, 3em 3em, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%), linear-gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.4) 100%), #ffff00;		
}

.badge:hover,
.badge:focus,
.badge:active {
	margin: -5px 0 0 -5px;
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,.5), inset -2px -2px 2px rgba(0,0,0,.2); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 4px 4px 8px rgba(0,0,0,.5), inset -2px -2px 2px rgba(0,0,0,.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */	
	z-index: 50;
}



/* ------------------------------------------------------------------------------ 
   Simpler style for Disqus theme "Narcissus"

	 Author: Martin Michalek, michalek@shortcat.cz, www.vzhurudolu.cz
	 Use it in your website stylesheet or add to Disqus (Settings > Customize > Custom CSS).	
	------------------------------------------------------------------------------  
*/

/* = Not showing some elements = */

/* "Showing X comments" heading */
#disqus_thread #dsq-content h3,

/* "Sort by..." select input */						
#disqus_thread #dsq-content .dsq-item-sort,

/* E-mail subsription icon */
#disqus_thread #dsq-content .dsq-subscribe-email img,

/* RSS subsription icon */										
#disqus_thread #dsq-content .dsq-subscribe-rs img,

/* Hide thread icon */
#disqus_thread #dsq-content .dsq-full-comment .dsq-comment-hide-thread,

/* Like comment icon  */
#disqus_thread #dsq-content .dsq-comment-footer-right .dsq-like,

/* Trackback URL */
#disqus_thread #dsq-content .dsq-item-trackback
  { display: none; }

/* = Simpler look and feel = */

/* "Comments are not allowed" and other messages  */

#disqus_thread #dsq-content .dsq-remove-message, 
#disqus_thread #dsq-content .dsq-realtime-alert, 
#disqus_thread #dsq-content .dsq-missing-permissions p {
	border: 0;
	background-color: #eee;
	color: #666;
	padding: 10px 10px;
	margin-bottom: 1.5em;
}

/* Repair toolbar dropdown z-index */

#disqus_thread #dsq-content #dsq-toolbar-dropdown {
	z-index: 100;
}

/* E-mail and RSS subscription anchors */

#dsq-content .dsq-options {
	padding-bottom: 5px;
	background-color: #f8f8f8;
	padding: 10px 10px 7px;
	margin-bottom: 1.5em;
}

#disqus_thread #dsq-content .dsq-options .dsq-subscribe-email {
  margin-left: -5px;
}

/* E-mail and RSS subscription anchors */

#disqus_thread #dsq-content .dsq-options .dsq-subscribe-email {
  margin-left: -5px;
}

/* Comment header */

#disqus_thread #dsq-content .dsq-comment-header {
	border: 0;
	background-image: none;
	border-bottom: 2px solid #ccc;
	padding: 10px 5px 5px;
	-moz-border-radius: 0; /* [OBSOLETE] in FF4 */
	border-radius: 0;
}

/* Moderator's comment header */

#disqus_thread #dsq-content .dsq-moderator .dsq-comment-header {
	background-color: #f8f8f8;
}

/* Anchor hover color 
   NOTE: use your own anchor hover color 
*/

#disqus_thread #dsq-content a:hover,
#disqus_thread #dsq-content a:active {
	color: #2f510b;
}


/* === Cufon fine-tuning === */

.cufon-active #header #description,
.cufon-active #header h1,
.cufon-active .post h2,
.cufon-active #static_text h1,
.cufon-active #tag_page {
  word-spacing: 1px;
}

/* Natahovani Cufonu bez problikavani (FOUT) */

.cufon-loading #header #description,
.cufon-loading #header h1,
.cufon-loading .post h2,
.cufon-loading #static_text h1,
.cufon-loading #tag_page { 
	visibility: hidden !important;
}

.cufon-ready #header #description,
.cufon-ready #header h1,
.cufon-ready .post h2,
.cufon-ready #static_text h1,
.cufon-ready #tag_page { 
	visibility: visible !important;
}

