/*

Stránka: Košík
==============

*/

// Zlom, od kterého se slevy a info pod košíkem zobrazují vedle sebe
@vc-discount-info-layout-start: 700px;


// Informativní nebo chybová hláška
// --------------------------------

.vc-cart-alert {
  clear: both;
  margin-bottom: 2*@line-height-computed;
}


// Celková cena
// ------------

.vc-cart-total-price {
  float: right;
  line-height: 1.3;
  display: inline-block;
  margin-top: -1*@line-height-computed;
  margin-bottom: 2*@line-height-computed;
  padding: 2*@padding-large-vertical @padding-large-horizontal @padding-large-vertical;

  h2 {
    color: @vc-color-grey;
    font-size: @font-size-h5;
    font-weight: 500;
    margin: 0;
    padding: 0;

    // Zvětšení nadpisů synchronní s .vc-cart-item-price
    // viz cart-item.less
    @media only screen and (min-width: 500px) {
        font-size: @font-size-h4;
    }
  }
}
