/*

Stránky: Zapomenuté heslo
         Propojení s Facebookem
==============

*/

// Kontejner stránky
// --------------------------------

.vc-loginpage {
  margin: @line-height-computed 0;

  .vc-page-heading {
    margin-bottom: 2*@line-height-computed;
  }
}

.vc-loginpage-lost-link {
  display: inline-block;
  margin-left: @padding-base-horizontal;;
  vertical-align: middle;
}

// "Zpět do obchodu"
.vc-loginpage-goto-back {
  position: relative;
  margin-bottom: 0;

  &:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 5px;
    height: 7px;
    background-image: url("../dist/img/icons/caret-left-blue-sm.svg");

    .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
      background-image: url("../dist/img/icons/caret-left-blue-sm.png");
    }
  }

  .vc-loginpage-goto-btn {
    display: inline-block;
    width: auto;

    // Doplnění mezery pro šipku u tlačítka pro
    // přechod zpět k objednávce
    padding-left: 1.5*@padding-large-horizontal;

    padding-right: 0;
    margin-bottom: 0;
    margin-top: 10px; // Vertikálně na baseline call-to-action tlačítka
  }
}
