/*

Order - objednávkový proces
==========================

- Stránka Doprava a platba
- Stránka Osobní údaje
- Některé komponenty co jsou i v košíku (.vc-order-goto)

*/

// Layout:
// .vc-order-layout
//   .vc-order-form    (formulář)
//   .vc-order-resume  (shrnutí objednávky)
//   .vc-order-goto    (tlačítka)

// Subkomponenty
// -------------

// Subkomponenta pro odsazení zleva
// stejné jako má <label> u checkboxu/radio

.vc-order-label-indented { padding-left: 20px; }

// Ikony dopravců

// celková šířka = 39px ikona + 10px odsazení
.delivery-img-posta { margin-right: 10px; }

// celková šířka = 33px ikona + 16px odsazení
.delivery-img-geis { margin-right: 16px; }

// Responzivní layout
// ------------------

// Základna layoutu a mobilní zobrazení na celou šířku

.vc-order-form,
.vc-order-resume {
  .vc-layout-col-base;
  .vc-layout-col(12);

  @media only screen and (min-width: @vc-layout-start) { .vc-layout-col(6); }
}

.vc-order-form{
  @media only screen and (min-width: @vc-layout-start) { margin-bottom: 2*@line-height-computed; }
}

.vc-order-resume {
  @media only screen and (min-width: @vc-layout-start) { margin-top: @line-height-computed; }
}

// Barevné odlišení rekapitulace objednávky
// ----------------------------------------

.vc-order-resume-bg {
  padding: 0 @grid-gutter-width/2;
  background: @vc-bg-lightest;
  border-radius: @border-radius-small;
  border: 1px dotted #aaaaaa;

  > h2 { margin-top: 0; }

  > .table {
    margin-bottom: 0;
    border-bottom: 0;
  }

  > .table tr:first-child {
    td,
    th { border-top: 0; }
  }

  .row-product {
    > td,
    > th { border-top: 1px dotted #d1d2d3; }

    &:first-child {
      > td,
      > th { border-top: none; }
    }
  }

  .row-delivery,
  .row-payment {
    > td,
    > th { border-top: none; }
  }

  .row-delivery {
    > td,
    > th { padding-bottom: 0; }
  }

  .row-payment {
    > td,
    > th { padding-top: 0; }
  }

}

// Dvousloupcový layout na desktopu

@media only screen and (min-width: @vc-layout-start) {
  // Pokud je na straně formuláře hned sekce,
  // sjednocujeme horní padding s vedlejším nadpisem
  // u Rekapitulace objednávky

  .vc-order-form > .vc-section { margin-top: @line-height-computed; }
}
