---
// TOC obsah pro kategorii Rychlost načítání webu
// Extrahováno z category-rychlost.html
---

<h3 id="obecne-o-rychlosti-webu"><a href="#obecne-o-rychlosti-webu">Obecně o rychlosti webů</a></h3>
<ul>
<li><a href="/prirucka/jak-zrychlit-web">Jak zrychlit web</a></li>
<li><a href="/prirucka/google-page-experience">Hodnocení rychlosti webů Googlem</a></li>
<li><a href="/prirucka/rychlost-nacteni">Co je to rychlost načtení?</a></li>
<li><a href="/prirucka/rychlost-nacitani-proc">Proč řešit rychlost?</a></li>
<li><a href="/blog/58-rychlost-srovname-cz">Zrychlení Srovname.cz</a></li>
<li><a href="/prirucka/rychlost-myty">Mýty rychlosti webu</a></li>
<li><a href="/prirucka/rychlost-designeri">Rychlost pro netechniky</a></li>
<li><a href="/blog/123-freshchat">Konzultujte rychlost s vývojáři</a></li>
</ul>
<h3 id="mereni-rychlosti"><a href="#mereni-rychlosti">Měření rychlosti</a></h3>
<ul>
<li><a href="/prirucka/rychlost-nastroje">Nástroje pro měření</a></li>
<li><a href="/blog/237-pagespeed-cz-plus-tutorial">PageSpeed.ONE tester PLUS</a></li>
<li><a href="/prirucka/chrome-ux-report">PageSpeed Insights</a></li>
<li><a href="/prirucka/chrome-ux-report">Chrome UX Report</a></li>
<li><a href="/prirucka/lighthouse">Google Lighthouse</a></li>
<li><a href="/prirucka/speedcurve">SpeedCurve</a></li>
</ul>
<h3 id="metriky"><a href="#metriky">Metriky</a></h3>
<ul>
<li><a href="/prirucka/metriky-rychlosti">Všechny metriky rychlosti</a></li>
<li><a href="/prirucka/web-vitals">Web Vitals</a></li>
<li><a href="/prirucka/metrika-lps">Metrika Lighthouse score</a></li>
<li><a href="/prirucka/ttfb">Metrika TTFB</a></li>
<li><a href="/prirucka/metrika-fcp">Metrika FCP</a></li>
<li><a href="/prirucka/metrika-fcp">Metrika FID</a></li>
<li><a href="/prirucka/metrika-inp">Metrika INP</a></li>
<li><a href="/prirucka/metrika-lcp">Metrika LCP</a></li>
<li><a href="/prirucka/metrika-cls">Metrika CLS</a></li>
<li><a href="/prirucka/metrika-tbt">Metrika TBT</a></li>
<li><a href="/prirucka/metrika-tti">Metrika TTI</a></li>
<li><a href="/prirucka/metrika-tti">Metrika LPS</a></li>
<li><a href="/blog/112-metriky-cile">Ideální hodnoty metrik</a></li>
</ul>
<h3 id="technicke-znalosti-a-tipy"><a href="#technicke-znalosti-a-tipy">Technické znalosti a tipy</a></h3>
<ul>
<li><a href="/prirucka/lazy-loading">Lazy loading: co je?</a></li>
<li><a href="/prirucka/lazy-loading-obrazku">Lazy loading: jak na něj?</a></li>
<li><a href="/blog/148-minilazyload">Lazy loading: knihovna MiniLazyload</a></li>
<li><a href="/prirucka/preconnect">Meta značky preconnect &amp; dns-prefetch</a></li>
<li><a href="/prirucka/preload">Meta značka preload</a></li>
<li><a href="/prirucka/priority-hints">Priority Hints a fetchpriority</a></li>
<li><a href="/prirucka/css-optimalizace">CSS optimalizace</a></li>
<li><a href="/blog/35-critical-css">CSS kritické styly</a></li>
<li><a href="/prirucka/img-pomer-stran">Poměr stran obrázků</a></li>
<li><a href="/prirucka/css-pomer-stran">Poměr stran médií</a></li>
<li><a href="/prirucka/padding-trik">Padding trik</a></li>
<li><a href="/prirucka/css-font-display">Fonty: font-display</a></li>
<li><a href="/prirucka/css-size-adjust">Fonty: size-adjust</a></li>
<li><a href="/blog/50-woff2">Fonty: WOFF2</a></li>
<li><a href="/prirucka/ikonfonty-vs-svg">Ikonfonty: proč nepoužívat</a></li>
<li><a href="/prirucka/js-async-defer-module">JavaScript: vložení jako async, defer, module</a></li>
<li><a href="/prirucka/js-priority">JavaScript: priority v prohlížečích</a></li>
<li><a href="/prirucka/intersection-observer">JavaScript: Intersection Observer</a></li>
<li><a href="/prirucka/partitioned-cache">Partitioned cache v prohlížečích</a></li>
<li><a href="/prirucka/http-2">Protokol HTTP/2</a></li>
<li><a href="/prirucka/http-3">Protokol HTTP/3</a></li>
<li><a href="/prirucka/obrazky-formaty">Obrázky: formáty</a></li>
<li><a href="/prirucka/responzivni-obrazky">Obrázky: průvodce</a> (<a href="/prirucka/svg">SVG</a>, <a href="/prirucka/webp">WebP</a>, <a href="/prirucka/avif">AVIF</a>)</li>
<li><a href="/prirucka/srcset-sizes">Obrázky: srcset a sizes</a></li>
<li><a href="/prirucka/webp">Obrázky WebP</a></li>
<li><a href="/prirucka/third-party">Third-party optimalizace</a></li>
</ul>
<h3 id="atd"><a href="#atd">Atd.</a></h3>
<ul>
<li><a href="/blog/125-wordpress-richman">Je WordPress pomalý?</a></li>
<li><a href="/prirucka/pwa">Co je PWA?</a></li>
<li><a href="/podcast/153-podcast-perfnow">Podcast s Michalem Matuškou</a> </li>
</ul>
<p class="perex">Může vás zajímat také <a href="https://docs.pagespeed.cz/">nápověda o rychlosti webu</a>, kterou píšu s kolegy z <a href="https://www.pagespeed.cz/">PageSpeed.ONE</a>.</p>
