---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { Fragment } from 'astro/jsx-runtime';
---

<BaseLayout
  title="Tomáš Krejčí"
  description="Lektor pro školení kódování newsletterů. Spoluzakladatel SUPERKODERS."
  ogType="profile"
  ogImage="https://www.vzhurudolu.cz/assets/img/content/dest/socials/vd-soc-skoleni.webp"
  ogUrl="https://www.vzhurudolu.cz/lektori/tomas-krejci"
  bodyClass="section-kurzy"
>
  <Fragment slot="styles">
    <link rel="stylesheet" href="/assets/css/modules-standalone/min/pages/lector.min.css" />
    <link rel="stylesheet" href="/assets/css/modules-standalone/min/course-icon.min.css" />
    <link rel="stylesheet" href="/assets/css/modules-standalone/min/emblem.min.css" />
  </Fragment>

  <Header slot="header" />
  <Footer slot="footer" />

  <div class="page-head lector__head">
    <h1 class="lector__head-name">
      Tomáš Krejčí
    </h1>
    <p class="lector__head-image">
      <picture>
        <source media="(min-width: 768px)"
         srcset="
           /assets/img/content/lectors/tomas-krejci_200.png 200w,
           /assets/img/content/lectors/tomas-krejci_500.png 500w,
           /assets/img/content/lectors/tomas-krejci_820.png 820w,
          "
         sizes="calc((80vw - 4rem) * .5)"
         >
        <img src="/assets/img/content/lectors/shoulders-tomas-krejci.png"
          alt="Tomáš Krejčí" height="200">
      </picture>
    </p>
    <div class="lector__head-perex">
      <p>Lektor pro školení <a href="/kurzy/newslettery" title="">kódování newsletterů</a>. Spoluzakladatel <a href="https://superkoders.com/">SUPERKODERS</a>.</p>

      <div class="lector__head-links">
        <a href="https://superkoders.com/">Web</a>
        &ndash;
        <a href="https://www.linkedin.com/in/tomkrej/">LinkedIn</a>
        &ndash;
        <a href="https://twitter.com/tomkrej">Twitter</a>
      </div>
    </div>
    <div class="lector__head-buttons">
      <hr>
      <p>
        <a href="#videa" class="button button--inverted">Videa</a>
      </p>
    </div>
  </div>

  <main role="main" id="main" aria-label="Hlavní obsah" class="">
    <div id="info" class="section">
      <div class="content">
        <div class="article">
          <p>Tomáš je špičkový specialista na kódování šablon, včetně těch newsletterových. Je dostupný pro konzultace a školení ve firmách nebo jednotlivé webové vývojáře.</p>

          <p>Vede frontendový tým v <a href="https://superkoders.com/">SUPERKODERS</a>, kde pracuje pro klienty jako Invia, iRozhlas, ČSOB, ProductBoard, Práce.cz, MUNI či Košík.cz. S kolegy také organizuje brněnskou komunitu Frontendisti.cz.</p>

          <p>Ve volném čase hraje aktivně lední hokej, jezdí na motorce a má rád dobré jídlo.</p>
        </div>
      </div>
    </div>

    <hr class="hr--small hr--spaced">

    <div id="prednasky" class="section">
      <div class="content">
        <div class="article">
          <h2 class="section-heading">
            <a href="#prednasky">
              Vybrané přednášky
            </a>
          </h2>
        </div>
      </div>

      <div class="content-full">
        <div class="row f-6">
          <div class="col w-33-sm">
            <p class="rounded o-h rwd-media mb-05">
              <a href="https://www.youtube.com/watch?v=ZeIGSxtlchY">
                <img src="/assets/img/content/lectors/talks/tomas-1.jpg" alt="" loading="lazy">
              </a>
            </p>
            <p>
              <strong>
                <a href="https://www.youtube.com/watch?v=ZeIGSxtlchY">
                  Jak jednoduše stylovat responzivní HTML e-maily
                </a>
              </strong><br>
              <span class="suppress">
                Frontendisti.cz, duben&nbsp;2018
              </span>
            </p>
          </div>

          <div class="col w-33-sm">
            <p class="rounded o-h rwd-media mb-05">
              <a href="https://www.youtube.com/watch?v=gL2db0IISRg">
                <img src="/assets/img/content/lectors/talks/tomas-2.jpg" alt="" loading="lazy">
              </a>
            </p>
            <p>
              <strong>
                <a href="https://www.youtube.com/watch?v=gL2db0IISRg">
                  Typické chyby designerů při návrhu responzivních webů
                </a>
              </strong><br>
              <span class="suppress">
                Frontendisti.cz, červenec&nbsp;2016
              </span>
            </p>
          </div>

          <div class="col w-33-sm">
            <p class="rounded o-h rwd-media mb-05">
              <a href="https://www.youtube.com/watch?v=xz6ao2pOSi0">
                <img src="/assets/img/content/lectors/talks/tomas-3.jpg" alt="" loading="lazy">
              </a>
            </p>
            <p>
              <strong>
                <a href="https://www.youtube.com/watch?v=xz6ao2pOSi0">
                  Jak zrychlit načítání webu
                </a>
              </strong><br>
              <span class="suppress">
                Frontendisti.cz, červen&nbsp;2015
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="videa" class="section section-tall margin-top-0 mb-0">
      <div class="content">
        <div class="article">
          <h2 class="section-heading">
            <a href="#videa">
              Videa
            </a>
          </h2>
        </div>
      </div>

      <div class="content">
        <div class="media-object">
          <p class="media-object__image p-r">
            <a class="course-icon rounded" href="/video/webinar-newslettery-nastroje">
              <span class="course-icon__image">
                <img src="/assets/img/icons/dest/kurzy/webinar-newslettery-nastroje.svg?v=3" alt="Nástroje pro kódování newsletterů" height="130" width="130" loading="lazy">
              </span>
            </a>
          </p>

          <div class="media-object__content">
            <h3 class="media-object__heading h5">
              <a href="/video/webinar-newslettery-nastroje">Nástroje pro kódování newsletterů</a>
            </h3>

            <div class="media-object__perex">
              <p class="mb-0">
                Efektivní tvorba newsletterů vyžaduje zkušeného profíka a správ­né ná­stro­je. To první máme, to druhé vám ukážeme.
              </p>
              <p class="grid grid--2-col-auto-1fr gap-05 ai-c mb-0 f-6">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0, 0, 100, 100" class="w-05 h-05">
                    <path d="M50,97.5 C23.766,97.5 2.5,76.234 2.5,50 C2.5,23.766 23.766,2.5 50,2.5 C76.234,2.5 97.5,23.766 97.5,50 C97.5,76.234 76.234,97.5 50,97.5 z" fill="currentColor"></path>
                    <path d="M50,2.5 C76.234,2.5 97.5,23.766 97.5,50 C97.5,76.234 76.234,97.5 50,97.5 C23.766,97.5 2.5,76.234 2.5,50 C2.5,23.766 23.766,2.5 50,2.5 z M50,9.5 C27.632,9.5 9.5,27.632 9.5,50 C9.5,72.368 27.632,90.5 50,90.5 C72.368,90.5 90.5,72.368 90.5,50 C90.5,27.632 72.368,9.5 50,9.5 z" fill="currentColor"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0, 0, 100, 100" class="w-05 h-05">
                    <path d="M50,97.5 C23.766,97.5 2.5,76.234 2.5,50 C2.5,23.766 23.766,2.5 50,2.5 C76.234,2.5 97.5,23.766 97.5,50 C97.5,76.234 76.234,97.5 50,97.5 z" fill="transparent"></path>
                    <path d="M50,2.5 C76.234,2.5 97.5,23.766 97.5,50 C97.5,76.234 76.234,97.5 50,97.5 C23.766,97.5 2.5,76.234 2.5,50 C2.5,23.766 23.766,2.5 50,2.5 z M50,9.5 C27.632,9.5 9.5,27.632 9.5,50 C9.5,72.368 27.632,90.5 50,90.5 C72.368,90.5 90.5,72.368 90.5,50 C90.5,27.632 72.368,9.5 50,9.5 z" fill="currentColor"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0, 0, 100, 100" class="w-05 h-05">
                    <path d="M50,97.5 C23.766,97.5 2.5,76.234 2.5,50 C2.5,23.766 23.766,2.5 50,2.5 C76.234,2.5 97.5,23.766 97.5,50 C97.5,76.234 76.234,97.5 50,97.5 z" fill="transparent"></path>
                    <path d="M50,2.5 C76.234,2.5 97.5,23.766 97.5,50 C97.5,76.234 76.234,97.5 50,97.5 C23.766,97.5 2.5,76.234 2.5,50 C2.5,23.766 23.766,2.5 50,2.5 z M50,9.5 C27.632,9.5 9.5,27.632 9.5,50 C9.5,72.368 27.632,90.5 50,90.5 C72.368,90.5 90.5,72.368 90.5,50 C90.5,27.632 72.368,9.5 50,9.5 z" fill="currentColor"></path>
                  </svg>
                </span>
                <span class="f-6 ellipsis">
                  Začínající i netechnici
                </span>
              </p>
              <p class="mb-0">
                <span title="Cena s DPH. Cena bez DPH: 164 Kč">
                  Cena:
                  <strong>199 Kč</strong>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="firmy" class="section mt-0">
      <div class="content">
        <div class="article">
          <h2 class="section-heading mb-1-5 mt-0">
            <a href="#firmy">
              Firemní spolupráce
            </a>
          </h2>
        </div>

        <div class="row">
          <a class="col w-50 w-25-sm" href="https://www.csob.cz/">
            <p class="rounded inflatable logotype">
              <img src="/assets/img/content/dest/logos/csob.svg"
                title=""
                width="200" height="200"
                alt="ČSOB">
            </p>
          </a>

          <a class="col w-50 w-25-sm" href="https://www.invia.cz/">
            <p class="rounded inflatable logotype">
              <img src="/assets/img/content/dest/logos/invia.svg"
                title=""
                width="200" height="200"
                alt="Invia.cz">
            </p>
          </a>

          <a class="col w-50 w-25-sm" href="https://www.irozhlas.cz/">
            <p class="rounded inflatable logotype">
              <img src="/assets/img/content/dest/logos/irozhlas.svg"
                title=""
                width="200" height="200"
                alt="iROZHLAS">
            </p>
          </a>

          <a class="col w-50 w-25-sm" href="https://www.muni.cz/">
            <p class="rounded inflatable logotype">
              <img src="/assets/img/content/dest/logos/muni.svg"
                title=""
                width="200" height="200"
                alt="Masarykova univerzita">
            </p>
          </a>
        </div>
      </div>
    </div>

    <hr class="hr hr--small hr--spaced">

    <div id="lektori" class="section section-tall margin-top-0 section-latest">
      <div class="content ta-c f-sm">
        <div class="row mb-1 jc-c">
          <article class="col w-33-xs px-05 ta-c">
            <a class="avatar" href="/lektori/martin-michalek">
              <img src="/assets/img/content/lectors/shoulders-martin-michalek.png" alt="Martin Michálek" width="200" height="200" loading="lazy" class="avatar__image">
            </a>
            <h3 class="h5 mb-0">
              <a href="/lektori/martin-michalek">
                Martin
                Michálek
              </a>
            </h3>
            <p class="f-6">
              Freelance expert na CSS a&nbsp;rychlost.
            </p>
          </article>

          <article class="col w-33-xs px-05 ta-c">
            <a class="avatar" href="/lektori/michal-matuska">
              <img src="/assets/img/content/lectors/shoulders-michal-matuska.png" alt="Michal Matuška" width="200" height="200" loading="lazy" class="avatar__image">
            </a>
            <h3 class="h5 mb-0">
              <a href="/lektori/michal-matuska">
                Michal Matuška
              </a>
            </h3>
            <p class="f-6">
              Technický šéf v&nbsp;SUPERKODERS.
            </p>
          </article>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
