/*

Helpery
=======

Jednoduché pomocné třídy.

*/


// Typografie

.font-size-large { font-size: @font-size-large; }
.font-size-base { font-size: @font-size-base; }
.font-size-small { font-size: @font-size-small; }
.font-size-smaller { font-size: @font-size-smaller; }


// Oznaceni TODO v prototypu

.todo {
  background: #eee;
  font-style: italic !important;
  padding: 10px;
}

// Podtrzene nadpisy
// (napr. v detailu produktu)
// Stylovani vychazi z BS .page-header

.heading-underlined {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: 0 0 @line-height-computed;
  border-bottom: 1px solid @vc-border-color-dark;
}


// Sipka pro indikaci otevreneho/zavreneho stavu
// (napr. v navigaci nebo v elementech, ktere jdou otevirat/zavirat)
// Prebrano z BS, doplneno o opacnou variantu .caret-up
// TODO komponenta.

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   @caret-width-base solid;
  border-right: @caret-width-base solid transparent;
  border-left:  @caret-width-base solid transparent;
}

.caret-up {
  border-top: none;
  border-bottom:   @caret-width-base solid;
}

// Zobrazování a schovávání obsahu
// -------------------------------

// Např. v tlačítku "Pokračovat v objednávce"

.hide-320-down {
  @media only screen and (max-width: 319px) {
    display: none;
  }
}

.show-320-up {
  @media only screen and (max-width: 319px) {
    display: block;
  }
}

.show-320-up-inline {
 @media only screen and (max-width: 319px) {
   display: inline;
 }
}

