/*

VašeČočky.cz proměnné
=====================

*/


// Breakopointy
// ------------

// Bod, od ktereho se na obsah aplikuje layout
@vc-layout-start: 768px;

// Zlom, od ktereho se uz layout nezvetsuje
@vc-layout-full-start: 1200px;



// Typografie
// ----------

// Nejmensi velikost textu (V BS mame -base a -small varianty)
// TODO prejmenovat do @vc- uzusu?
@font-size-smaller: 12px;



// Barvy
// -----

// Modré barvy odkazů a aktivních prvků
@vc-color-blue: #3991c0;
@vc-color-dark-blue: #286ca6;

// Červená call-to-action nebo ceny
// např. primární tlačítko
@vc-color-red: #ff3705;
@vc-color-dark-red: #c20000;

// Šedivá základna textu (odvozená z loga VČ)
@vc-color-grey: #676867;

// Tmavě šedivá pro základní text
@vc-color-text: darken(@vc-color-grey, 15%); // #414241

// Zelená pro text stavu na skladě a pozadí označení dostupnosti zboží
@vc-color-green: #65CB33;

// Oranžová pro nadpisy
@vc-color-orange: #ff7e0b;


// #### Předěly a rámečky

// Barva pro předěly a rámečky
@vc-border-color: #ccc;

// Šedivá pro významnější předěly
// Např. čára pod nadpisy v detailu produktu
@vc-border-color-dark: darken(@vc-border-color, 20%);

// ### Pozadí

// Světlé pozadí
// Např. přihlášení nebo formíky v košíku
@vc-bg-light: #eee;

// Tmavší
// Např. proužek nahoře
@vc-bg-medium: #eee;

// Béžová pro info hlášky
@vc-bg-info: #EADF7C;







