/*

Bar
===

Proužek s důležitou informací nahoře.
(Např. výdejní místa v okolí.)

*/

.bar {
  font-size: @font-size-smaller;
  line-height: 1.3;
  background: #b8b8b8;
}

.bar .container {
  position: relative;
  padding-top: @padding-large-vertical;
  padding-bottom: @padding-large-vertical;
  margin-bottom: 0;
}

.bar .close {
  position: absolute;
  right: @grid-gutter-width/2;
  top: 50%;
  margin-top: -15px;
}
