/*

Directory
=========

Rozcestník kategorií. Např. v seznamu produktů nahoře.

*/


// Base

.directory {
  font-size: @font-size-smaller;
  line-height: @line-height-small;
}

.directory ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.directory li {
  float: left;
}


// Nadpis

.directory-heading,
.directory-group-heading {
  font-size: @font-size-smaller;
  line-height: @line-height-small;
  margin: 0 0 @padding-small-vertical 0;
  font-weight: bold;
}

.js .directory-heading {
  display: none;
}

// Oddelovac polozek

.directory-divider {
  color: @gray-light;

  .directory-group-content & {
    margin-right: 4px;
  }
}

// Blok se seznamem polozek

.directory-group-content {
  .clearfix;
}

// Polozka seznamu

.directory-item {
  padding: @padding-small-vertical 0;
  display: inline-block;
}



// Varianta: .directory-multiple - vyber mezi vice typy kategorii
// --------------------------------------------------------------

// Napr. v kategorii "Cocky". Pridavame zalozkovou logiku, ktera funguje jen pokud
// fici javascript.

// TODO:
// - v rozliseni pod 320px se delsi nadpis v .directory-heading zalomi na druhou radku

// Zobrazeni hlavniho nadpisu, schovani tech co patri ke skupine

.js .directory-multiple {
  .directory-heading {
    display: block;
  }

  .directory-group-heading {
    .sr-only;
  }
}

// Layout: s JS jsou to "zalozky"

.js .directory-multiple {
  position: relative;
  height: 150px; // Default vyska, kterou menime v JS

  .directory-heading {
    position: absolute;
    top: 0;
    left: 0;
  }

  .directory-group {
    visibility: hidden;
    position: absolute;
    top: 22px; // Vyska .directory-heading
    left: 0;
  }

  .directory-group.first {
    visibility: visible;
  }
}

// Zvyraznovani aktivni polozky v hlavicce

.js .directory-multiple {
  .directory-heading a.active {
    color: @text-color;
    text-decoration: underline;
  }
}
