/*

Page Heading
============

Hlavní nadpis stránky

*/

.page-heading {
  margin-top: @line-height-computed*1.5;
  margin-bottom: @line-height-computed*1.5;

  @media only screen and (max-width: (@layout-start - 1)) {
    font-size: 35px;
  }
}
