/* Base and print stylesheet
   ==============================================
   1) Base
   2) Print
   3) Screen
   Project: Snowkidz.cz
   CSS author: Martin Michalek, michalek@shortcat.cz
   Contributor: Vojtech Bulant, vojtech@bulant.cz
*/

/* ==============================================================================
   1) Base
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 20px;
}

input, textarea, select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

p, ul, ol, dl, h1, h2, h3, h4, h5, h6, fieldset, form, blockquote, table {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 18px;
}

ol {
  padding-left: 20px;
}

a img
  {  border: 0; }

a
  { color: #0085ee; }

a:hover,
a:focus,
a:active
  { color: #f30; }

sup, sub {position: relative; font-size: 75%; line-height: 0;}

/* HR is section divider in base stylesheet */
hr
  { margin-bottom: 36px;}

@font-face {
	font-family: 'VAGRundschriftD';
	src: url('webfonts/202158_0_0.eot?') format('eot'), url('webfonts/202158_0_0.woff') format('woff'), url('webfonts/202158_0_0.ttf') format('truetype');
}

/* --------------------------------------------------------------------------------
   Helpers
*/

.clear
  { clear: both;}

.clear_zero {
  clear: both;
  font-size: 1px;
  line-height: 1px;
}

.clearf:before, .clearf:after { content: ""; display: table; }
.clearf:after { clear: both; }
.clearf { zoom: 1; }

.smart_only
  { display: none; }
.right
  { text-align: right; }
.left
  { text-align: left; }
.center
  { text-align: center; }



/* ================================================================================
   2) Print
*/


@media print {

  hr,
  .mobile_only,
  .desktop_only,
  #nav,
  #head .nav_jump,
  #intro-slideshow,
  #intro-slideshow-nav,
  .home-content .fb_temp,
  .snowpark_navigation_top,
  .snowpark_navigation_bottom,
  .snowpark_equipment_list .item .icon,
  .snowpark_motivator .fb-like,
  .slideshow_nav,
  .celebrity_nav,
  .celebrity_foot {
    display: none;
  }

  .force_print {display: block;}

  .snowpark_motivator .head img {
    width: 30px;
    height: 30px;
  }


} /* 2) Print */



/* ================================================================================
   3) Screen (desktop and tablet)
*/


@media screen {

  body
    { color: #555; background: #e0f4fa url('../img/bg.png') repeat-x; }

  a
    { color: #0085ee; font-weight: bold; text-decoration: none; cursor: pointer; }

  a:hover,
  a:focus,
  a:active
    { color: #0085ee; text-decoration: underline; }


  /* --------------------------------------------------------------------------------
     Helpers
  */

  .dumb_only
    { display: none; }
  .mobile_only
    { display: none; }
  .desktop_only
    { display: block; }

  .button {
    -webkit-box-shadow: #fff 1px 0 1px;
    -moz-box-shadow: #fff 1px 0 1px;
    box-shadow: #fff 1px 0 1px;
    display: inline-block;
    padding: 7px 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    -webkit-border-radius: 20px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 20px; /* FF1-3.6 */
    border-radius: 20px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    background-color: #148ef0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzE0OGVmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTdiZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #148ef0 1%, #017bdd 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#148ef0), color-stop(100%,#017bdd)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* IE10+ */
    background-image: linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* W3C */
  }
  .button:hover,
  .button:focus,
  .button:active {
    color: #fff;
    text-decoration: none;
    background-color: #1076c5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzEwNzZjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzZlYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #1076c5 1%, #076ebc 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1076c5), color-stop(100%,#076ebc)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* IE10+ */
    background-image: linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* W3C */
  }

  /*
   * Pridal Vojta
   */
  	/* G/L image replacement */
  	.ir, .ir a {position: relative; display: block; overflow: hidden;}
  	.ir a, .ir span {width: 100%; height: 100%;}
  	.ir span {position: absolute; left: 0; top: 0;}

  	/* Decorations (bg images) */
  	.decoration {position: absolute; display: block; overflow: hidden;}
  	.mascot {background: url("../img/maskoti.png");}

  /* --------------------------------------------------------------------------------
     Layout
  */

  #container {
    position: relative;
    width: 940px;
    margin: 20px auto 40px;
  }

  #content {
    background: #fff;
    -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 5px; /* FF1-3.6 */
    border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    overflow: hidden;
  }

  /* --------------------------------------------------------------------------------
     Hlavicka a hlavni navigace
  */

  #head {
    margin-bottom: 37px;
  }

  #head .logo {position: relative; top: 8px;}

  #nav {
    background-color: #fff;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(247, 250, 251)));
  	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(247, 250, 251));
  	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(247, 250, 251));
  	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(247, 250, 251));
  	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(247, 250, 251));
  	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(247, 250, 251));
  	-webkit-box-shadow: #cbdfe6 0 1px 0; -moz-box-shadow: #cbdfe6 0 1px 0; box-shadow: #cbdfe6 0 1px 0;
  	-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
  	position: absolute;
  	top: 20px;
  	right: 0;
  	padding: 7px 0;
    font-size: 12px;
    line-height: 18px;
    height: 24px;
  }
  .homepage #nav {top: 36px;}

  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 0;
  }

  #nav li {
    float: left; /* IE7 */
    margin: 0;
    padding: 0;
  }

  #nav .item {
    float: left;
    padding: 4px 12px 2px 18px;
    margin-left: 0;
    text-decoration: none;
    background: url('../img/nav_divider.png') left center no-repeat;
  }

  #nav .item.active,
  #nav .item:hover,
  #nav .item:focus,
  #nav .item:active {
    color: #3aaa35;
    text-decoration: none;
  }

  #nav .item.home {
    background: url('../img/nav_home.png') 65% 0 no-repeat;
    width: 16px;
    height: 20px;
    padding: 4px 12px 2px 22px;
    text-indent: -5000px;
  }

  #nav .item.home.active,
  #nav .item.home:hover,
  #nav .item.home:focus,
  #nav .item.home:active {
    background-position: 65% -24px;
  }

  #nav .item.active {cursor: default;}


  /* --------------------------------------------------------------------------------
     Paticka
  */

  #foot {
    padding-top: 34px;
    color: #4d7886;
    text-align: center;
  }

  .foot_copyright {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
  }


  /* --------------------------------------------------------------------------------
     Stranka homepage
  */
  .homepage {background: #fff url('../img/bg_home.jpg') 50% 0 no-repeat;}

  .js.homepage #head {height: 600px;}
  	.homepage #head .logo {top: 4px; margin: 0 0 56px;}

  	.intro {font-size: 17px; line-height: 24px;}
  		.intro h1 {
			font-family: 'VAGRundschriftD', "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: normal;
			margin-bottom: 16px; font-size: 48px; line-height: 41px; color: #0d63a3;}
  			.intro h1 span {display: block; font-size: 28px;}
  		.intro .slides {position: relative; width: 360px; margin: 0 0 65px;}
  			.intro .nav {margin: 0; padding: 0;}
  				.intro .nav li {float: left; list-style: none;}
  				.intro .nav a {background: url("../img/intro_balls.png"); float: left; width: 17px; height: 17px; overflow: hidden; margin: 0 4px 0 0; text-indent: -100px;}
  				.intro .nav a:focus,
  				.intro .nav a:hover,
  				.intro .nav a:active {opacity: .75;}
  				.intro .activeSlide a {background-position: -17px 0;}
  			.intro h2 {margin: 0; font-size: 1em; font-weight: bold; color: #555;}

  .homepage #content {overflow: visible;}

  	.home-content {padding: 66px 0 35px;}

  	.home-content h2 {
		font-family: 'VAGRundschriftD', "Helvetica Neue", Helvetica, Arial, sans-serif;
		position: relative; font-size: 32px; line-height: 35px;}
  	.home-content h3 {font-size: 22px; font-weight: bold;}

  	.our-parks {position: relative; float: left; width: 534px;}
  		.our-parks .mascot {left: 221px; bottom: 0; width: 221px; height: 206px;}
  		.our-parks h2 {margin-bottom: 36px;}
  			.our-parks h2 a {position: relative; color: #0d63a3;}
  			.our-parks h2 .decoration {background: url("../img/home_icons.png"); top: -54px; left: 0; width: 25px; height: 40px;}
  		.our-parks ul {background: url("../img/home_map.gif"); position: relative; width: 525px; height: 302px; margin: 0; padding: 0; font-size: 12px;}
  			.our-parks ul li {
  				background: url("../img/home_signs.png") 50% 100% no-repeat;
  				position: absolute; display: block; padding: 0 0 41px; list-style: none;}
  				.our-parks ul li a {
  					-webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;
  					background: url("../img/home_signs.png") 50% -42px no-repeat;
  					position: relative; display: block; padding: 14px 10px 10px; text-decoration: none; color: #fff;}
  					.our-parks ul li .decoration {background: url("../img/home_signs.png") 0 -51px; top: 9px; height: 29px;}
  					.our-parks ul li .l {left: -5px; width: 5px;}
  					.our-parks ul li .r {background-position: 100% -51px; right: -9px; width: 9px;}
  				.our-parks ul li a:hover,
  				.our-parks ul li a:focus,
  				.our-parks ul li a:active {background-position: 50% 0;}
  					.our-parks ul li a:hover .l,
  					.our-parks ul li a:focus .l,
  					.our-parks ul li a:active .l {background-position: 0 -9px;}
  					.our-parks ul li a:hover .r,
  					.our-parks ul li a:focus .r,
  					.our-parks ul li a:active .r {background-position: 100% -9px;}
  			.our-parks .spindl {padding-bottom: 99px; left: 227px; top: -90px;}
  			.our-parks .harrachov {padding-bottom: 46px; left: 221px; top: -47px;}
  			.our-parks .herlikovice {padding-bottom: 21px; left: 232px; top: -5px;}
  			.our-parks .klinovec {padding-bottom: 30px; left: 41px; top: 4px;}
  			.our-parks .marianky { left: 4px; top: 48px;}
  			.our-parks .kasperky { left: 58px; top: 153px;}
  			.our-parks .becva {right: -8px; top: 109px;}

  	.why-sport {float: right; width: 360px;}
  		.why-sport h2 {margin-bottom: 24px; color: #46ad4b;}
  			.why-sport h2 .decoration {background: url("../img/home_icons.png") -25px 0; top: -54px; left: 0; width: 52px; height: 45px;}
  		.why-sport h3 {margin: 24px 0 12px; color: #0d63a3;}
  		.why-sport p {padding: 0 0 0 80px; line-height: 22px;}
  		.why-sport .pohyb {background: url("../img/why-sport.jpg") 0 5px no-repeat;}
  		.why-sport .rozvoj {background: url("../img/why-sport.jpg") -433px 5px no-repeat;}

  	.entertainment {float: left; width: 360px; margin: 0 0 60px; padding: 95px 0 0 147px;}
  		.entertainment h2 {width: 440px; margin: 0 0 46px -147px; color: #46ad4b;}
  		.entertainment h3 {margin: 34px 0 12px;}
  		.entertainment p {position: relative; font-size: 16px; line-height: 22px;}
  		.entertainment .decoration {background: url("../img/home_icons.png") 0 -46px; left: -146px; top: 12px; width: 96px; height: 90px;}

  	.register-bait {
  		-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
  		background: #e4ffec; position: relative; float: right; width: 300px; margin: 95px 0 60px; padding: 40px 30px;
  		text-align: center;}
  		.register-bait .mascot {background-position: -221px 0; left: -90px; top: -75px; width: 208px; height: 186px;}
  		.register-bait h2 {
  			-webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px;
  			background: #feae43; display: inline-block; width: 140px; height: 140px; margin-bottom: 16px;
  			line-height: 140px; vertical-align: middle; font-size: 38px; color: #fff;}
  		.register-bait p {line-height: 20px;}
  		.register-bait .register {margin: 24px 0 0;}

		/* TEMP FB BOX */
		.fb_temp {background: #fff;}
		.register-bait .fb-like-box {margin-bottom: -40px;}

  	.inspire {
		-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	 	background: #e0f2f8; position: relative; padding: 30px 0 59px; text-align: center;}
  		.inspire .mascot {background-position: -429px 0; left: -28px; top: -65px; width: 162px; height: 171px;}
  		.inspire h2 {margin: 0; line-height: 48px;}
  		.inspire p {margin-bottom: 31px; font-size: 22px;}
  		.inspire ul {margin: 0; padding: 0 0 0 57px;}
  			.inspire li {float: left; list-style: none; padding: 0 20px;}
  			.inspire li a {background: url("../img/home_celebs.jpg") no-repeat; float: left; width: 164px; padding: 169px 0 0; text-decoration: none;}
  			.inspire .bank a {background-position: -164px 0;}
  			.inspire .sudova a {background-position: -328px 0;}
  			.inspire .sedlak a {background-position: -492px 0;}
  			.inspire li a:hover,
  			.inspire li a:focus,
  			.inspire li a:active {background-position: -656px 0;}
  			.inspire .bank a:hover,
  			.inspire .bank a:focus,
  			.inspire .bank a:active {background-position: -820px 0;}
  			.inspire .sudova a:hover,
  			.inspire .sudova a:focus,
  			.inspire .sudova a:active {background-position: -984px 0;}
  			.inspire .sedlak a:hover,
  			.inspire .sedlak a:focus,
  			.inspire .sedlak a:active {background-position: -1148px 0;}

  	.blog-list {margin: 0 0 70px;}
  		.blog-list h2 {float: left; width: 220px; color: #46ad4b;}
  			.blog-list h2 a {color: #46ad4b;}
  		.blog-list ul {float: left; margin: 0; padding: 11px 0 0; line-height: 19px; font-size: 16px; font-weight: bold;}
  			.blog-list li {float: left; width: 220px; margin: 0 0 0 20px; list-style: none;}
  			.blog-list span {display: block; color: #a3a3a3;}

	/* Temporary partners */
	#partners {
		padding: 70px 0 0;
	}
	#partners h2 {
		margin-bottom: 18px;
		font-size: 16px; line-height: 16px; color: #555;
	}
	#partners .partners_box {
		text-align: left;
		float: left;
		width: 315px;
		margin-bottom: 45px;
	}
	#partners .partners_box.last {
		width: 310px;
	}
	#partners .partners_box.very_last {
		margin-bottom: 0;
	}
	#partners .partners {
		margin-bottom: 0;
	}
	#partners .item:hover,
    #partners .item:focus,
    #partners .item:active {
	    opacity: 0.8;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	    filter: alpha(opacity=80);
    }


  /* --------------------------------------------------------------------------------
     Stranka "Detail snowparku"
  */

  .snowpark_navigation_top {
    height: 51px;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
  }

  .snowpark_navigation_top .nav {
    width: 960px;
	border-bottom: 1px solid #e3eff3;
  }

  .snowpark_navigation_top .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .snowpark_navigation_top .nav li {
    float: left; /* IE7 */
    margin: 0;
    padding: 0;
  }

  .snowpark_navigation_top .nav .item {
    border-left: 1px solid #e3eff3;
    padding: 17px 0 15px;
	  float: left;
	  width: 134px;
    text-align: center;
    text-decoration: none;
  }

  .snowpark_navigation_top .nav a.item {
    background-color: #fdfefe; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2ZhZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #fdfefe 0%, #f7fafb 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#f7fafb)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #fdfefe 0%,#f7fafb 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #fdfefe 0%,#f7fafb 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fdfefe 0%,#f7fafb 100%); /* IE10+ */
    background-image: linear-gradient(top,  #fdfefe 0%,#f7fafb 100%); /* W3C */
  }

  .snowpark_navigation_top .nav ul > li:first-child .item {
    border-left: 0;
	width: 130px;
    -webkit-border-radius: 5px 0 0 0; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 5px 0 0 0; /* FF1-3.6 */
    border-radius: 5px 0 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  }

  .snowpark_navigation_top .nav ul > li:last-child .item {
    -webkit-border-radius: 0 5px 0 0; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 0 5px 0 0; /* FF1-3.6 */
    border-radius: 0 5px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  }

  .snowpark_navigation_top .nav .item:hover,
  .snowpark_navigation_top .nav .item:focus,
  .snowpark_navigation_top .nav .item:active {
    background: #fff;
    color: #3aaa35;
    filter: none; /* IE gradient override */
  }

  .snowpark_navigation_top .nav .item.active {
    color: #555;
    font-weight: bold;
    background: #fff;
    cursor: default;
  }


  /* --- Navigace po snowparcich - dole --- */

  .snowpark_navigation_bottom {
    font-size: 12px;
    height: 50px;
    border-top: 1px solid #e3eff3;
    -webkit-border-radius: 0 0 5px 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 0 0 5px 5px; /* FF1-3.6 */
    border-radius: 0 0 5px 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    background-color: #f7fafb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZmFmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #f7fafb 0%, #fdfefe 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fafb), color-stop(100%,#fdfefe)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #f7fafb 0%,#fdfefe 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #f7fafb 0%,#fdfefe 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f7fafb 0%,#fdfefe 100%); /* IE10+ */
    background-image: linear-gradient(top,  #f7fafb 0%,#fdfefe 100%); /* W3C */
  }

  .snowpark_navigation_bottom .nav {
    position: relative;
    float: left;
    left: 50%;
  }

  .snowpark_navigation_bottom  ul {
    position: relative;
    float: left;
    right: 50%;
    list-style-type: none;
    margin: 12px auto 0;
    padding: 0;
  }

  .snowpark_navigation_bottom  li {
    display: inline-block;
    float: left; /* IE7 */
    margin: 0;
    padding: 0;
  }

  .snowpark_navigation_bottom .item {
    display: inline-block;
    padding: 4px 16px 2px 20px;
    margin-left: -2px;
    text-decoration: none;
    background: url('../img/nav_divider.png') left center no-repeat;
  }

  .snowpark_navigation_bottom .active,
  .snowpark_navigation_bottom .item:hover,
  .snowpark_navigation_bottom .item:focus,
  .snowpark_navigation_bottom .item:active {
    color: #555;
    text-decoration: none;
    font-weight: bold;
  }

  .snowpark_navigation_bottom ul > li:first-child .item {
    background-image: none;
  }


  /* --- Nazev a tagline snowparku  --- */

  .snowpark_main {
    height: 123px;
  }

  .snowpark_head {
    width: 580px;
    float: left;
  }

  .snowpark_head .head {
    margin: 30px 0 2px 30px;
    font-size: 38px;
    line-height: 38px;
    font-weight: normal;
	font-family: 'VAGRundschriftD', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0d63a3;
  }

  .snowpark_head .tagline {
    margin: 0 0 0 30px;
    font-size: 18px;
    line-height: 22px;
  }

  .snowpark_head .tagline b {
    font-weight: normal;
  }

  .snowpark_services {
    width: 340px;
    float: left;
    color: #aaa;
  }

  .snowpark_services a {
    color: #aaa;
    text-decoration: underline;
    font-weight: normal;
  }

  .snowpark_services .head {
    margin: 23px 0 3px 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #555;
  }

  /* --- Prouzek s pocasim a statusem z Twitteru --- */

  .snowpark_info {
    color: #fff;
    background: #67a3d1;
    min-height: 45px;
  }

  .snowpark_info .actual {
    width: 580px;
    float: left;
    background: url('../img/snowpark_info_actual.png') no-repeat left center;
  }

  .snowpark_info #last_tweet {
    overflow: hidden;
    white-space: nowrap;
    width: 370px;
    text-overflow: ellipsis;
  }

  .snowpark_info .weather {
    width: 360px;
    float: left;
    background: url('../img/snowpark_info_weather.png') no-repeat left center;
  }

  .snowpark_info .weather .conditions {
    overflow: hidden;
    white-space: nowrap;
    width: 223px;
    text-overflow: ellipsis;
  }

  .snowpark_info .actual .content,
  .snowpark_info .weather .content {
    margin: 13px 20px 14px 64px;
    height: 18px;
    overflow: hidden;
  }

  .snowpark_info .actual .title,
  .snowpark_info #last_tweet,
  .snowpark_info .weather .title,
  .snowpark_info .weather .conditions {
    display: inline-block;
    vertical-align: middle;
  }


  /* --- Slideshow --- */

  .snowpark_slideshow {
    height: 315px;
    overflow: hidden;
    position: relative;
  }

  .snowpark_slideshow .slideshow_item {
    width: 940px;
    height: 315px;
    float: left;
  }

  .snowpark_slideshow .slideshow_viewport_carousel {
    width: 10000px;
    height: 315px;
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    transition: all 0.2s ease-out;
  }

  .snowpark_slideshow .text_content {
    position: absolute;
    top: 44px;
    right: 40px;
    width: 350px;
    height: 228px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .95);
    -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 5px; /* FF1-3.6 */
    border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    color: #626364;
  }

  .snowpark_slideshow .text_content .head {
    margin: 0 0 10px;
    font-size: 18px; color: #46ad4b; line-height: 1.2;
  }

  .snowpark_slideshow .text_content .slideshow_text {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 13px 30px; padding: 28px 0 0;
    width: 300px;
	height: 145px;
  }

  .snowpark_slideshow .text_content .slideshow_text .item {
    display: none;
  }

  .snowpark_slideshow .text_content .slideshow_text > .item:first-child {
    display: block;
  }

  .snowpark_slideshow .text_content .slideshow_nav {
    position: absolute;
    bottom: 23px;
    left: 30px;
    width: 290px;
    margin: 0;
  }

  .snowpark_slideshow .text_content .slideshow_nav .item {
    text-indent: -5000px;
    display: inline-block;
    width: 13px;
    height: 23px;
    background: url('../img/snowpark_slideshow_nav_dot.png') top left no-repeat;
    background-position: 0px -23px;
    float: left;
  }

  .snowpark_slideshow .text_content .slideshow_nav .item.active {
    background-position: 0px 0px;
  }

  .snowpark_slideshow .text_content .slideshow_nav .next {
    float: left;
    text-indent: -5000px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url('../img/snowpark_slideshow_nav_next.png');
  }

  .snowpark_slideshow .text_content .slideshow_nav .prev {
    float: left;
    text-indent: -5000px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url('../img/snowpark_slideshow_nav_prev.png');
  }

  .snowpark_slideshow .text_content .slideshow_nav .item:hover,
  .snowpark_slideshow .text_content .slideshow_nav .item:focus,
  .snowpark_slideshow .text_content .slideshow_nav .item:active,
  .snowpark_slideshow .text_content .slideshow_nav .prev:hover,
  .snowpark_slideshow .text_content .slideshow_nav .prev:focus,
  .snowpark_slideshow .text_content .slideshow_nav .prev:active,
  .snowpark_slideshow .text_content .slideshow_nav .next:hover,
  .snowpark_slideshow .text_content .slideshow_nav .next:focus,
  .snowpark_slideshow .text_content .slideshow_nav .next:active {
    opacity: .8;
  }




  /* --- Vybaveni parku --- */

  .snowpark_equipment {
	border-bottom: 1px solid #e3eff3;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* IE10+ */
    background-image: linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* W3C */
  }

  .snowpark_equipment .head {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f7fafb;
    color: #0d63a3;
    padding: 11px 12px 8px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid #e3eff3;
  }

  .snowpark_equipment_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .snowpark_equipment_list .item {
    float: left;
    position: relative;
    width: 186px;
    height: 266px;
    overflow: hidden;
    border-left: 1px solid #fff;
    border-right: 1px solid #e3eff3;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color: #fff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* IE10+ */
    background-image: linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* W3C */
  }

  .snowpark_equipment_list > .item:first-child {
    width: 187px;
    border-left: 0;
  }

/*
  .snowpark_equipment_list .item:hover,
  .snowpark_equipment_list .item:focus,
  .snowpark_equipment_list .item:active {
    background: #f1f1f1;
  }
*/

  .snowpark_equipment_list .item .icon {
    position: absolute;
	top: -65px;
    right: -120px;
    border: 1px solid #999;
  }

  .snowpark_equipment_list .item .name {
    position: absolute;
    bottom: 16px;
    left: 19px;
    display: inline-block;
	  color: #999;
    /*
  	Button appearance
  	color: #fff;*/
    padding: 6px 0;
    text-align: center;
    width: 146px;
    /*
  	Button appearance
  	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #b3b3b3;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYjNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #b3b3b3 0%, #a0a0a0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b3b3), color-stop(100%,#a0a0a0));
    background-image: -webkit-linear-gradient(top,  #b3b3b3 0%,#a0a0a0 100%);
    background-image: -o-linear-gradient(top,  #b3b3b3 0%,#a0a0a0 100%);
    background-image: -ms-linear-gradient(top,  #b3b3b3 0%,#a0a0a0 100%);
    background-image: linear-gradient(top,  #b3b3b3 0%,#a0a0a0 100%);*/
  }


  /* --- "Radek" s kontakty a instruktory --- */

  .snowpark_contacts_and_insctructors {
    border-bottom: 1px solid #e3eff3;
    background: url('../img/snowpark_contacts_and_insctructors_bg.png') repeat-y;
  }


  /* --- Kontakty --- */

  .snowpark_contacts {
    float: left;
    width: 312px;
  }

  .snowpark_contacts .head {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f7fafb;
    color: #0d63a3;
    padding: 11px 12px 8px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid #e3eff3;
    border-top: 1px solid #fff;
  }

  .snowpark_contacts .map {
    margin-bottom: 9px;
  }

  .snowpark_contacts .map a:hover,
  .snowpark_contacts .map a:focus,
  .snowpark_contacts .map a:active {
    opacity: .9;
  }

  .snowpark_contacts .address {
    overflow: hidden;
    padding: 6px 23px 0 66px;
    background: url('../img/snowpark_address.png') no-repeat center left;
  }

  .snowpark_contacts .address .areal {
    color: #0d63a3;
  }


  /* --- Instruktori --- */

  .snowpark_instructors {
    float: left;
    width: 627px;
    min-height: 306px;
    margin-left: 1px;
    overflow: hidden;
  }

  .snowpark_instructors .head {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f7fafb;
    color: #0d63a3;
    padding: 11px 12px 8px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid #e3eff3;
    border-top: 1px solid #fff;
  }

  .snowpark_instructors .content {

  }

  .snowpark_instructors .list {
    /*height: 267px;*/
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 40px;
  }

  .snowpark_instructors .temp {
    padding: 75px 0 0;
    color: #999;
  }

  .snowpark_instructors .instructor {
    display: inline-block;
    width: 180px;
  }

  .snowpark_instructors .instructor .image {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin: 41px 0 17px 22px;
    background: url('../img/instruktori/blank.png') no-repeat;
  }

  .snowpark_instructors .instructor .image_mask {
    position: absolute;
    display: block;
    width: 140px;
    height: 140px;
    top: 0px;
    left: 0px;
    background: url('../img/mask_circle_140.png');
  }


  /* --- "Radek" s partnery a motivaci ke clenstvi --- */

  .snowpark_partners_and_motivator {
    background: url('../img/snowpark_partners_and_motivator_bg.png') repeat-y;
  }

  /* --- Partneri --- */

  .snowpark_partners {
    float: left;
    width: 627px;
  }

  .snowpark_partners .head {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f7fafb;
    color: #0d63a3;
    padding: 11px 12px 8px 12px;
    margin-bottom: 0;
    border-bottom: 1px solid #e3eff3;
    border-top: 1px solid #fff;
  }

  .snowpark_partners .content {
    margin-top: 25px; padding: 0 15px 0;
	text-align: center;
  }

  .snowpark_partners .partners {
  }

  .snowpark_partners .item {
	display: inline-block;
    margin-right: -4px;
  }

  .snowpark_partners .item:hover,
  .snowpark_partners .item:focus,
  .snowpark_partners .item:active {
    opacity: .9;
  }


  /* --- Motivace k clenstvi --- */

  .snowpark_motivator {
    width: 311px;
    float: left;
    margin-left: 1px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: center;
    padding-bottom: 13px;
  }

  .snowpark_motivator .head {
    width: 114px;
    height: 114px;
    margin: 35px auto 12px;
  }

  .snowpark_motivator .head a:hover,
  .snowpark_motivator .head a:focus,
  .snowpark_motivator .head a:active {
    opacity: .95;
  }

  .snowpark_motivator .text {
    margin: 0 auto 12px;
    width: 209px;
    font-weight: bold;
  }

  .snowpark_motivator .fb-like {
    margin: 0 auto;
    width: 130px;
    overflow: hidden;
  }

  /*
   * TODO: Martine, pouziva se jeste tenhle button? V kodu jsem jej nenasel
   */
  .snowpark_motivator .button {
    margin-bottom: 30px;
  }

  .snowpark_motivator .button a {
    display: inline-block;
    color: #fff;
    padding: 6px 0;
    text-align: center;
    width: 146px;
    -webkit-border-radius: 20px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 20px; /* FF1-3.6 */
    border-radius: 20px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    background-color: #148ef0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzE0OGVmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTdiZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #148ef0 1%, #017bdd 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#148ef0), color-stop(100%,#017bdd)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* IE10+ */
    background-image: linear-gradient(top,  #148ef0 1%,#017bdd 100%); /* W3C */
  }

  .snowpark_motivator .button a:hover,
  .snowpark_motivator .button a:focus,
  .snowpark_motivator .button a:active {
    text-decoration: none;
    background-color: #1076c5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzEwNzZjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzZlYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #1076c5 1%, #076ebc 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1076c5), color-stop(100%,#076ebc)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* IE10+ */
    background-image: linear-gradient(top,  #1076c5 1%,#076ebc 100%); /* W3C */
  }
  /*
   * END TODO
   */


  /* --------------------------------------------------------------------------------
     Stranka Osobnost
  */

  #celebrity_text {
    float: right;
    width: 580px;
    background-color: #f7fafb;
  }

  /* --- Hlavicka --- */

  .celebrity_head {
    margin: 0 70px;
    text-align: center;
  }

  .celebrity_head .name {
    margin: 54px 0 12px;
    font-size: 52px;
    line-height: 54px;
    height: 54px;
  }

  .celebrity_head .perex {
    color: #0d63a3;
    margin-bottom: 46px;
  }

  .celebrity_head .perex .big {
    font-size: 16px;
    line-height: 22px;
  }

  .celebrity_head .success {
    padding: 12px 100px;
    margin-bottom: 38px;
    min-height: 76px;
    font-size: 14px;
    line-height: 18px;
    font-family: Georgia, serif;
  }

  .celebrity_head .success p {
    margin: 0;
  }

  .celebrity_head .success .head {
    color: #555;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    font-weight: bold;
  }

  .celebrity_interview {
    margin: 0 50px;
    padding-bottom: 95px;
    min-height: 430px;
    text-align: center;
    background: url('../img/celebrity_interview_bottom.png') bottom center no-repeat;
  }

  .celebrity_interview .head {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    color: #555;
    padding-left: 23px;
    margin: 0 auto 30px;
    vertical-align: top;
  }

  .celebrity_interview .head .icon {
    margin-right: 3px;
  }

  .celebrity_interview .question {
    font-size: 16px;
    margin-bottom: 8px;
    color: #0d63a3;
  }

  .celebrity_interview .question i,
  .celebrity_interview .question em {
    font-style: normal;
  }

  .celebrity_interview .answer {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 32px;
    font-family: Georgia, serif;
  }

  .celebrity_foot {
    text-align: center;
    border-top: 1px solid #e3eff3;
    padding: 34px 0 20px;
    vertical-align: middle;
  }

  .celebrity_foot .text,
  .celebrity_foot .button {
    display: inline-block;
  }

  .celebrity_foot .text {
    margin: 0 5px 0 0;
    font-size: 30px;
    line-height: 30px;
  }

  .celebrity_foot .button {
    position: relative;
    top: -4px;
    left: 5px;
    font-size: 18px;
    padding: 11px 22px;
    font-weight: normal;
    width: 146px;
  }

  .celebrity_nav {
    padding: 25px 0 0 25px;
    width: 200px;
  }

  .celebrity_nav ul,
  .celebrity_nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .celebrity_nav li {
    margin: 0;
  }

  .celebrity_nav .item {
    position: relative;
    z-index: 50;
    display: block;
    height: 70px;
    width: 70px;
    text-decoration: none;
  }

  .celebrity_nav a.item {cursor: pointer;}
  .celebrity_nav a.item:hover,
  .celebrity_nav a.item:focus,
  .celebrity_nav a.item:active {
    background-position: 0 -140px;
  }

  .celebrity_nav strong.item {
    background-position: 0 -70px;
  }

  .celebrity_nav .label {
    z-index: 40;
    position: absolute;
    opacity: 0;
    top: 22px;
    left: 0;
    display: inline-block;
    padding: 6px 0 6px 0;
    left: 80px;
    width: 100px;
    padding-left: 18px;
    padding-right: 7px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    background: url('../img/celebrity_nav_label.png') no-repeat top left;
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    transition: all 0.2s ease-out;
  }

  .celebrity_nav a.item:hover .label,
  .celebrity_nav a.item:focus .label,
  .celebrity_nav a.item:active .label {
    opacity: 1;
  }

  .celebrity_nav .samkova .item {
    background-image: url('../img/celebrity/samkova_nav.png');
    background-repeat: no-repeat;
  }

  .celebrity_nav .bank .item {
    background-image: url('../img/celebrity/bank_nav.png');
    background-repeat: no-repeat;
  }

  .celebrity_nav .sudova .item {
    background-image: url('../img/celebrity/sudova_nav.png');
    background-repeat: no-repeat;
  }

  .celebrity_nav .sedlak .item {
    background-image: url('../img/celebrity/sedlak_nav.png');
    background-repeat: no-repeat;
  }


  /* --- Eva Samkova --- */

  #celebrity.samkova {
    background: url('../img/celebrity/samkova_photo.jpg') top left no-repeat;
  }

  .samkova .celebrity_head .name {
    text-indent: -5000px;
    background: url('../img/celebrity/samkova_name.png') center center no-repeat;
  }

  .samkova .celebrity_head .success {
    background: url('../img/celebrity/samkova_success.png') center center no-repeat;
  }

  /* --- Borek Sedlak --- */

  #celebrity.sedlak {
    background: url('../img/celebrity/sedlak_photo.jpg') top left no-repeat;
  }

  .sedlak .celebrity_head .name {
    text-indent: -5000px;
    background: url('../img/celebrity/sedlak_name.png') center center no-repeat;
  }

  .sedlak .celebrity_head .success {
    background: url('../img/celebrity/sedlak_success.png') center center no-repeat;
  }

  /* --- Ondřej Bank--- */

  #celebrity.bank {
    background: url('../img/celebrity/bank_photo.jpg') top left no-repeat;
  }

  .bank .celebrity_head .name {
    text-indent: -5000px;
    background: url('../img/celebrity/bank_name.png') center center no-repeat;
  }

  .bank .celebrity_head .success {
    background: url('../img/celebrity/bank_success.png') center center no-repeat;
  }

  /* --- Nikola Sudova --- */

  #celebrity.sudova {
    background: url('../img/celebrity/sudova_photo.jpg') top left no-repeat;
  }

  .sudova .celebrity_head .name {
    text-indent: -5000px;
    background: url('../img/celebrity/sudova_name.png') center center no-repeat;
  }

  .sudova .celebrity_head .success {
    background: url('../img/celebrity/sudova_success.png') center center no-repeat;
  }

  /* --------------------------------------------------------------------------------
     Stranka Pomahame
  */
	#pomahame {background: url("../img/pomahame_divider.gif") 578px 0 repeat-y;}

	.pomahame_head {
		background: #fff url("../img/pomahame_head.jpg") no-repeat; border-bottom: 1px solid #e3eff3;
		height: 269px; padding: 0 48px;
	}
		.pomahame_head .head {
			font-family: 'VAGRundschriftD', "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: normal;
			width: 490px; margin: 0 0 12px; padding: 41px 0 0;
			font-size: 48px; line-height: 48px; color: #0d63a3;}
		.pomahame_head .perex {
			width: 490px; margin: 0;
			line-height: 25px; font-size: 18px; font-weight: bold;
		}

	.pomahame_text {
		float: left; width: 510px; padding: 43px 0 0 48px;}

		.pomahame_text .about {line-height: 25px; font-size: 16px;}
			.pomahame_text .about p {margin: 0 0 24px;}

		.pomahame_text .voices {padding: 12px 0 30px; text-align: center;}
			.pomahame_text .voices .item {margin: 0 0 44px;}

			.pomahame_text .voices .person {position: relative; width: 110px; height: 110px; overflow: hidden; margin: 0 auto 14px;}
				.pomahame_text .voices .mask {background: url("../img/pomahame_voice_mask.png"); left: 0; top: 0; width: 100%; height: 100%;}
			.pomahame_text .voices blockquote {margin: 0;}
				.pomahame_text .voices blockquote p {margin: 0 0 15px; line-height: 28px; font-size: 20px; font-family: georgia, serif;}
				.pomahame_text .voices blockquote cite {display: block; width: 340px; margin: 0 auto; font-size: 12px; font-style: normal;}
					.pomahame_text .voices blockquote cite strong {font-size: 14px;}

	.pomahame_partners {
		float: right; width: 240px; padding: 65px 60px 0 0; text-align: center;}
		.pomahame_partners ul {padding: 0; list-style: none;}
			.pomahame_partners li {margin: 0 0 66px;}
				.pomahame_partners img {display: block; margin: 0 auto 12px;}


/* --------------------------------------------------------------------------------
     Stranka Metodika
  */
	#metodika {background: url("../img/metodika_apul.png") 659px 0 no-repeat;}

	.metodika_head {
		width: 540px; min-height: 245px; padding: 41px 48px;
	}
		.metodika_head .head {
			font-family: 'VAGRundschriftD', "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: normal;
			margin: 0 0 19px;
			font-size: 48px; line-height: 45px; color: #0d63a3;}
			.metodika_head .head span {display: block; font-size: 36px; line-height: 38px;}
		.metodika_head p {line-height: 25px; font-size: 18px;}
		.metodika_head .perex {
			font-weight: bold;
		}

	.metodika_training {margin: 0 48px;}
		.metodika_training .head {margin: 0 0 16px; text-transform: uppercase; font-size: 14px; font-weight: bold;}

		.metodika_training .lists {
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #e0f4fa; padding: 20px 0;}
		.metodika_training .lists .inner {background: url("../img/metodika_training.gif") 279px 0 repeat-y; padding: 20px 0 17px;}
			.metodika_training .lists .item {float: left; width: 218px; margin: 0 20px 0 40px;}
			.metodika_training .lists h3 {margin: 0 0 35px; font-size: 26px; color: #46ad4b;}
			.metodika_training .lists ul {margin: 0; padding: 0; font-size: 18px; list-style: none; line-height: 22px;}
				.metodika_training .lists li {margin: 0 0 8px; padding: 0 0 0 20px; background: url("../img/metodika_training_li.png") 0 5px no-repeat;}

	.metodika_desc {border-bottom: 1px solid #e3eff3; padding: 47px 48px 0; line-height: 25px; font-size: 16px;}
		.metodika_desc .section {position: relative; margin: 0 0 55px;}
		.metodika_desc .section.first {margin-bottom: 60px; padding-right: 320px;}
			.metodika_desc .section.first .mascot {right: 20px; top: -118px; width: 221px; height: 206px;}
		.metodika_desc .section.second {padding-left: 308px;}
			.metodika_desc .section.second .mascot {background-position: -221px 0; left: 46px; top: -32px; width: 208px; height: 186px;}
		.metodika_desc .section.third {padding-right: 320px;}
			.metodika_desc .section.third .mascot {background-position: -429px 0; right: 57px; top: -10px; width: 162px; height: 171px;}

	.metodika_parks {float: none; width: auto; padding: 119px 55px 68px 64px;}
		.metodika_parks h2 {
			position: relative; float: left;
			font-family: 'VAGRundschriftD', "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin: 0 0 19px;
			font-size: 48px; line-height: 1; color: #0d63a3;}
			.metodika_parks h2 .decoration {top: -59px;}
		.metodika_parks ul {float: right;}


  /* --------------------------------------------------------------------------------
     "Pseudokna" kam se otevira obsah
     (napr. novinky na docasne strance)
  */

   /* --- Okenko otevirane pres obsah--- */

  .window {
    background-color: #fff;
    -moz-border-radius: 15px; /* Firefox 3.6 */
    -webkit-border-radius: 15px; /* iOS 3.2 */
    border-radius: 15px;
    margin-bottom: 40px;
  }

  .window h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
    letter-spacing: -2%;
  }

  .js .window {
    position: relative;
    display: none;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5); /* FF3.5 - 3.6 */
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5); /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5); /* Opera 10.5, IE9, FF4+, Chrome 10+ */
    width: 416px; /* 466 */
    margin: 0 auto;
    padding: 38px 20px 22px 30px;
    border: 8px solid #def4ff;
  }

  .js .window .close {
    position: absolute;
    top: -33px;
    left: -33px;
    width: 60px;
    height: 60px;
    text-indent: 5000px;
    background: url('../img/close.png') no-repeat;
  }

  .js .window .close:hover,
  .js .window .close:focus,
  .js .window .close:active {
    opacity: .9;
  }

  .js .window p.right {
    height: 1px;
    line-height: 1px;
    font-size: 1px;
  }

  .js .window.opened {
    z-index: 500;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -233px; /* width/2, margin-top dopocitame pomci js */
  }

  .js .window .content {
    max-height: 450px;
    padding-right: 20px;
    overflow: auto;
  }


  /* --- Vzhled obsahu pro okna --- */

  h2 {
    color: #0d63a3;
    font-weight: normal;
  }

	.js .window .content ol ul,
	.js .window .content ol:last-child {margin-bottom: 0;}

} /* 3) Screen */

