/* MSIE8 and lower stylesheet
   ============================================== 
   Project: Snowkidz.cz
   CSS author: Martin Michalek, michalek@shortcat.cz
   Contributor: Vojtech Bulant, vojtech@bulant.cz
*/
@import 'desktop.css';

/* IE7+8 filtry uzivane pro gradient v IE9 rusi border-radius */
.snowpark_navigation_top .nav a.item {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefe', endColorstr='#f7fafb',GradientType=0 ); /* IE6-8 */
}
.snowpark_equipment_list .item .name {
  /*
  Button appearance
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#a0a0a0',GradientType=0);
  */
}
.snowpark_equipment_list .item {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-8 */  
}
.snowpark_navigation_bottom {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fafb', endColorstr='#fdfefe',GradientType=0 ); /* IE6-8 */    
}

.snowpark_motivator .button a,
.button {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148ef0', endColorstr='#017bdd',GradientType=0 ); /* IE6-8 */
}
.snowpark_motivator .button a:hover,
.snowpark_motivator .button a:focus,
.snowpark_motivator .button a:active,
.button:hover,
.button:focus,
.button:active {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1076c5', endColorstr='#076ebc',GradientType=0 ); /* IE6-8 */
}

#nav {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#f7fafb');
}

/* --------------------------------------------------------------------------------  
   Uvodni stranka
*/
.our-parks ul li .decoration {=display: none;}

/* --------------------------------------------------------------------------------  
   Stranka "Detail snowparku"
*/
.snowpark_slideshow .text_content {background: #fff;}

.snowpark_instructors .instructor {
	/* simulate inline-block: */
	=display: inline;
	zoom: 1;
}

/* --------------------------------------------------------------------------------  
   Stranka "Osobnost"
*/
.celebrity_foot .text,
.celebrity_foot .button {
  =vertical-align: middle;
}
.celebrity_foot .text {=line-height: 1.3;}

/* --------------------------------------------------------------------------------  
   Stranka "Pomahame"
*/
#pomahame {zoom: 1;}
