img {
  -ms-interpolation-mode: bicubic;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vd-container {
  width: 40em;
}
.vd-body {
  background: #eeeeee url('img/beige_paper_bg.png') repeat-y 0 0;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 2px 2px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 2px 2px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 2px 2px 0 rgba(255, 255, 255, 0.5);
}
.vd-content {
  width: 31em;
  /* 36em */

  padding: 1em 2.5em;
  float: right;
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 3px 0 1em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0 1em rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 1em rgba(0, 0, 0, 0.2);
}
.vd-side {
  width: 4em;
  float: left;
  padding-top: 6.25em;
}
.vd-icons {
  width: auto;
  border-top: 1px solid #bebebe;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ffffff;
}
.vd-icons li {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #bebebe;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.vd-icons li:first-child {
  border-top: 1px solid #ffffff;
}
.post .prettyprint ol li {
  line-height: 1.3em;
}
.vd-courses tr > td:last-child,
.vd-courses tr > th:last-child {
  display: table-cell;
}
