@use "../core/core";

// Helpers for border properties
// ===========================

// Let's icrease specificity.
// There are many complicated selectors in the code
// and AMP forbids !important.

// stylelint-disable selector-max-specificity, selector-max-id

#body {

  // Border zero
  // -----------

  .bb-0 {
    border-bottom: 0;
  }

  .bt-0 {
    border-top: 0;
  }

  // Border colors
  // -------------

  .bdc {
    border-color: var(--vd-border-color);
  }

  .bdc-link {
    border-color: core.$vd-link-color;
  }

  // 1px borders
  // -----------

  .b-1 {
    border: 1px solid var(--vd-border-color);
  }

  .b-1-inverted {
    border: 1px solid var(--vd-background-color);
  }

  .bb-1 {
    border-bottom: 1px solid var(--vd-border-color);
  }

  .bb-1-sm {
    @media #{core.$vd-screen-sm-up} {
      border-bottom: 1px solid var(--vd-border-color);
    }
  }

  .bl-1 {
    border-left: 1px solid var(--vd-border-color);
  }

  .bt-1-sm {
    @media #{core.$vd-screen-sm-up} {
      border-top: 1px solid var(--vd-border-color);
    }
  }


  // Rounded corners
  // ---------------

  // For courses' banners and images from Youtube videos
  // Should be added overflow hidden if it is on parent

  .rounded {
    border-radius: core.$vd-border-radius;
  }

}

// stylelint-enable
