/*

Order GoTo: Tlačítka "Pokračovat v nákupu" a "Zpět do obchodu" pro objednávkkový proces
=======================================================================================

*/


// Layout na malých displejích: Tlačítka ve dvou řádcích
// -----------------------------------------------------

.order-goto {
  clear: both;
  margin-bottom: 2*@line-height-computed;
  margin-right: @grid-gutter-width/2;
  margin-left: @grid-gutter-width/2;

  p {
    margin-bottom: 0;
  }
}

.order-goto-btn {
  display: block;
  width: 100%;
  text-align: center;

  .order-goto-back & {
    margin-top: @line-height-computed/2;
    margin-bottom: @line-height-computed/4;
  }
}

// Kontejner pro druhé odesílací tlačítko
// --------------------------------------

// Jen na malých displejích.

.order-goto-second {
  margin-top: 2*@line-height-computed;

  .order-goto {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }


  @media only screen and (min-width: @vc-layout-start) {
    display: none;
  }
}


// Layout na větších displejích: vedle sebe
// ----------------------------------------

@media only screen and (min-width: 420px) {

  .order-goto {
    .clearfix;
  }

  .order-goto-btn {
    display: inline-block;
    width: auto;
  }

  // "Zpět do obchodu"
  .order-goto-back {
    float: left;

    .order-goto-btn {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
      margin-top: 5px; // Vertikálně na baseline call-to-action tlačítka
    }
  }

  // "Pokračovat v nákupu"
  .order-goto-next {
    float: right;
  }

}
