/*  
Layout 3
==============================================================================

Struktura HTML
--------------

<pre>
.container-fluid
  .wm-l-mobile-header
  [data-sw="header"]
  .wm-l-header
  .content-container
    .row-fluid
      #sw-main-navigation
      .content
        .wm-p-header-image
  .wm-l-footer
</pre>

*/

	// --- 1) Layout ---

.layout-3-mixin() {
  // Navigace
  .nav-container {
    clear: both;
    .span;
    .span3;
    .span-first;
  }

	// Navigace je vertikalni
	#sw-main-navigation {
		.nav-vertical;
	}

  // Obsah
  .content {
    .span;
    .span9;
    padding-right: 2.127659574468085%; // odsazeni obsahu od okraje
    margin-right: 0;
  }
  .content-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: @wmLargeDisplayStart) { .layout-3-mixin; }
.old-ie & { .layout-3-mixin; }

	// --- 2) .container nema pozadi, sloupec s obsahem ano ---

.content-container {
  background: #fff;
  clear: both;
}

	// Stiny nahore a dole
@media (min-width: @wmLargeDisplayStart) {
  .wm-m-shadow-topbottom;
}

