/*

Stránka: Detail produktu: Dotazy zákazníků
============================================

*/


@vc-detail-question-form-border-color: #e4e4e4; // barva okraje formuláře
@vc-detail-question-form-background: #f7f8f9;   // barva pozadí formuláře
@vc-detail-question-space: 130px;               // šířka meta informací dotazu a odsazení inputů ve formuláři


// Kontejner dotazů
// ------

.vc-detail-questions {
  margin-bottom: @line-height-computed*2;
}

.vc-detail-questions-container {
  padding: @padding-large-vertical*2 0 0;
  border: 1px solid #f6f6f6;
  background-color: @vc-bg-lightest;

  @media only screen and (min-width: 550px) {
    padding-bottom: @padding-large-vertical;
  }
}

.vc-detail-questions-heading {
  padding: 0 @padding-large-horizontal;
  margin: 0;
  color: #787878;
  font-size: 18px;
  font-weight: 400;

  > strong {
    margin-top: 5px; // vertikální vystředění s tlačítkem
    font-weight: 400;

    @media only screen and (min-width: 550px) {
      float: left;
    }
  }
}

// Tlačítko pro přidání dotazu
// ------

.vc-detail-questions-btn-wrapper {
  display: block;
  margin-top: @padding-large-vertical;
  overflow: hidden;

  @media only screen and (min-width: 550px) {
    margin-top: 0;
    text-align: right;
  }
}

.vc-detail-questions-btn {
  color: @vc-color-blue;
  font-size: 14px;
  border: 1px solid @vc-color-blue;
  background-color: transparent;
  font-weight: 400;

  &:hover {
    background-color: @vc-color-blue;
    color: #ffffff;
  }
}

// Seznam dotazů
// ------

.vc-detail-questions-items {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  ul {
    padding-left: 0;
    list-style: none;

    @media only screen and (min-width: 550px) {
      padding-left: @padding-large-horizontal*2;
    }
  }

  > li {
    padding: 0 @padding-large-horizontal;
    margin-top: @padding-large-vertical*3;
    border-top: 1px dotted #cccccc;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }

    @media only screen and (min-width: 550px) {
      padding-top: @padding-large-vertical;
    }
  }
}

// Formulář pro poslání otázky nebo odpovědi
// ------

.vc-detail-questions-form {
  position: relative;
  padding: @padding-large-vertical*2 @padding-large-horizontal;
  margin-top: @padding-large-vertical*3;
  border: 1px solid @vc-detail-question-form-border-color;
  background-color: @vc-detail-question-form-background;

  // Šipka

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 40px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    border-color: transparent transparent @vc-detail-question-form-border-color transparent;
    border-width: 0 0 20px 17px;
  }

  &:after {
    margin-bottom: -1px;
    margin-right: 1px;
    border-color: transparent transparent @vc-detail-question-form-background transparent;
    border-width: 0 0 19px 16px;
  }

  // Přetížení chování standatního horizontálního Bootstrap formuláře

  .form-group {
    margin-right: 0;
    margin-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .control-label {
    float: none;
    padding-right: 0;
    padding-left: 0;
    color: #414241;
    font-size: 14px;
    font-weight: 400;

    @media only screen and (min-width: 550px) {
      float: left;
      width: 90px;
      text-align: right;
    }
  }

  .control-input {
    float: none;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;

    > input {
      width: 60%;
    }

    // Úprava chybové zprávy

    > .alert {
      margin-top: @line-height-computed/2;
      margin-bottom: @line-height-computed/2;
    }

    @media only screen and (min-width: 550px) {
      padding-left: @padding-large-horizontal*2; // stejná šířka jako odsazení obsahu dotazu;
    }
  }
}

.vc-detail-questions-form--with-arrow {
  display: none;
  position: relative;
  margin-top: @padding-large-vertical*3;

  // Šipka

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    border-color: transparent transparent @vc-detail-question-form-border-color transparent;
    border-width: 0 0 20px 17px;
  }

  &:after {
    margin-bottom: -1px;
    margin-right: -1px;
    border-color: transparent transparent @vc-detail-question-form-background transparent;
    border-width: 0 0 19px 16px;
  }
}

.vc-detail-questions-form-heading {
  margin: 0 0 @padding-large-vertical*2;
  color: #787878;
  font-size: 18px;
  font-weight: 400;
}

.vc-detail-questions-form-btn {
  color: @vc-color-blue;
  font-size: 14px;
  border: 1px solid @vc-color-blue;
  background-color: transparent;
  font-weight: 400;

  &:hover {
    background-color: @vc-color-blue;
    color: #ffffff;
  }

  @media only screen and (min-width: 550px) {
    float: left;
    margin-right: @padding-large-horizontal;
    margin-left: @vc-detail-question-space + @padding-large-horizontal*2;
  }
}

.vc-detail-questions-form-required {
  margin-top: @padding-large-vertical;
  margin-bottom: 0;
  color: #787878;
  font-size: 12px;
  font-weight: 400;

  @media only screen and (min-width: 550px) {
    margin-top: 8px; // vertikální zarovnání s tlačítkem
  }
}
