/*

Stránka: Detail produktu: Hodnoceni produktu
============================================

*/

// ### obal hodnocení
.vc-detail-rating {
  clear: both;
  margin-top: @line-height-computed*1.5;
  margin-bottom: @line-height-computed;
}

// ### nadpis
.vc-detail-rating-headline {
  margin-top: @line-height-computed*1.5;

  line-height: 1;

  small {
    font-weight: 300;
    font-size: @font-size-small;
    white-space: nowrap;

    @media only screen and (min-width: @p-large-display-start) {
      display: block;
      font-size: 60%;
    }
  }
}

// ### tlačítko ukaž více
.vc-detail-rating-show-more {
  text-align: left;

  .vc-btn {
    width: 100%;
    float: right;
    @media only screen and (min-width: 430px) {
      width: auto;
    }
  }
}

// ### poznámka k hodnocením
.vc-detail-rating-note {
  font-size: @vc-font-size-smaller;
  display: inline-block;
  margin-top: 1px; // šířka rámečku
  margin-right: @padding-base-horizontal;
  color: @vc-color-text-light;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 430px) {
    width: auto;
    text-align: left;
  }

  @media only screen and (min-width: 540px) { font-size: @font-size-small; }
}
