/*

Košík: Tlačítka "Pokračovat v nákupu" a "Zpět do obchodu"
=========================================================

*/


// Layout na malých displejích: Tlačítka ve dvou řádcích
// -----------------------------------------------------

.cart-goto {
  clear: both;
  margin-bottom: 2*@line-height-computed;

  p {
    margin-bottom: 0;
  }
}

.cart-goto-btn {
  display: block;
  width: 100%;
  text-align: center;

  .cart-goto-back & {
    margin-bottom: @line-height-computed/4;
  }
}


// Layout na větších displejích: vedle sebe
// ----------------------------------------

@media only screen and (min-width: 400px) {

  .cart-goto {
    .clearfix;
  }

  .cart-goto-btn {
    display: inline-block;
    width: auto;
  }

  // "Zpět do obchodu"
  .cart-goto-back {
    float: left;

    .cart-goto-btn {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  // "Pokračovat v nákupu"
  .cart-goto-next {
    float: right;
  }

}
