/*

Košík: Slevy: kupón a ISIC
==========================

*/


.cart-discounts {
}

.cart-discounts-head {
  display: block;
  padding: @line-height-computed/2 @padding-base-horizontal;
  margin-bottom: 0;
  border-top: 1px solid @border-color;
  font-weight: normal;
  margin-bottom: 0;
  cursor: pointer;

  input[type=checkbox] {
    margin-right: @padding-small-horizontal/2;
    position: relative;
    top: -1px;
  }
}

// Otevřený formulář se slevou

.cart-discounts > .active {
  background: #eee;
}

// ### Vložení kupónu

// Jednořádkový formulář

.cart-coupon {

  // Obal pro input a tlačítko
  .cart-coupon-form {
    .clearfix;
    padding: @line-height-computed/2 @padding-base-horizontal @line-height-computed;
    margin-bottom: 0;
  }

  // Textový input
  .form-control {
    float: left;
    display: inline-block;
    width: 67%;
    vertical-align: middle;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // Tlačítko
  .btn {
    float: left;
    width: 33%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  // Layout: jiné rozložení tam kde se nevejde 80/20
  @media only screen and (min-width: 1024px) {
    .form-control { width: 80%; }
    .btn          { width: 20%; }
  }

}

// ### Vložení čísla ISIC

.cart-isic {
  border-bottom: 1px solid @border-color;
  margin-bottom: 2*@line-height-computed;
}

.cart-isic-form {
  padding: @line-height-computed/2 @padding-base-horizontal;
}

// Řádek formuláře: label a input
// Vedle sebe tam kde se vejdou. Jinak pod sebou.

.cart-isic-row {
  .clearfix;
  margin-bottom: @line-height-computed/4;
}

// Layout: pod sebou

.cart-isic-row {
  label, .form-control {
    display: block;
    margin-bottom: @line-height-computed/8;
  }
}

// Layout: vedle sebe tam kde se vejdou

@media
  only screen and (min-width: 400px) and (max-width: (@discount-info-layout-start - 1px)),
  only screen and (min-width: 900px) {

  .cart-isic-row {
    label {
      float: left;
      width: 40%;
      text-align: right;
      margin-bottom: 0;
      padding-top: (@padding-base-vertical + 1);
      padding-right: @padding-base-horizontal;
    }

    .form-control {
      float: right;
      display: inline-block;
      width: 60%;
      vertical-align: middle;
    }
  }

  .cart-isic-submit {
    margin-left: 40%;
  }
}


// Info pod košíkem: Layout na větších displejích
// ----------------------------------------------

.cart-discounts {
  clear: both;
  padding-left: @grid-gutter-width/2;
  padding-right: @grid-gutter-width/2;
}

@media only screen and (min-width: @discount-info-layout-start) {

  .cart-info-lines {
    .layout-col-base();
    .layout-col(6);
  }

  .cart-discounts {
    .layout-col-base();
    .layout-col(6);
    float: right;
  }

}

