/*
ProjectMaestro screen
7.9.2003
*/

body * {
border: 1px solid red;
}

body {
margin: 0;
padding: 0;
background: #E5E8ED;
color: #000;
}

body, td, th, input, select, option, textarea {
font: x-small/1.4em  Arial, sans-serif;
voice-family: "\"}\"";
voice-family:inherit;
font: small/1.4em Arial, sans-serif;
} html>body {small/1.4em Arial, sans-serif}

body {
font-size: 0.7em;
}

td, th, input, select, option, textarea {
font-size: 1em;
}

a, a:link, a:visited, a:hover, a:active {
color: #F26522;
background: inherit;
}

a:hover, a:active {
color: #f93;
}

a img {
border: 0;
}

form {
margin: 0;
padding: 0;
}

code {
font-size: 1em;
}

hr {
height: 1px;
color: #ccc;
margin: 0.5em 0;
padding: 0;
}


/*
layout
*/

#bodyContainer {
width: 1000px;
border-right: 1px solid #DDE3E8;
}

#headTop, #headMenu {
font-family: Verdana, sans-serif;
}

#headTop {
background: #FDFEFE url("../img/head/top_bg.gif") bottom left no-repeat;
color: #000;
padding: 15px 0;
}

#headTop #headLogo {
background: transparent url("../img/head/head_dot_1a.gif") center left no-repeat;
color: #000;
width: 550px;
float: left;
}

#headTop #headLogo img {
margin-left: 25px;
vertical-align: middle;
}

#headTop #headDate {
background: transparent url("../img/head/head_dot_1b.gif") center right no-repeat;
color: #000;
text-align: right;
float: left;
padding-right:  30px;
width: 160px;
width/* */:/**/130px;
width: /**/130px;
}

#headTop #headLogged {
background: transparent url("../img/head/head_dot_1c.gif") center right no-repeat;
color: #000;
width: 270px;
float: right;
padding-top: 15px;
padding-top/* */:/**/0;
padding-top: /**/0;
}

#headTop #headLogged span#headLogoff {
display: block;
float: left;
xxxwidth: 8em;
background: transparent url("../img/buttons/bg_br_one.gif") bottom right no-repeat;
vertical-align: middle;
mar
}

#headTop #headLogged span#headLogoff input {
border: 0px;
padding: 3px 5px 3px 15px;
background: transparent url("../img/buttons/logoff_bg.gif") top left no-repeat;
vertical-align: middle;
color: #666;
}

#headTop #headLogged span#headUser {
vertical-align: middle;
display: block;
width: 13em;
float: left;
}


/*
obecne tridy
*/

.displaynone {
display: none;
}

.clearboth {
clear: both;
}

.clearboth1px {
clear: both;
line-height: 1px;
font-size: 1px;
xxxborder: 1px solid red;
}

.floatleft {
float: left;
}

.floatright {
float: right;
}

#contentBox .floatleft50 {
float: left;
width: 150px;
}

#contentBox .floatright50 {
float: right;
width: 150px;
text-align: right;
}

.paddingBottom0 {
padding-bottom: 0;
}

.temporary {
background: #e3e3e3;
}

.alignleft {
text-align: left;
}

.alignright {
text-align: right;
}

.aligncenter {
text-align: center;
}

.aligntop {
vertical-align: top;
}

.alignbottom {
vertical-align: bottom;
}

.alignmiddle {
vertical-align: middle;
}

.testred {
border: 1px solid red;
}

.colorSecond {
color: #f60;
}

.importantBottom, #contentBox p.importantBottom {
border: 1px dotted #F1F1F1;
background: #F8F8F8;
padding: 1em;
}

.topBox, #contentBox .topBox {
border: 1px dotted #F1F1F1;
background: #F8F8F8;
padding: 1em;
}



.marginTopNo {
margin-top: 0;
}
