/*

Box
===

Boxík s důležitou informací v obsahu.
Odlišený barvou pozadí a paddingem.

*/

.box {
  padding:
    @padding-base-vertical
    @padding-base-horizontal;
  border-radius: @border-radius-small;
  background: @vc-bg-light;
  display: block; // ? Potřebuji na homepage u seznamu kategorií
}

.box > h2:first-child {
  margin-top: @line-height-computed - @padding-base-vertical;
}

// Varianta Bordered
// -----------------

.box-bordered {
  background: transparent;
  border: 1px solid @vc-border-color;

  a&:hover,
  a&:focus,
  a&:active {
    border-color: @vc-border-color-dark;
    text-decoration: none;
  }
}



// Varianta Collapse
// -----------------

// Box uvnitř formuláře sloužící ke zvýraznění rozkliknutelného obsahu

.box-collapse {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
}

// Pokud následuje za řádkem formuláře, je potřeba jej odsadit

.checkbox,
.radio,
.form-group {
  & + .box-collapse {
    margin-top: @line-height-computed/2;
    margin-bottom: @line-height-computed;
  }
}

// Poslední řádek vnořeného formuláře nemá padding zezdola

.box > .form-group:last-child {
  margin-bottom: 0;
}



// Varianta Infobox
// ----------------

// Např. doprava zdarma v detailu.

.box-info {
  color: darken(@vc-bg-info, 40%);
  text-shadow: lighten(@vc-bg-info, 25%) 0px 1px 0px;
  background: @vc-bg-info;
}
