/*

Buttons
=======

Tlačítka. Rozšiřujeme Boostrapovské buttons.less

*/

.btn {
  border-radius: @border-radius-small;
}

// Vlastní primární tlačítko
// -------------------------

.btn-primary {
  text-shadow: rgba(0,0,0,.34) 1px 1px 0;
  box-shadow: inset 0 0 1px rgba(255,255,255,1);
  border: 0;
  border-bottom: 1px solid darken(@vc-color-red, 20%);
  background: @vc-color-red;
  background: linear-gradient(to bottom, lighten(@vc-color-red, 15%), @vc-color-red);

  &:hover,
  &:focus,
  &:active {
    background: @vc-color-dark-red;
    background: linear-gradient(to bottom, lighten(@vc-color-dark-red, 15%), @vc-color-dark-red);
  }
}

// Tlačítko pro Facebook přihlášení
// --------------------------------

.btn-facebook {
  @facebook-color: #3b5998;
  @dark-facebook-color: darken(@facebook-color, 10%);

  color: #fff;
  background: @facebook-color;
  background: linear-gradient(to bottom, lighten(@facebook-color, 15%), @facebook-color);

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: @dark-facebook-color;
    background: linear-gradient(to bottom, lighten(@dark-facebook-color, 15%), @dark-facebook-color);
  }
}
