/*

Page Heading
============

Hlavní nadpis stránky

*/

.page-heading {
  margin-top: @line-height-computed*1.5;
  margin-bottom: @line-height-computed*.5;
  color: @vc-color-orange;
}

.page-heading a {
  text-decoration: underline;
  color: @vc-color-orange;
}

