/*

Foot Contacts
=============

Kontakty – v desktopovém pohledu kontaktní informace napravo
od avatara (.vc-foot-person).

*/

@vc-icon-width: 17px + 6px; // šířka ikony + odsazení od textu

// Typo základna
// -------------

.vc-foot-contacts {
  text-align: center;
  width: 100%;

  h2 { margin-bottom: 0; }

  p { font-size: @font-size-small; }
}

// Alternativní breakpointy

.vc-foot-contacts {
  @media @vc-foot-breakpoint-A {
    text-align: left;
    width: 50%;
    padding-right: @grid-gutter-width/2;
    float: left;
  }

  @media @vc-foot-breakpoint-B {
    text-align: right;
    width: auto;
    float: none;
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width + @vc-person-image-size + 2*@vc-person-image-border-width + 15; // téměř stejný výpočet je u .vc-foot-person
  }
}


// Emailový a telefonní kontakt s ikonou
// -------------------------------------

// ### Typo základna

.vc-foot-contacts-phone,
.vc-foot-contacts-email {
  a {
    display: inline-block;
    padding: @line-height-computed*0.5 @vc-icon-width;
    margin-left: -@vc-icon-width;
    background-position: 100% @line-height-computed*0.56;
    background-repeat: no-repeat;

    @media @vc-foot-breakpoint-A {
      padding-top: 0;
      padding-bottom: 0;
      background-position: 100% 50%;
    }
  }
}

// ### Telefon potřebuje větší odsazení zezhora

.vc-foot-contacts-phone {
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed/3;

  @media @vc-foot-breakpoint-A {
    margin-top: @line-height-computed*1.5;
    margin-bottom: @line-height-computed*0.25;
  }
}

// ### Ikony

.vc-foot-contacts-phone a {
  background-image: url("../dist/img/icons/phone.svg"); //todo: inline / sprite svg?

  .vc-no-svg &{ // fallback pro prohlížeče bez svg (IE8-)
    background-image: url("../dist/img/icons/phone.png"); //todo: inline / sprite svg?
  }
}

.vc-foot-contacts-email a {
  background-image: url("../dist/img/icons/envelope.svg"); //todo: inline / sprite svg?

  .vc-no-svg &{ // fallback pro prohlížeče bez svg (IE8-)
    background-image: url("../dist/img/icons/envelope.png"); //todo: inline / sprite svg?
  }
}
