/*

Foot Person
===========

Osoba v zákaznickém servise: fotka, jméno a status

*/


// Layout
// ------

.vc-foot-person {
  width: percentage(12/12);

  @media @vc-foot-breakpoint-A {
    float: left;
    width: percentage(6/12);
  }

  @media @vc-foot-breakpoint-B {
    float: right;
    width: auto;
  }

  > .vc-matrjoska {
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
    position: relative;
    display: block;
    width: percentage(12/12);
    margin: 0 auto;
    text-align: center;

    @media @vc-foot-breakpoint-A {
      float: right;
    }

    @media @vc-foot-breakpoint-B {
      float: left;
      width: @grid-gutter-width + @vc-person-image-size + 2*@vc-person-image-border-width + 10;
    }
  }
}

// Komponenty
// ----------

// ### „ikona“ statusu (online/offline)

.vc-foot-person-status {
  width: 19px;
  height: 19px;
  overflow: hidden;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  z-index: 1010;

  &-online { background-color: #65c915; }

  &-offline { background-color: #919191; }

  span { .sr-only } // text statusu je skryt
}

// ### jméno osoby

.vc-foot-person-name {
  font-size: @font-size-small;
  line-height: 1;
}

// ### fotka osoby

.vc-foot-person-photo {
  position: relative;
  display: inline-block;
}

.vc-foot-person-img {
  display: inline-block;
  border-radius: 50%;
  border: @vc-person-image-border-width #ffffff solid;
  width: @vc-person-image-size + 2*@vc-person-image-border-width;
  height: @vc-person-image-size + 2*@vc-person-image-border-width;
  overflow: hidden;

  .vc-old-ie & {
    width: auto;
    height: auto;
  }

  img {
    width: @vc-person-image-size;
    height: @vc-person-image-size;
  }
}
