/*

Foot Base
=========

Základna a vzhled patičky.

*/

// proměnné

// patička má 3 breakpointy
@vc-foot-breakpoint-A: ~"only screen and (min-width: 480px)";
@vc-foot-breakpoint-B: ~"only screen and (min-width: 640px)";
@vc-foot-breakpoint-C: ~"only screen and (min-width: 820px)";

// šířka odrážky v odkazech
@vc-foot-list-bullet-width: 1em;

// výška oblouků na pozadí pro jednotlivé řady
@vc-foot-arc-height-main:      35px;
@vc-foot-arc-height-partners:  20px;

// tato hodnota se používá v layoutu
// (o kolik je patička posunutá nahoru,
// aby fungovaly oblouky)
@vc-foot-top-delta: 2*@line-height-computed;


// Typo základna
// -------------

.vc-foot {
  .vc-clearfix;
  margin: -@vc-foot-top-delta 0 0;
  position: relative;
  z-index: 10;

  // obecné prvky
  &,
  h2,
  a { color: #ffffff; }

  a:hover { color: #a9e6fd; }

  h2 {
    line-height: 1.1;
    margin-top: @line-height-computed;

    @media @vc-foot-breakpoint-A {
      margin-top: @line-height-computed*1.5;
    }
  }
}

// viditelné pouze od breakpointu A výše

.vc-foot-show-A-inline {
  display: none;

  @media @vc-foot-breakpoint-A { display: inline; }
}


// Layouty jednotlivých řádků
// --------------------------

// ### horní řádek

.vc-foot-row-main {
  .vc-clearfix;
  background: transparent url("../dist/img/arc-foot-main.svg") no-repeat 50% 0; //todo: inline / sprite svg?
  background-size: 100.5%; // více než 100 % je kvůli pokrytí pozadím v Chrome při lichých rozlišeních
  padding-top: @vc-foot-arc-height-main;
  margin-top: -@vc-foot-arc-height-main;

  // oblouky v ie7 a ie8 neřešíme
  /*
  .vc-no-svg &{ // fallback pro prohlížeče bez svg (IE8-)
    background-image: url("../dist/img/arc-foot-main.png"); //todo: inline / sprite svg?
  }
  */

  > .vc-matrjoska {
    background-color: #7e848c;
    padding-bottom: @vc-foot-arc-height-partners;

    @media @vc-foot-breakpoint-B {
      padding-top: 0.5*@line-height-computed;
    }
  }

}


// ### společné vlastnosti layoutu socnetu a customer care

.vc-foot-customer-care,
.vc-foot-social {
  .vc-clearfix;
  letter-spacing: 0.03em;
  width: percentage(12/12);

  @media @vc-foot-breakpoint-B {
    float: right;
    width: percentage(8/12);
  }

  @media @vc-foot-breakpoint-C {
    width: percentage(6/12);
  }
}


// ### layout socnetu

.vc-foot-social {
  float: left;
  text-align: left;
  border-top: 1px solid #b3b3b3;
  margin-top: @line-height-computed*0.5;
  padding-top: @line-height-computed*0.5;

  @media @vc-foot-breakpoint-A {
    border: 0 none;
    margin-top: @line-height-computed*1.5;
    margin-bottom: 0;
  }

  @media @vc-foot-breakpoint-B {
    float: right;
    text-align: right;
  }
}


// ### layout radku s logy partneru

.vc-foot-row-partners {
  .vc-clearfix;

  background: transparent url("../dist/img/arc-foot-partners.svg") no-repeat 50% 0; //todo: inline / sprite svg?
  background-size: 100.5%; // více než 100 % je kvůli pokrytí pozadím v Chrome při lichých rozlišeních
  padding-top: @vc-foot-arc-height-partners;
  margin-top: -@vc-foot-arc-height-partners;

  // oblouky v ie7 a ie8 neřešíme
  /*
  .vc-no-svg &{ // fallback pro prohlížeče bez svg (IE8-)
    background-image: url("../dist/img/arc-foot-partners.png"); //todo: inline / sprite svg?
  }
  */

  > .vc-matrjoska {
    background-color: #6b7179;

    @media @vc-foot-breakpoint-A {
      padding: @line-height-computed 0;
    }
  }
}


// ### layout posledniho radku

.vc-foot-row-last {
  .vc-clearfix;

  color: #b4bac3;
  background-color: #5b6068;
}

// debugovací pomůcky, zakomentuj pro produkci
//@import "foot-debug.less";

