/*

Foot Social Buttons
===================

Tlačítka sociálních sítí v patičce.

Počítá se s tím, že jsou v HTML v pořadí Facebook, Twitter.

*/

@vc-foot-social-icon-size: 30px; // velikost ikony


// společné vlastnosti
// -------------------

.vc-foot-facebook,
.vc-foot-twitter {
  display: inline-block;
  font-size: @font-size-small;

  @media @vc-foot-breakpoint-A {
    float: left;
    width: percentage(6/12); // zarovnej do dvou sloupců stejně jako &-nav .vc-list
  }

  @media @vc-foot-breakpoint-B {
    display: inline-block;
    float: none;
    width: auto;
    padding-left: 0;
  }

  & > a {
    line-height: @vc-foot-social-icon-size;
    display: inline-block;
    padding-left: @vc-foot-social-icon-size + 6px;
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.7;

    @media @vc-foot-breakpoint-B {
      padding-left:0;
      padding-right: @vc-foot-social-icon-size + 6px;
      background-position: 100% 0;
    }

    &:hover {
      opacity: 1;
      color: #ffffff;
    }
  }
}


// Facebook
// --------

.vc-foot-facebook {
  & > a {
    background-image: url("../dist/img/icons/facebook.svg"); //todo: inline / sprite svg?
    margin-right: @vc-foot-social-icon-size*0.5;

    .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
      background-image: url("../dist/img/icons/facebook.png"); //todo: inline / sprite svg?
    }

    @media @vc-foot-breakpoint-A {
      margin-right: 0;
    }
    @media @vc-foot-breakpoint-B {
      margin-bottom: @line-height-computed*0.5;
    }
  }
}


// Twitter
// -------

.vc-foot-twitter {
  & > a {
    background-image: url("../dist/img/icons/twitter.svg"); //todo: inline / sprite svg?

    .vc-no-svg &{ // fallback pro prohlížeče bez svg (IE8-)
      background-image: url("../dist/img/icons/twitter.png"); //todo: inline / sprite svg?
    }
  }

  @media @vc-foot-breakpoint-B {
    margin-left: @vc-foot-social-icon-size/1.5; // pokud se Facebook a Twitter dostanou vedle sebe, ať nejsou nalepené
  }
}
