/*

Foot Partners
=============

Logotypy partnerů v patičce.

Počítá se fixně 10 (nebo s násobky deseti) ikonami partnerů, pro jiné počty nutno upravit

*/

.vc-foot-row-partners{}

.vc-foot-row-partners-item {
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  width: percentage(5/10);
  overflow: hidden;

  @media @vc-foot-breakpoint-A {
    width: percentage(3/9);
  }

  @media @vc-foot-breakpoint-C {
    width: percentage(2/10);
  }

  &:last-of-type {
    @media @vc-foot-breakpoint-A {
      margin-left: percentage(3/9); // odsaď poslední tak, aby byla doprostřed: při změně počtu nutno změnit
    }

    @media @vc-foot-breakpoint-C {
      margin-left: 0;
    }
  }

  img {
    @ie8: \0screen;
    // width: inherit; // IE8 http://stackoverflow.com/questions/8610077/height-auto-in-internet-explorer-8-and-below
    display: block;
    max-width: 100%;
    transform: scale(0.8);
    height: auto;
    margin: @line-height-computed*0.25 auto;

    @media @ie8 {
      max-width: 80%;
    }
  }

  a:hover img {
    transform: scale(0.86);
  }
}
