/*

Foot Last Row
=============

Poslední řádek s (c) a navigací nahoru

*/

.vc-foot-nav-last,
.vc-foot-copyright {
  font-size: @vc-font-size-smaller;

  margin: @line-height-computed*0.3 0;
  float: left;
  width: 100%;
  clear: both;
  text-align: center;

  @media @vc-foot-breakpoint-A {
    margin: @line-height-computed*0.75 0;
    clear: none;
  }
}

.vc-foot-nav-last {
  a {
    color: #b4bac3;

    &:hover { color: #ffffff; }
  }

  @media @vc-foot-breakpoint-A {
    width: percentage(5/12);
    text-align: left;
  }
}

.vc-foot-copyright {
  @media @vc-foot-breakpoint-A {
    width: percentage(7/12);
    text-align: right;
  }
}

.vc-foot-divider-vertical {
  &:after {
    content: "|";
    display: inline-block;
    padding: 0 @vc-font-size-smaller/3;
  }
}
