/* 
Modul Patička
==============================================================================

Patička na konci stránky. Třída `.wm-l-footer`. 

Uvnitř je vždy Simple Text pagelet: `.wm-p-simple-text`.

Ukázka
------

```
<div class="wm-l-footer row-fluid" data-sw="footer" role="contentinfo">
	<section class="wm-p-simple-text" data-sw-pagelet='{"id":"76ba0b6f-a564-4209-9277-6c858430a591","type":"SimpleText"}'>
		<p>Create a free website with <a href='http://webmium.com'>Webmium</a>.</p>
	</section>
</div>
```
*/

.wm-l-footer {
	padding: @baseLineHeight 0;
  clear: both;
	text-align: center;
	color: @wmFooterColor;
	background-color: @wmFooterBackground;

	p {
		margin: 0;
	}

	a {
		color: @wmFooterColor;
		font-weight: bold;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
		  text-decoration: underline;
		}
	}
	
	// Nechceme formatovat pagelet Simple Text
	.wm-p-simple-text {
		margin-bottom: 0;
	}	
}