/* 
Modul Header Image
==============================================================================

Ilustrační obrázek v hlavičce stránky. Třída `.wm-p-header-image`. 

Konkrétní stylování včetně poměru stran je vždy v layoutu nebo variantě.

TODO
----
- `.sw-X` elementy v HTML pryč

Ukázka
------
```
<section class="sw-header-image wm-p-header-image">
    <div id="sw-header-image" style="background-image:url(http://placehold.it/800x600)"></div>
</section>
```
*/

.wm-p-header-image {
	.wm-m-section;

	#sw-header-image {
		background-position: center center;
		.background-size(cover);
		background-repeat: no-repeat;
		min-height: 100px;
	}

	@media (max-width: @wmSmallDisplayEnd) {
		margin-left: -10px;
		margin-right: -10px;
	}

	@media print {
		display: none;
	}
}
