/* 
Modul Logo
==============================================================================

Textová nebo obrázková varianta. Id `#sw-logo`. 

Vždy má výšku 98px a centruje se vertikálně, protože z textové varianty si 
uživatel může snadno udělat obrázkovou. Obě tedy mají stejné rozměry.

TODO
----
- duplicitní s modulem logo, nepotřebujeme
- v ukázce obrázkové varianty je blbě mobilní logo a chybí specifikace rozměrů

Ukázka: textová varianta
------------------------

V desktopu na plnou šíři vždy 980x98px. Na mobilech drží 

```
<div class="wm-l-header" data-sw-pagelet=
'{"id":"08da515c-b01b-459e-b697-c7627d208f34","type":"Logo","overlays":null,"heading":"ffdfdfdfd"}' id=
'sw-logo'>            
    <h1>Textové logo s hrozně dlouhatánským názvem, až tak že bude na dvě řádky</h1>        
</div>
```

Ukázka: Obrázková varianta
--------------------------

Tady se vždy pro desktop verzi generuje obrázek s poloprůhledným pozadím, aby 
si uživatel mohl logo napozicovat podle svých požadavků. 

Desktop obrázek s logem má vždy 980x98px.
Mobilní verze se generuje ve fixní šířce TODO.

```
<div class="wm-l-header" role="banner">
    <p id="sw-logo-desktop">
        <strong class="sw-logo-desktop-image" style="background-image: url(http://webmium.blob.core.windows.net/users/4/logos/4382eae9-09fc-4bc1-9a33-08ceb7eed58d/12845998.png)">Kadeřnick&#253; salon Praha 9fgh fgh fg hdfgh dfgh dfghdfghdfghdghdfghdghdh</strong>
    </p>
    <p id="sw-logo-mobile">
        <img src="http://webmium.blob.core.windows.net/users/4/logos/mobile/4382eae9-09fc-4bc1-9a33-08ceb7eed58d/1.png"  alt="Kadeřnick&#253; salon Praha 9fgh fgh fg hdfgh dfgh dfghdfghdfghdghdfghdghdh">
    </p>
</div>
```

*/

// Textova varianta
#sw-logo {
	// Fixni vyska a vertikalni centrovani textu pomoci 
	// display:table/table-cell kvuli editoru a potrebe shodne vysky
	// editacni oblasti s obrazkovym logem
	display: table;
	width: 100%;
	
	@media (max-width: @wmSmallDisplayEnd) {
		margin-bottom: @baseLineHeight/2;
	}	
}
	
#sw-logo h1 {
	display: table-cell;
	vertical-align: middle;
	margin: 0;		
	color: @wmTextLogoColor;
	text-align: @wmTextLogoAlign;
	height: 98px;
	
	@media (max-width: @wmSmallDisplayEnd) {
		height: auto;
		text-align: center;		
	}
}

// Obrazkova varianta: desktop ma logo vmontovane do prouzku 980x98px
#sw-logo-desktop {
	position: relative;
	margin: 0;

	// Samotny obrazek
	.sw-logo-desktop-image {
		text-indent: -5000px;
		height: 98px;
		display: block;
		background-position: left center;
	}

	@media (max-width: @wmSmallDisplayEnd) {
		display: none;
	}
}

// Obrazkova varianta: mobilni ma logo maximalne 100px vysoke
#sw-logo-mobile {
	display: none;
	text-align: center;

	img {
		max-height: 100px;
		height: auto;
	}

	@media (max-width: @wmSmallDisplayEnd) {
		margin-bottom: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}