/* 
Modul Navigace
==============================================================================

Defaultne je mobilni, se vsemi otevrenymi polozkami a vertikalni.

Kvůli kompatibilitě se JS pro starší verze šablon používáme selektor `#sw-main-navigation`. 

TODO
----

- refaktor: mame tu hrozne slozite selektory atd.
- `a.active`, `strong` u polozek nepotrebujeme
- (mozna) zbytecne zesilujeme selektory pro large screen navigaci, abychom prebili `.js #sw-main-navigation` a dalsi  
  (potrebujeme `.js #sw-main-navigation`? pac tohle nejvice prebijime)

Ukázka
------

- `.nav-item` je potřeba kvuli FF a bugu s position:relative na table-cell
- `-sw--*` třídy tady jsou kvůli kompatibilitě se JS pro starší verze šablon
- aby bylo vidět chování na malých displejích, máme tady v ukázce i „mobilní hlavičku” — `.wm-l-mobile-header`

```
<!-- Mobily: Odkaz na navigaci -->
   <div class="wm-l-mobile-header row-fluid">
       <div class="span12">
           <div class="sw-nav-toggle">
               <a class="btn btn-inverse" href="#sw-main-navigation"><span class="symbol">≡</span> Menu</a>
           </div>
       </div>
   </div>
		
<!-- Samotna navigace -->		
  <div class="nav-container">
    <div class="nav-inner">
      <nav id="sw-main-navigation" role="navigation">
            <ul>
              <li>
                <span class="nav-item">
                  <strong>
                    Úvod
                  </strong>
                </span>
              </li>
              <li>
                <span class="nav-item">
                  <a href="#">
                    O nás
                  </a>
                  <ul>
                    <li>
                      <span class="nav-item">

                        <a href="#">
                          Náš tým
                        </a>
                        <ul>
                          <li>
                            <span class="nav-item">
                              <a href="#">
                                Třetí úroveň
                              </a>
                            </span>
                          </li>
                          <li>
                            <span class="nav-item">
                              <a href="#">
                                Víceřádkový text by měl jít vidět právě tady
                              </a>
                            </span>
                          </li>
                          <li>
                            <span class="nav-item">
                              <a href="#">
                                Další položka
                              </a>
                            </span>
                          </li>
                        </ul>
                      </span>
                    </li>
                    <li>
                      <span class="nav-item">
                        <a href="#">
                          Naše pobočky
                        </a>
                      </span>
                    </li>
                  </ul>
                </span>
              </li>
              <li>
                <span class="nav-item">
                  <a href="#">
                    Speciální nabídka
                  </a>
                </span>
              </li>
              <li>
                <span class="nav-item">
                  <a href="#">
                    Další položka navíc
                  </a>
                </span>
              </li>
            </ul>
    </nav>
  </div><!-- .nav-container -->
</div><!-- .nav-container -->
```
*/

// Default: Vertikalni (male screeny + vertikalni varianta pro velke) 
// ------------------------------------------------------------------

// Na malych screenech a bez js pozicovano zcela prirozene
// podle aktualniho umisteni v HTML

#sw-main-navigation {
	z-index: 50000; // Kvuli ovladacim prvkum v redakcnim systemu

	@media print {
		display: none;
	}

	// Schovavani (na malych displejich) pomoci JS
	.container-fluid &.hidden {
		display: none;
	}

	// Na malych screenech s JS pozicovano absolutne
	// nad obsah, hned pod .wm-l-mobile-header
	.js & {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
	}
}

// Vnitrek navigace
#sw-main-navigation {
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li > .nav-item > a,
	li > .nav-item > strong {
		display: block;
		padding: @paddingMedium;
		color: @wmColorNav;
		font-weight: normal;
		.text-overflow();
		text-decoration: none;
		border-bottom: 1px solid #fff;
		background: @wmColorSmallScreenNavBg;
	}

	// Aktivni polozka
	li > .nav-item > a:hover,
	li > .nav-item > a:focus,
	li > .nav-item > a:active,
	li > .nav-item > a.active,
	li > .nav-item > strong {
		background: @wmColorSmallScreenNavActive;
		color: @wmColorNavHover;
	}

	// Druha uroven zanoreni
	ul ul li > .nav-item > a,
	ul ul li > .nav-item > strong {
		text-indent: 1em;
	}

	// Treti uroven zanoreni
	ul ul ul li > .nav-item > a,
	ul ul ul li > .nav-item > strong {
		text-indent: 2em;
	}

}

// Mixiny
// ------------------------------------------------------------------

// ### Mixin: Vertikalni varianta  pro velke screeny

// TODO pomoci .nav-container zesilujeme specificnost, abychom prebili mobilni nastaveni navigace

.nav-vertical() {
	// Rozklikavaci vertikalni verze pro velke displeje
	@media (min-width: @wmLargeDisplayStart) {
		.nav-container & {
			.nav-large-display();
			.nav-large-display-vertical();
		}
	}

	// Rozklikavaci vertikalni verze: IE8-
	.old-ie .nav-container & {
		.nav-large-display();
		.nav-large-display-vertical();
	}
}



// ### Mixin: Horizontalni varianta pro velke screeny

// Opakovani mixinu .sw-main-navigation-horizontal je hack kvuli neschopnosti LESSu
// spojit css selektor s vnorenou media querie do jednoho vnoreneho selektoru.
// TODO pomoci .nav-container zesilujeme specificnost, abychom prebili mobilni nastaveni navigace

.nav-horizontal() {
	@media (min-width: @wmLargeDisplayStart) {
		.nav-container & {
			.nav-large-display();
			.nav-large-display-horizontal();
		}
	}

	.old-ie .nav-container & {
		.nav-large-display();
		.nav-large-display-horizontal();
	}
}

// ### Mixin: Navigace pro velke screeny

.nav-large-display() {
	position: static;
	top: auto;
	left: auto;
	background: @wmColorNavLevel1Bg;

	// Polozka navigace
	.nav-item {
		display: block;
	}

	// Prvni uroven zanoreni
	.nav-item > a,
	.nav-item > strong {
		text-indent: 0;
		padding-top: 18px;
		padding-bottom: 18px;
		font-size: @wmNavLevel1FontSize;
		text-transform: uppercase;
		background: @wmColorNavLevel1Bg;
		border-bottom: 0;		
	}

	// Aktivni polozka
	.nav-item > a:hover,
	.nav-item > a:focus,
	.nav-item > a:active,
	.nav-item > a.active,
	.nav-item > strong {
		background: @wmColorNavLevel2Bg;
		color: @wmColorNavHover;
	}

	// Druha uroven zanoreni
	ul ul .nav-item > a,
	ul ul .nav-item > strong {
		background: @wmColorNavLevel2Bg;
		padding-top: 6px;
		padding-bottom: 6px;
		font-size: @wmNavLevel2FontSize;
		text-transform: none;
		color: @wmColorNavLevel2;
	}

	// Aktivni polozka druhe urovne
	ul ul .nav-item > a:hover,
	ul ul .nav-item > a:focus,
	ul ul .nav-item > a:active,
	ul ul .nav-item > a.active,
	ul ul .nav-item > strong {
		background: @wmColorNavLevel3Bg;
		color: @wmColorNavLevel2Hover;
	}

	// Treti uroven zanoreni
	ul ul ul .nav-item > a,
	ul ul ul .nav-item > strong {
		background: @wmColorNavLevel3Bg;
		padding-top: 6px;
		padding-bottom: 6px;
		font-size: @wmNavLevel3FontSize;
		color: @wmColorNavLevel3;
	}

	// Aktivni polozka treti urovne
	ul ul ul .nav-item > a:hover,
	ul ul ul .nav-item > a:focus,
	ul ul ul .nav-item > a:active,
	ul ul ul .nav-item > a.active,
	ul ul ul .nav-item > strong {
		background: @wmColorNavLevel3Bg;
		text-decoration: underline;
		color: @wmColorNavLevel3Hover;
	}
}

// ### Mixin: Vertikalni varianta navigace pro velke screeny

.nav-large-display-vertical() {
	padding-top: 8px;
	padding-bottom: 8px;

	// - Nerozbaleny stav -
	ul li {
		position: relative;
	}

	// Zabaleny stav druhe a treti urovne
	ul ul {
		position: absolute;
		top: 0;
		left: -9999px;
	}

	// Prvni uroven zanoreni
	.nav-item > a,
	.nav-item > strong {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	// - Rozbaleny stav: bez JS -

	.no-js & {
		// Otevrena druha uroven
		ul > li > .nav-item:hover,
		ul > li > .nav-item:focus,
		ul > li > .nav-item:active,
		ul > li > .nav-item.active {
			> ul {
				.nav-large-display-horizontal-2nd-level;
			}
		}

		// Otevrena treti uroven
		ul ul > li > .nav-item:hover,
		ul ul > li > .nav-item:focus,
		ul ul > li > .nav-item:active,
		ul ul > li > .nav-item.active {
			> ul {
				.nav-large-display-horizontal-3rd-level;
			}
		}
	}

	// - Rozbaleny stav: s JS -
	// Tridy .sw-navmenu-li-shown pridavame pomoc JS, takze tady
	// nepotrebujeme body tridu html.js

	// Zvyrazneni aktivni polozky 1. urovne
	li.sw-navmenu-li-shown > .nav-item > a {
		background: @wmColorNavLevel2Bg;
		color: @wmColorNavHover;
	}

	// Zvyrazneni aktivni polozky 2. urovne
	ul ul li.sw-navmenu-li-shown > .nav-item > a {
		background: @wmColorNavLevel3Bg;
		color: @wmColorNavLevel2Hover;
	}

	// Otevrena druha uroven
	ul > li.sw-navmenu-li-shown > .nav-item > ul {
		.nav-large-display-horizontal-2nd-level;
	}

	// Otevrena treti uroven
	ul ul > li.sw-navmenu-li-shown > .nav-item > ul {
		.nav-large-display-horizontal-3rd-level;
	}

	// Mixin: styl pro otevrenou druhou uroven zanoreni
	.nav-large-display-horizontal-2nd-level() {
		z-index: 50001;
		left: 100%;
		max-width: 313px; // Max. sirka polozky v plne sirce layoutu
	}

	// Mixin: styl pro otevrenou treti uroven zanoreni
	.nav-large-display-horizontal-3rd-level() {
		z-index: 50002;
	}
}

// ### Mixin: Horizontalni varianta navigace pro velke screeny

.nav-large-display-horizontal() {
	background: @wmColorNavLevel1Bg;
	display: table; // Table protoze nevime kolik bude polozek na radku
	table-layout: fixed;	// Trik pro stejnou sirku polozek http://stackoverflow.com/questions/10525744/css-table-cell-equal-width
	width: 100%;

	> ul {
		display: table-row;
	}

	> ul > li {
		display: inline-block; // Fallback kdyz nefici display: table
		display: table-cell;
	}

	> ul > li > .nav-item > a,
	> ul > li > .nav-item > strong {
		text-align: center;
		display: block;
	}

	// - Nerozbaleny stav -

	ul .nav-item {
		position: relative;
	}

	// Zabaleny stav druhe a treti urovne
	ul ul {
		position: absolute;
		top: -9999px;
		left: 0;
		padding-top: 8px;
		padding-bottom: 8px;
		background: @wmColorNavLevel2Bg;
	}

	// Treti uroven zanoreni nema odsazeni zezhora a zezdola z druhe
	ul ul ul {
		padding-top: 0;
		padding-bottom: 0;
	}

	// - Rozbaleny stav: bez JS -

	.no-js & {
		// Otevrena druha uroven
		ul > li > .nav-item:hover,
		ul > li > .nav-item:focus,
		ul > li > .nav-item:active,
		ul > li > .nav-item.active {
			> ul {
				.nav-large-display-horizontal-2nd-level;
			}
		}

		// Otevrena treti uroven
		ul ul > li > .nav-item:hover,
		ul ul > li > .nav-item:focus,
		ul ul > li > .nav-item:active,
		ul ul > li > .nav-item.active {
			> ul {
				.nav-large-display-horizontal-3rd-level;
			}
		}
	}

	// - Rozbaleny stav: s JS -
	// Tridy .sw-navmenu-li-shown pridavame pomoci JS, takze tady
	// nepotrebujeme body tridu html.js	
	
	// Zvyrazneni aktivni polozky 1. urovne
	li.sw-navmenu-li-shown > .nav-item > a {
		background: @wmColorNavLevel2Bg;
		color: @wmColorNavHover;
	}

	// Zvyrazneni aktivni polozky 2. urovne
	ul ul li.sw-navmenu-li-shown > .nav-item > a {
		background: @wmColorNavLevel3Bg;
		color: @wmColorNavLevel2Hover;
	}

	// Otevrena druha uroven
	ul > li.sw-navmenu-li-shown > .nav-item > ul {
		.nav-large-display-horizontal-2nd-level;
	}

	// Otevrena treti uroven
	ul ul > li.sw-navmenu-li-shown > .nav-item > ul {
		.nav-large-display-horizontal-3rd-level;
	}	

	// Mixin: styl pro otevrenou druhou uroven zanoreni
	.nav-large-display-horizontal-2nd-level() {
		z-index: 50001;
		left: 0;
		top: 100%;
		max-width: 313px; // Max. sirka polozky v plne sirce layoutu
	}

	// Mixin: styl pro otevrenou treti uroven zanoreni
	.nav-large-display-horizontal-3rd-level() {
		z-index: 50002;
		left: 100%;
		top: 0;
	}
}


