/*

Naše proměnné
=============

*/

// Bootstrap

@font-size-base: 16px;
@blockquote-font-size: @font-size-base;
@blockquote-border-color: lighten(@gray-light, 10%);


// VašeČočky.cz
// ------------

// Bod, od ktereho se na obsah aplikuje layout
@layout-start: 768px;

// Nejmensi velikost textu (V BS mame -base a -small varianty)
@font-size-smaller: 12px;

// Barva pro predely, ramecky atd - bereme z BS barvy ramecku inputu (#ccc)
@border-color: @input-border;
