/* Vzhurudolu.cz CSS */

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background: #fff url("../images/novybg.png") repeat-y;
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
}
li {
	margin-bottom: .3em;
}
.column {
	display: inline;
}
.container {
	margin: 0;
}
a {
	color: #6FB919;
	text-decoration: none;
	padding: 2px 1px;
}
a:hover {
	background: #6FB919;
	color: #fff;
}
.box {
	background: transparent;
}
.side {
	color: #fff;
	height: 100%;
}
.side p#home a {
	display: block;
	padding: 2px;
	color: #fff;
}
.side p#home a span {
	color: #FF33FF;
}
.side p#home a:hover {
	background: #FF33FF;
	color: #fff;
}
.side p#home a:hover span {
	color: #fff;
}
.indent-3 {
	margin-top: 4.5em;
}
.indent-8 {
	margin-top: 68px;
}
#kratce {
  margin-bottom: 2.8em;
}
#searchInput, #searchSubmit {
	background: transparent;
	border: 1px solid #666;
	color: #fff;
	font-family: Verdana, sans-serif;
}
ol, ol li {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}
ul.ulNormal, ul.ulNormal li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.ulNormal li {
	padding: 3px;
	border-bottom: 1px solid #dadada;
	line-height: 1.5em;
}
ul.ulNormal {
	border-top: 1px solid #dadada;
}
.articleItem {
	margin-bottom: 3em;
  background:transparent url(../images/3.png) repeat-x left bottom;
  padding-bottom: 1.5em;
}
.bookmarksBox {
	background: transparent url("../images/3.png") repeat-x;
	padding: 3em 10px 1.5em 10px;
}

/* Komentare */

.commentsBox {
	padding: 1.5em 0;
	background: transparent url("../images/3.png") repeat-x;
}
h3.comment-head {
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
  margin-left: -5px;
  #margin-left: -2px;
}
.comment-message {
  margin-top: 1em;
}
.container p img {
	display: block;
}
code {
	color: #333;
	background: #eee;
	padding: 2px 1px;
}
#txpCommentInputForm {
  margin-top: 6em;   
}
#txpCommentInputForm h3 {
  font-size: 1.2em;
  font-weight: bold; 
}


/* Formulare */ 

input[type=text],
textarea {
border: 2px solid #eee;
padding: 3px 2px;
background: #eee;   
font-family: Verdana, sans-serif;
font-size: 1em;
}

input[type=text]:focus,
textarea:focus,
input[type=text]:active,
textarea:active {
border: 2px solid #6FB919;
background: #fff;
}



/* Tabulky */

td, th {
  vertical-align: top;
  border: none;
}


@import 'plugins/css-classes/css-classes.css';
