/*

Stránka: kategorie produktu
===========================

*/

// Layout hlavicky

.category-metainfo {
  .layout-col-base;
  .layout-col(12);

  @media only screen and (min-width: 1024px) {
    .layout-col(6);
    height: 186px; // Vyska .motivator, ktery je vedle metainfo
    position: relative; // Kvuli umisteni .category-directory na spodni hranu
  }
}


// Popisek kategorie
// -----------------

.category-description {
  font-size: @font-size-small;
  max-width: 40em;
  margin-bottom: @line-height-computed;

  p {
    margin-bottom: 0;
  }
}

// Seznam kategorii
// ----------------

.category-directory {
  padding-bottom: @line-height-computed/2;
  border-bottom: 1px solid @vc-border-color;
  margin-bottom: @line-height-computed;

  @media only screen and (min-width: 1024px) {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 95%; // TODO: proc nefunguje 100%?
  }
}


// Motivator
// ---------

.category-motivator-top {
  .layout-col-base;

  @media only screen and (min-width: 1024px) {
    .layout-col(6);
  }
}


