/*

Stránka: Detail produktu
========================

*/

// Kategorie, ve kterych je produkt zarazen

.detail-categories {
  margin: 0 auto @line-height-computed*1.5;
  font-size: @font-size-small;
  line-height: @font-size-small*1.25;
  color: @gray-light;

  a {
    color: @gray-light;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: @vc-color-dark-blue;
    }
  }
}

// Cena produktu

.detail-price {
  margin-top: @line-height-computed/2;
  margin-bottom: @line-height-computed/2;
  color: @vc-color-red;
}

// Dostupnost produktu

.detail-in-stock {
  margin: 0 auto @line-height-computed;
  color: @vc-color-green;
  font-size: @font-size-small;
  line-height: @font-size-small*1.25;
}

// Obrazek produktu

.detail-image {
  position: relative; // Kvuli pozicovani .offer-icon

  img {
    .img-responsive;
    margin-left: auto;
    margin-right: auto;
  }
}

.detail-image-caption {
  display: block;
  margin-top: @line-height-computed;
  font-size: @font-size-small;
  line-height: @font-size-small*1.25;
  color: lighten(@gray-light, 25%);
}

// Pridat do kosiku

.detail-add-to-cart {
  margin: 0 auto @line-height-computed;

  .btn {
    text-align: center;

    @media only screen and (max-width: 520px) {
      width: 100%;
    }

  }

  @media only screen and (min-width: 521px) {
    float: left;
    margin-top: @font-size-base;
  }
}

// Motivace: doprava zdarma

.detail-transport {
  display: block;
  width: 290px;
  margin: 0 auto @line-height-computed;

  @media only screen and (min-width: 521px) {
    float: right;
  }
}

// Motivace: vydejni mista a garance vymeny

.detail-motivator {
  clear: both;
}

// Popis produktu

.detail-description {
  clear: both;
  padding-top: @line-height-computed;
  margin-bottom: @line-height-computed;
}

.detail-description-content {
  max-width: 40em;
  margin-bottom: 2*@line-height-computed;
}


// Hodnoceni produktu

.detail-rating {
  clear: both;
  margin-top: @line-height-computed*2;
  margin-bottom: @line-height-computed;
}

.detail-rating-btn {
  text-align: center;

  .btn {
    @media only screen and (max-width: 540px) {
      display: block;
    }
  }
}

// Parametry produktu

.detail-pars {
}

// --- Layout pro velke screeny ---

@media only screen and (min-width: @vc-layout-start) {

  // Obrazek produktu: na vetsich displejich je nalevo od obsahu
  .detail-image {
    position: absolute;
    left: @grid-gutter-width/2;
    width: 28%;
    top: 125px; // Od nejblizsiho .container
  }

}
