/*

Stránka: Homepage
=================

*/

// Layout
// ------

// Na desktopu jsou boxy s rychlou objednávkou
// a novinkami vedle sebe:

.home-fastorder,
.home-news {
  .layout-col-base;
  .layout-col(12);
}

@media only screen and (min-width: @vc-layout-start) {
  .home-fastorder,
  .home-news {
    .layout-col(6);
  }
}

// Rychlá objednávka
// -----------------

.home-fastorder-text {
  max-width: 28em;
}

.home-fastorder-button {
  margin-top: @line-height-computed;
}

// Boxíky se značkami a dobou nošení
// ---------------------------------

.home-boxes {
  .clearfix;
}

.home-boxes-heading {
  margin-bottom: @line-height-computed;
}

.home-boxes .box {

  // Nastavíme výšku a vnitřní výšku:

  @home-box-height: 2*@line-height-computed;
  @home-box-inner-height: (@home-box-height - 2*@padding-base-vertical); // Viz .box

  height: @home-box-height;

  // Vertikální a horizontální centrování:

  line-height: @home-box-inner-height - 2px; // Korekce pro skutečné centrování textu
  text-align: center;

  // Nikdy nezalamujeme na 2 řádky:

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


  // Přizpůsobení obrázku:

  img {
    max-width: 100%;
    max-height: @home-box-inner-height - 5px; // Korekce aby obrázky nebyly moc velké
    height: auto;
  }
}

// V boxíkách podle doby nosení zmenšujeme na mobilech písmo

.home-boxes .box {
  @media only screen and (max-width: 480px) {
    padding-left: @padding-xs-horizontal;
    padding-right: @padding-xs-horizontal;
    font-size: @font-size-smaller;
  }
}


// Novinky
// -------

.home-news {
  h3 {
    font-size: @font-size-base;
    line-height: @line-height-base;
    margin-bottom: 0;
    margin-top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.home-news-other {
  margin-top: @line-height-computed/2;
}
