/*

Order - objednávkový proces
==========================

- Stránka Doprava a platba
- Stránka Osobní údaje
- Některé komponenty co jsou i v košíku (.order-goto)

*/

// Layout:
// .order-layout
//   .order-form    (formulář)
//   .order-resume  (shrnutí objednávky)
//   .order-goto    (tlačítka)

// Subkomponenty
// -------------

// Subkomponenta pro odsazení zleva
// stejné jako má <label> u checkboxu/radio

.order-label-indented {
  padding-left: 20px;
}

// Responzivní layout
// ------------------

// Základna layoutu a mobilní zobrazení na celou šířku

.order-form,
.order-resume {
  .layout-col-base;
  .layout-col(12);
  margin-bottom: 2*@line-height-computed;
}

// Barevné odlišení rekapitulace objednávky
// ----------------------------------------

.order-resume-bg {
  padding: @line-height-computed @grid-gutter-width/2 @line-height-computed/2;
  background: @vc-bg-light;
  border-radius: @border-radius-small;

  > h2 {
    margin-top: 0;
  }

  > .table {
    margin-bottom: 0;
    border-bottom: 0;
  }

  > .table tr:first-child {
    td, th {
      border-top: 0;
    }
  }

  @media only screen and (max-width: (@vc-layout-start - 1)) {
    margin-right: @grid-gutter-width/-2;
    margin-left: @grid-gutter-width/-2;
  }
}

// Dvousloupcový layout na desktopu

@media only screen and (min-width: @vc-layout-start) {

  .order-form {
    .layout-col(6);
  }

  .order-resume {
    .layout-col(6);
  }

  // Pokud je na straně formuláře hned sekce,
  // sjednocujeme horní padding s vedlejším nadpisem
  // u Rekapitulace objednávky

  .order-form > .section {
    margin-top: @line-height-computed;
  }

}

// Na mobilech chceme tlačítka mezi formulářem a potrzením

@media only screen and (max-width: (@vc-layout-start - 1px)) {

  .order-layout {
    display: flex;
    flex-direction: column;
  }

  .order-goto {
    order: 1;
  }

  .order-resume {
    order: 2;
    margin-bottom: 0;
  }

  // Floaty a starší Flexbox syntaxe nejsou kámoši:
  // https://rolandwarmerdam.co.nz/legacy-flexbox-invisible-float-bug/

  .order-form,
  .order-resume {
    float: none;
  }

}
