// VzhuruDolu.cz logo

// It is standalone, so it needs core variables and mixins:

@use "sass:color";
@use "../core/core";

.logo {
  margin: 0.1rem 0 0.5rem;
  text-align: center;

  @media screen and  (min-width: 1100px) {
    margin: 0 0 1.4rem 0;
  }

  @media print {
    display: none;
  }
}

.logo {
  a {
    display: inline-block;
    font-family: core.$vd-font-family-headings;
    font-size: core.$vd-font-size-4;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    color: var(--vd-text-color);
    transition: 0.15s;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--vd-link-color);
    border-bottom: 0;
    text-decoration: none;

    .logo__sign {
      background-color: var(--vd-link-color);
    }
  }

}

// sign container (because we want to use pure sign only)
.logo__sign {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.4rem 0.35rem 0.3rem 0.35rem; // count from base 8px 7px 6px 7px
  line-height: 1;
  background-color: var(--vd-text-color);
  border-radius: 0.15rem;
}

.logo__symbol {
  width: 1.4rem; // count from base 28px
  height: 1.25rem // count from base base 25px
}

// logo symbol, use SVG from header
.logo__symbol {

  .vd-symbol {
    fill: var(--vd-background-color);
  }

}
