@use "../core/core";

/** @define skip-link

Skip Link
=========

"Skip to main content" - first link in the document

*/

.skip-link {
  color: white;
  background: rgba(core.$vd-brown-color, 0.5);
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  // off the screen:
  left: -9999px;
  z-index: 9999;
}

.skip-link:focus {
  // on the screen:
  left: 0.5em;
  right: auto;
}
