<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Impello Webpilot</title>
    
	<meta http-equiv="content-type" content="text/html; charset=windows-1250">
	<meta name="author" content="Impello - Internet Development Studio, http://www.impello.cz">
	
	<link rel="stylesheet" href="css/common.css" type="text/css">
	<link rel="stylesheet" href="css/screen.css" type="text/css">	
 	<link rel="stylesheet" href="css/font_small.css" type="text/css" title="Small style">
<!-- 	<link rel="stylesheet" href="css/font_large.css" type="text/css" title="Large style">	 -->
 	<link rel="stylesheet" href="css/print.css" type="text/css" media="print" title="Print stylesheet">	
    
	<script src="js/script.js" type="text/jscript"></script>
	
		
</head>

<body>

<table class="layout" id="header" width="100%">
  <col width="10">
  <col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%">
  <col width="10">  
<tr class="zerorow">
  <td width="10">&nbsp;</td>
  <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td>
  <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td>
  <td width="10">&nbsp;</td>  
</tr>

<tr id="logorow">
  <td>&nbsp;</td>
  <td colspan="2">
  	  <strong>
	    <a href="index.html"><img src="img/logo.gif" alt="Dicota" width="113" height="38" border="0"></a>
	  </strong>
  </td>
  <td colspan="4" class="verticallineleft">
    <strong>
	  OEM Catalogue
	</strong>
  </td>
  <td colspan="2" class="userboxleft">
    <div>
	  <a href="options.html">Supervisor</a> / Dicota Germany
	</div>
  </td>
  <td colspan="2" class="userboxright">
    <div>
	  <a href="log_out.html">Log out</a>
	</div>
  </td>
  <td>&nbsp;</td>  
</tr>

<form name="naviform">
<tr id="menurow">
  <td>&nbsp;</td>
  <td colspan="6">

  <script type="text/javascript">
	document.write('<select class="menu" name="navigation" onchange="window.location=document.naviform.navigation.options[document.naviform.navigation.selectedIndex].value; return false;"> ');
	document.write('<option value="index.html">Desktop/News</option> ');
	document.write('<option value="catalogue.html" selected>Catalogue</option> ');
	document.write('<option value="options.html">Options</option> ');
	document.write('<option value="users.html">*Users</option> ');
	document.write('</select> ');
  </script>				
  <noscript>
    <a href="index.html">Desktop/News</a>
    <a href="catalogue.html"><strong>Catalogue</strong></a>
    <a href="options.html">Options</a>
    <a href="users.html">Users</a>
  </noscript>
  
  </td>
  <td colspan="2" class="favorites">
  <script type="text/javascript">
	document.write('<select class="l" name="bookmarks" onchange="window.location=document.naviform.bookmarks.options[document.naviform.bookmarks.selectedIndex].value; return false;"> ');
	document.write('<option value="bookmarks_add.html" selected>+ Add Page to Bookmarks</option> ');
	document.write('<option value="catalogue_detail.html">Multiplus</option> ');
	document.write('<option value="options.html">User Options</option> ');
	document.write('</select> ');
  </script>				
  <noscript>
    <a href="bookmarks_add.html">+ Add Page to Bookmarks</a>
    <a href="catalogue_detail.html">Multiplus</a>
    <a href="options.html">Administration</a>				
  </noscript>
  </td>
  <td colspan="2" class="favoritessecond">
  22/1/2003 19:30 
  </td>  
  <td>&nbsp;</td>  
</tr>

</form>

</table>


<table class="layout" id="main" width="100%">
  <col width="10"> 
  <col width="10%"> <col width="10%"> <col width="10%">  <col width="10%">  <col width="10%"> <col width="10%">  <col width="10%"> <col width="10%"> <col width="10%">                
  <col width="10">  
<tr class="zerorow">
  <td width="10">&nbsp;</td>
  <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td> <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td>
  <td width="10">&nbsp;</td>  
</tr>

<!-- you are here - cesta aktualni pozice -->

<tr id="youarehere">
  <td></td>
  <td colspan="10">
    <a href="index.html">Desktop</a> <span class="noimportant">&gt;</span> <a href="catalogue.html#catalogue_all">Catalogue</a> <span class="noimportant">&gt;</span> <a href="catalogue.html#catalogue_sort_by_customer">Products by Customer</a> <span class="noimportant">&gt;</span> <a href="catalogue.html#catalogue_all_toshiba_products">Toshiba</a> <span class="noimportant">&gt;</span> <a href="catalogue_detail.html">MultiSmart</a> <span class="noimportant">&gt;</span> <a href="catalogue_transactions.html">Transactions</a> <span class="noimportant">&gt;</span> 07/04/2003
  </td>
  <td></td>  
</tr>

<tr id="contentcontainer">
  <td>&nbsp;</td>

<!-- tree side => -->  
  <td colspan="2" class="content dicotaoem treeside">

  <h2>Product tree</h2>

  <table class="sortby">
    <tr>
	  <td><span class="fontsize1px">&nbsp;</span></td>	
	  <td><a href="index_tree_by_category.html">Category</a></td>
	  <td class="active">Customer</td>	  
	  <td><a href="index_tree_by_material.html">Material</a></td>	  	  
	  <td><span class="fontsize1px">&nbsp;</span></td>
	</tr>
  </table>

  
    <ul>
	  <li class="active"><a href="catalogue_folders.html"><img src="img/folder_opened.gif" alt="Opened" width="16" height="13">Folders</a>
	<ul>
		<li><a href="#" onclick="toggle('tree01', 'image01'); return false;"><img src="img/folder_minus.gif" alt="Open/Close" width="9" height="13" border="0" id="image01"></a><a href="catalogue.html#catalogue_toshiba"><img src="img/folder_opened.gif" alt="Opened" width="16" height="13">Toshiba <small class="update">update</small></a>
		<ul id="tree01" style="display: block;">
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">MultiSmart <small class="update">update</small></a> </li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">MultiCompact</a></li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">SolidComfort</a></li>
		</ul>
	</li>
	<li><a href="#" onclick="toggle('tree02', 'image02'); return false;"><img src="img/folder_plus.gif" alt="Open/Close" width="9" height="13" border="0" id="image02"></a><a href="catalogue.html#catalogue_acer"><img src="img/folder_closed.gif" alt="Opened" width="16" height="13">Acer <small class="update">update</small></a> 
		<ul id="tree02" style="display: none;">
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">MultiSmart <small class="update">update</small></a> </li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">MultiCompact</a></li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">Speedy</a></li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">Input</a></li>
		</ul>
	</li>
	<li><a href="#" onclick="toggle('tree03', 'image03'); return false;"><img src="img/folder_plus.gif" alt="Open/Close" width="9" height="13" border="0" id="image03"></a><a href="catalogue.html#catalogue_casio"><img src="img/folder_closed.gif" alt="Opened" width="16" height="13">Casio</a>
		<ul id="tree03" style="display: none;">
		    <li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">PalmPocket III</a></li>
		    <li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">PalmPocket IV</a></li>
		  </ul>
	</li>
	<li><a href="#" onclick="toggle('tree04', 'image04'); return false;"><img src="img/folder_plus.gif" alt="Open/Close" width="9" height="13" border="0" id="image04"></a><a href="catalogue.html#catalogue_hp"><img src="img/folder_closed.gif" alt="closed" width="16" height="13">Hewlett Packard</a> 
		<ul id="tree04" style="display: none;">
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">MultiCompact</a></li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">Speedy</a></li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">Input</a></li>
		</ul>
	</li>
	<li><a href="#" onclick="toggle('tree05', 'image05'); return false;"><img src="img/folder_plus.gif" alt="Open/Close" width="9" height="13" border="0" id="image04"></a><a href="catalogue.html#catalogue_nokia"><img src="img/folder_closed.gif" alt="closed" width="16" height="13">Nokia</a> 
		<ul id="tree05" style="display: none;">
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">MultiCompact</a></li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">Speedy</a></li>
			<li><a href="catalogue_detail.html"><img src="img/file_txt.gif" alt="Product page" width="13" height="16">Input</a></li>
		</ul>
	</li>
	</ul>
	</li></ul>
	

  </td>
<!-- <= tree side --> 


<!-- content side => -->  
  <td colspan="8" class="content dicotaoem contentside">

  <h2 class="verticallineleft">Product detail</h2>
  
     <table class="formlayouttoptabs"> 
         <col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%">
         <col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%">
  	  <tr class="bgone">
		<td colspan="3"><a href="catalogue_detail.html">Product</strong></td>
		<td colspan="3"><a href="catalogue_files.html">Files</a> <small class="update">update</small></td>		
		<td colspan="3"><a href="catalogue_prices.html">Prices</a></td>				
		<td colspan="3" class="active"><strong>Transactions</strong></td>				
		<td colspan="4">&nbsp;</td>		
	  </tr>	 	   
       <tr class="zerorow">
         <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td> <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td>
         <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td> <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td>
      </tr>		 	  
	</table>  
	
  <div class="aligncenter">
  <table class="formlayout borderright" style="width:75%">
	<caption>
        <span class="floatright fontnobold"><a href="catalogue_transactions_edit.html" title="Edit transaction">*Edit transaction</a> &nbsp;&nbsp; <a href="catalogue_transactions.html" title="Back to list">Back to list</a></span>		  	
      Transaction detail
    </caption>
         <col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%">
  	  <tr class="bgone">
		<th colspan="4">Date:</th>
		<td colspan="8">07/04/2003</td>
	  </tr>	
  	  <tr class="bgtwo">
		<th colspan="4">Who:</th>
		<td colspan="8">Supervisor / Dicota Germany</td>
	  </tr>		    
  	  <tr class="bgone">
		<th colspan="4">Client:</th>
		<td colspan="8">Toshiba</td>
	  </tr>
  	  <tr class="bgtwo">
		<th colspan="4">Price:</th>
		<td colspan="8">32 &euro;</td>
	  </tr>	  	    	  
  	  <tr class="bgone">
		<th class="aligntop"  colspan="4">Comment:</th>
		<td class="aligntop" colspan="8">
		I made this transaction when I was drunk in some pub. I made this transaction when I was drunk in some pub. I made this transaction when I was drunk in some pub.
		</td>
	  </tr>	  
  	  <tr class="buttonrow">
		<th colspan="4" class="borderleft">&nbsp;</th>
		<td colspan="8">
		  <input type="button" value="Cancel" class="button">				  
		</td>
	  </tr>	  	  
       <tr class="zerorow">
         <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td> <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td> <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td>
      </tr>  
  </table></div>      
  
  
 
  <p class="clearboth alignright marginright1em">
    <a href="catalogue_detail.html" title="View this products detail" class="button">View product</a>
	
	<a href="catalogue_files.html#catalogue_files" title="View this products files" class="button">View files</a>
  </p>

  </td>  

<!-- <= content side -->  
 
  <td>&nbsp;</td>  
</tr>

</table>



<!-- ********************************************** -->


</body>
</html>
