@font-face {
	font-family: 'vzhurudolu-icons';
	src:url('fonts/vzhurudolu-icons.eot');
	src:url('fonts/vzhurudolu-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/vzhurudolu-icons.ttf') format('truetype'),
		url('fonts/vzhurudolu-icons.woff') format('woff'),
		url('fonts/vzhurudolu-icons.svg#vzhurudolu-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'vzhurudolu-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-left:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-up-right:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-down-right:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-down-left:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-rss:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-google-plus:before {
	content: "\e60b";
}
