@charset "UTF-8";
:root {
  --vd-text-color-rgb: 46, 44, 9;
  --vd-text-color: rgb(var(--vd-text-color-rgb));
  --vd-text-color-lighter: rgba(var(--vd-text-color-rgb), 0.8);
  --vd-text-color-lightest: rgba(var(--vd-text-color-rgb), 0.7);
  --vd-background-color: #e5e3df;
  --vd-content-bg-color: #fcfcf7;
  --vd-border-color: rgba(var(--vd-text-color-rgb));
  --vd-border-color-light: rgba(var(--vd-text-color-rgb), 0.5);
  --vd-highlight-bg-color: #d8f5b8;
  --vd-highlight-neutral-bg-color: #f2f0ed;
  --vd-link-color: #5fa316;
  --vd-heading-color: #2b490a;
  --vd-code-color: hsl(25, 74%, 23%);
  --vd-code-color-1: hsl(25, 74%, 32%);
  --vd-code-color-2: hsl(25, 74%, 37%);
  --vd-code-color-3: hsl(25, 24%, 73%);
  --vd-code-color-4: hsl(42, 16%, 32%);
  --vd-bg-hover: rgba(var(--vd-text-color-rgb), 0.1);
  --vd-box-bg-color: hsl(43, 21%, 94%);
  --vd-interactive-bg-color: hsl(44, 81%, 94%);
  --vd-badge-color: #002c3a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --vd-text-color-rgb: 252, 252, 247;
    --vd-background-color: #201f06;
    --vd-content-bg-color: #171605;
    --vd-highlight-bg-color: #3A3F26;
    --vd-highlight-neutral-bg-color: #3A3F26;
    --vd-heading-color: #d1f4ab;
    --vd-code-color: hsl(25, 74%, 83%);
    --vd-code-color-1: hsl(25, 74%, 82%);
    --vd-code-color-2: hsl(25, 74%, 77%);
    --vd-code-color-3: hsl(25, 24%, 93%);
    --vd-code-color-4: hsl(42, 16%, 62%);
    --vd-box-bg-color: hsl(43, 21%, 14%);
    --vd-interactive-bg-color: hsl(44, 81%, 6%);
    --vd-badge-color: hsl(194, 100%, 89%);
  }
}
.ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.64rem;
  line-height: 1.5;
  width: 12em;
  height: 12em;
  text-align: center;
  background: var(--vd-box-bg-color);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 600px) {
  .ad {
    font-size: 9px;
  }
}

.ad {
  z-index: 50;
  margin: 0;
  position: absolute;
  right: 0.5rem;
  top: 20rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
@media (min-width: 1024px) {
  .ad {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -6rem;
    margin-left: 21rem;
  }
}
@media (min-width: 1240px) {
  .ad {
    margin-left: 25.5rem;
  }
}

@media (max-width: 600px) {
  .ad {
    display: none !important;
  }
}
.ad a {
  display: block;
  border: 0;
  color: var(--vd-text-color);
  text-decoration: none;
}

.ad:hover, .ad:focus, .ad:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.ad:hover a, .ad:focus a, .ad:active a {
  text-decoration: none;
}

.js .ad {
  display: none;
  opacity: 0;
}
.js .ad-ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.js .ad-visible {
  opacity: 1;
}

.ad-ebook img {
  height: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5em;
}
@media (min-width: 1024px) {
  .ad-ebook img {
    margin-bottom: 0.1875rem;
  }
}

@media print {
  .ad {
    display: none !important;
  }
}
.active {
  border: 1px solid var(--vd-border-color) -accented;
  border-radius: 4px;
}

/* @define avatar

Avatar
======

*/
.avatar {
  overflow: hidden;
  display: block;
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--vd-text-color-lighter);
  margin: 0 auto 0.5rem;
  border-radius: 50%;
  background-color: var(--vd-content-bg-color);
}
@media print {
  .avatar {
    display: none;
  }
}

a.avatar:hover,
a.avatar:focus,
a.avatar:active {
  background-color: var(--vd-text-color);
  border-color: var(--vd-text-color);
}

.avatar--sm {
  width: 4rem;
  height: 4rem;
}

.avatar--xs {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar--tiny {
  width: 1.9rem;
  height: 1.9rem;
}

.avatar--inline {
  display: inline-block;
  margin: 0;
}

.avatar--brown {
  background-color: var(--vd-text-color);
  border-color: var(--vd-text-color-lighter);
}

a.avatar--brown:hover,
a.avatar--brown:focus,
a.avatar--brown:active {
  border-color: var(--vd-content-bg-color);
}

.avatar__image {
  margin-top: 5%;
}

/** @define badge

Badge
=====

*/
.badge {
  white-space: nowrap;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  font-weight: normal;
  font-family: "foro extra bold", georgia, serif;
  border-radius: 2px;
  background: var(--vd-badge-color);
  color: var(--vd-content-bg-color);
  font-style: normal;
  text-transform: uppercase;
}

.badge--brown {
  background: var(--vd-text-color-lighter);
}

.badge--yellow {
  background: #eecf6d;
}

.badge--sm {
  padding: 0.175em;
}

.badge--white {
  color: #fcfcf7;
}

.badge--inverted {
  border: 1px solid white;
  background: none;
}

/**

Button
======

TODO refactor

*/
input[type=submit],
button,
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  line-height: 1.5;
  padding: 0.25rem 2rem;
  background: var(--vd-content-bg-color);
  color: var(--vd-text-color);
  border: 1px solid var(--vd-border-color-light);
  border-radius: 4px;
  color: var(--vd-text-color);
  border-color: var(--vd-border-color);
  background: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active, input[type=submit].active,
button:hover,
button:focus,
button:active,
button.active,
.button:hover,
.button:focus,
.button:active,
.button.active {
  border-color: var(--vd-text-color);
  outline: none;
}
.article input[type=submit].button:hover, .article input[type=submit].button:focus, .article input[type=submit].button:active,
.article button.button:hover,
.article button.button:focus,
.article button.button:active,
.article .button.button:hover,
.article .button.button:focus,
.article .button.button:active {
  border-style: solid;
}
input[type=submit]::-webkit-input-placeholder, button::-webkit-input-placeholder, .button::-webkit-input-placeholder {
  color: var(--vd-text-color-lighter);
}
input[type=submit]::-moz-placeholder, button::-moz-placeholder, .button::-moz-placeholder {
  color: var(--vd-text-color-lighter);
}
input[type=submit]:-ms-input-placeholder, button:-ms-input-placeholder, .button:-ms-input-placeholder {
  color: var(--vd-text-color-lighter);
}
input[type=submit]::-ms-input-placeholder, button::-ms-input-placeholder, .button::-ms-input-placeholder {
  color: var(--vd-text-color-lighter);
}
input[type=submit]::placeholder,
button::placeholder,
.button::placeholder {
  color: var(--vd-text-color-lighter);
}

.button:hover, .button:focus, .button:active {
  text-decoration: none;
  border-color: #5fa316;
  color: #5fa316;
}

input[type=submit].button--primary,
button.button--primary,
.button.button--primary {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background: #5fa316;
  border-color: var(--vd-text-color);
  color: white;
  text-shadow: none;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 1px rgba(0, 0, 0, 0.25);
}
input[type=submit].button--primary:hover, input[type=submit].button--primary:focus,
button.button--primary:hover,
button.button--primary:focus,
.button.button--primary:hover,
.button.button--primary:focus {
  background: #528d13;
  color: white;
  border-color: var(--vd-text-color);
}
input[type=submit].button--primary:active,
button.button--primary:active,
.button.button--primary:active {
  background: #528d13;
  color: white;
  border-color: var(--vd-text-color);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), inset 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
input[type=submit].button--primary:disabled,
button.button--primary:disabled,
.button.button--primary:disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--vd-text-color-lightest);
  cursor: auto;
}

input[type=submit].button--full,
button.button--full,
.button.button--full {
  display: block;
  width: 100%;
}
input[type=submit].button--wide,
button.button--wide,
.button.button--wide {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 320px) {
  input[type=submit].button--wide,
  button.button--wide,
  .button.button--wide {
    width: 80%;
  }
}
@media only screen and (min-width: 480px) {
  input[type=submit].button--wide,
  button.button--wide,
  .button.button--wide {
    width: 60%;
  }
}

.container .button--inverted {
  border-color: var(--vd-content-bg-color);
  color: var(--vd-content-bg-color);
  background-color: transparent;
}
.container .button--inverted:hover, .container .button--inverted:focus, .container .button--inverted:active {
  color: #5fa316;
  border-color: #5fa316;
}

.container .button--white {
  border-color: #fcfcf7;
  color: #fcfcf7;
  background-color: transparent;
}

.button--loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--loading::before {
  content: " ";
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5em;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: loading-spinner-animation 1s linear infinite;
          animation: loading-spinner-animation 1s linear infinite;
}

@-webkit-keyframes loading-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media print {
  input[type=submit],
  button,
  .button {
    display: none;
  }
}

/** @define course

Course
======

*/
/*

Figure
======

Širší verze obrázku zobrazovaného v obsahu.

// [1] because of absolute position of icon

*/
figure {
  position: relative;
  border-bottom: 1px dotted var(--vd-border-color-light);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

figure .vd-logo {
  display: block;
  position: absolute;
  bottom: -8px;
  right: 10px;
  width: 22px;
  height: 16px;
  background: var(--vd-content-bg-color);
}

figure .vd-logo-svg {
  fill: var(--vd-border-color-light);
}

figcaption {
  display: block;
  font-size: 0.8rem;
  color: var(--vd-text-color-lighter);
  text-decoration-color: rgba(var(--vd-text-color-lighter), 0.5);
  margin-bottom: 0.5rem;
  font-style: italic;
}
figcaption a:hover, figcaption a:focus, figcaption a:active {
  color: var(--vd-link-color);
  text-decoration: underline;
}

figcaption p {
  margin-top: 1rem;
}

.be-in-touch {
  clear: both;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 34rem;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
  color: var(--vd-text-color-lighter);
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
@media only screen and (min-width: 741px) {
  .be-in-touch {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 600px), print {
  .be-in-touch {
    max-width: none;
  }
}
.section .be-in-touch {
  margin-top: 0;
  margin-bottom: 0;
}
@media print {
  .be-in-touch {
    display: none;
  }
}

.foot {
  text-align: center;
  margin-top: 0;
}
.foot > hr {
  display: none;
}
@media only screen and (min-width: 400px) {
  .foot {
    max-width: 26rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.foot__symbol {
  width: 20px;
  height: 18px;
  margin-top: 2rem;
}
.foot__symbol .vd-symbol {
  fill: #b5b397;
}

@media only screen and (min-width: 768px) {
  .heading-tall-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/** @define hover-highlighter

Hover Highliter
===============

Used for hightlighting block boxed on hover.
In example for courses listing on homepage.

Typical markup looks like:

<article role="article">
  <a class="hover-highlighter">
    Some markup including <h3>, <p>… but not <a>

*/
.hover-highlighter {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.hover-highlighter:hover,
.hover-highlighter:focus,
.hover-highlighter:active {
  background-color: var(--vd-bg-hover);
  color: inherit;
}

.inflatable {
  overflow: hidden;
}
.inflatable img {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.inflatable:hover img,
.inflatable:active img,
.inflatable:focus img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/** @define inline-icon

Inline Icon
===========

Icon inlined with text.

For example: „Package“ icon for two day courses. Visible in:
- Homepage
- Courses homepage
- All table lists of courses


Good to know:

1) Uses inline <svg> defined in symbol inside HTML.
2) Always in height and color of the text.
3) Vertical centering old-way. It is not possible to use
   flexbox on the parent, because of smaller screens.

Markup looks like:

<svg class="inline-icon">
  <use class="inline-icon__symbol"> [1]

*/
.inline-icon {
  height: 1em;
  position: relative;
  bottom: -0.125em;
}

.inline-icon__symbol {
  fill: currentColor;
}

.items-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.items-list a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--vd-border-color);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.items-list a:hover,
.items-list a:focus,
.items-list a:active {
  color: var(--vd-link-color);
  border-color: var(--vd-link-color);
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.list__item {
  display: block;
  padding: 0.25em 0;
}

.list__item-link {
  display: block;
  padding: 0.25em 0;
}

.list__logo {
  float: right;
  margin: 0 0 0 1.5em;
  height: 1.4em;
  overflow: hidden;
  position: relative;
  width: 3.5em;
}
.list__logo img {
  position: absolute;
  height: 4em;
  width: 4em;
  top: -1.5em;
  left: -0.25em;
}

.list--bordered {
  border-top: 1px solid var(--vd-border-color);
}

.list--bordered .list__item {
  border-bottom: 1px solid var(--vd-border-color);
}

.list--block-hover .list__item {
  padding: 0;
}

.list--block-hover .list__item-link {
  padding: 0.25em;
  text-decoration: none;
}
.list--block-hover .list__item-link:hover, .list--block-hover .list__item-link:focus, .list--block-hover .list__item-link:active {
  background: var(--vd-bg-hover);
}

.list--block-hover .list__heading {
  font-size: 1em;
  margin-bottom: 0;
  color: var(--vd-heading-color);
}
@media print {
  .list--block-hover .list__heading {
    color: black;
  }
}

@media only screen and (min-width: 600px) {
  .list--block-hover .list__heading {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.list--block-hover .list__heading a {
  color: var(--vd-heading-color);
}

.list--block-hover .list__content {
  margin-top: 0.25em;
  margin-bottom: 0;
}
.list--block-hover .list__content small {
  margin-bottom: 0;
}

.list--spaced .list__item {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.list--block-hover.list--spaced .list__item {
  padding-top: 0;
  padding-bottom: 0;
}

.list--block-hover.list--spaced .list__item-link {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.list--numbered {
  counter-reset: section;
}

.list--numbered .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list--numbered .list__item::before {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  padding: 0.5rem;
  margin-right: 1em;
  text-align: center;
  color: var(--vd-text-color-lighter);
  border: 1px solid var(--vd-text-color-lighter);
  border-radius: 50%;
  counter-increment: section;
  content: counter(section);
}

.list--sticked {
  border-top: 0;
  margin-top: -1rem;
}

.list__item--external-link {
  background: url(/assets/img/icons/src/external-link-arrow.svg) no-repeat;
  background-position: calc(100% - 0.25em) 0.5em;
  background-size: 0.5em;
}

.logo {
  margin: 0.1rem 0 0.5rem;
  text-align: center;
}
@media screen and (min-width: 1100px) {
  .logo {
    margin: 0 0 1.4rem 0;
  }
}
@media print {
  .logo {
    display: none;
  }
}

.logo a {
  display: inline-block;
  font-family: "foro extra bold", georgia, serif;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  color: var(--vd-text-color);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.logo a:hover,
.logo a:focus,
.logo a:active {
  color: var(--vd-link-color);
  border-bottom: 0;
  text-decoration: none;
}
.logo a:hover .logo__sign,
.logo a:focus .logo__sign,
.logo a:active .logo__sign {
  background-color: var(--vd-link-color);
}

.logo__sign {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.4rem 0.35rem 0.3rem 0.35rem;
  line-height: 1;
  background-color: var(--vd-text-color);
  border-radius: 0.15rem;
}

.logo__symbol {
  width: 1.4rem;
  height: 1.25rem;
}

.logo__symbol .vd-symbol {
  fill: var(--vd-background-color);
}

.media-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.media-object__heading {
  margin-bottom: 0.25rem;
}

.media-object__perex {
  font-size: 0.8rem;
  line-height: 1.35;
}

@media only screen and (min-width: 480px) {
  .media-object__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1rem;
  }
  .media-object__content {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}
@media (max-width: 479px) {
  .media-object {
    display: block;
    text-align: center;
  }
}
.b-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, z-index 0s 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, z-index 0s 0.3s, visibility 0s 0.3s;
}
.b-modal__wrapper {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 50px 1fr auto auto auto;
  grid-template-areas: "header header header" "prev content next" "nav nav nav" "title title title" "desc desc desc";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
.b-modal__header {
  position: relative;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: header;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.b-modal__title {
  z-index: 2;
  grid-area: title;
  color: #ffffff;
  text-align: center;
}
.b-modal__description {
  z-index: 2;
  grid-area: desc;
  color: #ffffff;
  text-align: center;
}
.b-modal__prev {
  z-index: 3;
  grid-area: 1/1/4/2;
}
.b-modal__next {
  z-index: 3;
  grid-area: 1/3/4/4;
}
.b-modal__content {
  position: relative;
  z-index: 2;
  grid-area: 1/1/4/4;
  min-height: 140px;
  overflow: hidden;
}
.b-modal__slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s, z-index 0s 0.3s;
  transition: opacity 0.3s, z-index 0s 0.3s;
}
.b-modal__slide.is-active {
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 0.3s, z-index 0s;
  transition: opacity 0.3s, z-index 0s;
}
.b-modal__image, .b-modal__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.b-modal__image > *, .b-modal__video > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.b-modal__image--multiple > *, .b-modal__video--multiple > * {
  max-width: 50%;
}
.b-modal__image img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.b-modal__inner {
  width: 100%;
  padding: 20px;
  background: #ffffff;
}
.b-modal__iframe {
  height: 100%;
  padding: 20px;
  background: #ffffff;
}
.b-modal__iframe iframe {
  width: 100%;
  height: 100%;
}
.b-modal__embed {
  width: 100%;
  height: 100%;
}
.b-modal__embed iframe {
  width: 100%;
  height: 100%;
}
.b-modal__nav {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: nav;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.b-modal__nav:empty {
  height: 0;
}
.b-modal__nav-item {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  border-radius: 50%;
  background: #eeeeee;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
.b-modal__nav-item.is-active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.b-modal__loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 30px;
  justify-items: center;
}
.b-modal__loader .icon-load {
  width: 40px;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.b-modal__loader-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.b-modal__loader-icon > span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.b-modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
.b-modal__prev, .b-modal__next {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}
.b-modal__prev-btn, .b-modal__next-btn {
  -ms-flex-item-align: center;
      align-self: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  pointer-events: all;
  justify-self: center;
}
.b-modal__close {
  width: 50px;
  padding: 10px;
  border: none;
  background: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}
.b-modal.is-opened {
  z-index: 100;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s, z-index 0s, visibility 0s;
  transition: opacity 0.3s, z-index 0s, visibility 0s;
}
.b-modal.is-loading .b-modal__loader {
  display: grid;
}
.b-modal.is-first .b-modal__prev {
  display: none;
}
.b-modal.is-last .b-modal__next {
  display: none;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/** @define nav

Navigation
==========

- Main navigation (/)
- Innner tabs (/prirucka/css3-flexbox)

*/
.nav {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--vd-border-color);
}
@media print {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  text-align: center;
  margin: 0 0.1rem 0 0;
  padding: 0;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__item-in {
  display: block;
  font-weight: normal;
  padding: 0.5rem 1.25rem;
  border-radius: 4px 4px 0 0;
  border: 1px solid var(--vd-border-color-light);
  border-bottom: 0;
  margin-bottom: -1px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-decoration: none;
}

.nav__item-in:hover, .nav__item-in:focus, .nav__item-in:active {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .nav__item-in {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

.nav__item--active .nav__item-in {
  border-bottom: 1px solid white;
}

.nav--site {
  margin-bottom: 0;
  border-bottom: 0;
}

.nav--site .nav__item-in {
  text-decoration: none;
}

.nav--site .nav__item--active .nav__item-in {
  color: var(--vd-background-color);
  background-color: var(--vd-heading-color);
  border-color: var(--vd-heading-color);
  border-bottom: 1px solid var(--vd-heading-color);
}

.section-ebooks .nav--site .nav__item--active .nav__item-in,
.section-kurzy .nav--site .nav__item--active .nav__item-in,
.section-video .nav--site .nav__item--active .nav__item-in {
  background-color: var(--vd-text-color);
  border-color: var(--vd-text-color);
  border-bottom: 1px solid var(--vd-text-color);
}

.nav--site .nav__item-in {
  border-bottom: 0;
  margin-bottom: 0;
}

.page-head {
  position: relative;
  border-top: 4px solid var(--vd-heading-color);
  background: #285d19;
  background-image: url(/assets/img/style/vd-trianglify-bright-2.svg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fcfcf7;
  padding: 4rem 1rem;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .page-head {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media only screen and (min-width: 1100px) {
  .page-head {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media print {
  .page-head {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.page-head h1 {
  margin-bottom: 0;
}
@media (max-width: 599px) {
  .page-head h1 {
    font-size: 1.953rem;
  }
}

.page-head h1 + p {
  margin-top: 1rem;
}

.page-head--subhead {
  padding-bottom: 7.3rem;
}
@media only screen and (min-width: 1100px) {
  .page-head--subhead {
    padding-bottom: 9.3rem;
  }
}

.page-head--secondary,
.section-ebooks .page-head,
.section-kurzy .page-head,
.section-autor .page-head,
.section-video .page-head {
  border-top: 4px solid var(--vd-text-color);
  background: #2e2c09;
  background-image: url(/assets/img/style/vd-trianglify-brown.svg);
}

.page-head--tertiary,
.section-user .page-head {
  border-top: 4px solid var(--vd-text-color);
  background: #353434;
  background-image: url(/assets/img/style/vd-trianglify-gray.svg);
}

.page-head a {
  text-decoration-color: rgba(252, 252, 247, 0.66);
}
.page-head a:hover, .page-head a:focus, .page-head a:active {
  color: #fcfcf7;
  text-decoration-color: #fcfcf7;
}

.page-head--line {
  padding: 0;
  height: 0;
}

@media only screen and (min-width: 1100px) {
  .page-head--lower {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

.page-head__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  background-color: rgba(46, 44, 9, 0.6);
}

.page-head__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-subhead {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -4.8rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  color: #fcfcf7;
  background-color: rgba(46, 44, 9, 0.6);
}
@media only screen and (min-width: 600px) {
  .page-subhead {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.page-subhead__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.page-subhead__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.3rem;
  white-space: nowrap;
}

.page-subhead__date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.raised {
  border-top: 1px solid rgba(var(--vd-text-color-rgb), 0.05);
  border-left: 1px solid rgba(var(--vd-text-color-rgb), 0.05);
  border-right: 1px solid rgba(var(--vd-text-color-rgb), 0.1);
  border-bottom: 1px solid rgba(var(--vd-text-color-rgb), 0.1);
  margin: -1px -1px;
  -webkit-box-shadow: 2px 2px rgba(var(--vd-text-color-rgb), 0.05);
          box-shadow: 2px 2px rgba(var(--vd-text-color-rgb), 0.05);
  padding: 3rem;
  margin-bottom: 1rem;
}

.raised--image {
  padding: 0;
  margin: -4px -4px;
}
.raised--image > img {
  display: block;
}

/**

Reference Items
===============

Item in CSS/JS reference guides.

For example:
- /prirucka/css-flexbox
- /prirucka/css-grid

Markup looks like:

<div class="reference-items">

  <div role="article" class="reference-items-item">
    <h4><a href="css-align-items.md"><code>align-items</code></a></h4>
    <p><a href="css-align-items.md"><img src="../dist/images/small/vdlayout/css-align-items-schema.png" alt="Vlastnost align-items" /></a></p>
    <p>Zarovnání na blokové ose (obvykle svisle). <br> Např. <code>align-items: end</code> zarovná položky ke spodní hraně kontejneru.</p>
  </div>

</div>

*/
.reference-items {
  border-top: 1px solid var(--vd-border-color);
  page-break-inside: avoid;
  margin-bottom: 1.5rem;
}

.reference-items-item {
  padding: 0.75em 1em 0.75em 0;
  border-bottom: 1px solid var(--vd-border-color);
}

.reference-items img {
  display: block;
}

.reference-items a img {
  border: 0;
}

.reference-items h4,
.reference-items h5 {
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  .reference-items p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .reference-items h4,
  .reference-items h5 {
    margin-bottom: 0;
  }
  .reference-items-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0.5rem 1rem;
  }
  .reference-items-item h4,
  .reference-items-item h5 {
    grid-column: 1/3;
  }
}
.rwd-scrollable {
  overflow-x: auto;
}

.rwd-media {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
}

.rwd-media > iframe,
.rwd-media > video,
.rwd-media > img {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.rwd-media-slideshare {
  padding-bottom: 81%;
}

.rwd-media--1-1 {
  padding-bottom: 100%;
}

.rwd-media--160-45 {
  padding-bottom: 28.125%;
}

.scheme-item {
  padding: 1rem;
  margin-bottom: 1px;
}
.scheme-item + h2, .scheme-item + h3 {
  margin-top: 1.5rem;
}

.select--inverted {
  color: #fcfcf7;
  background-color: transparent;
  background-image: url(/assets/img/icons/select-arrow-down-white.svg);
}
.select--inverted:active, .select--inverted:focus, .select--inverted:hover {
  border-color: #5fa316;
}

.select--inverted option {
  color: #2e2c09;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-left: auto;
}
.share a {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.3rem;
  text-decoration: none;
}
.share a:hover, .share a:focus {
  opacity: 0.7;
}
.share strong {
  margin-right: 0.7em;
  font-weight: 400;
}
@media (max-width: 599px) {
  .share strong {
    display: none;
  }
}

.share--footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.share--footer strong {
  width: 100%;
  margin-right: 0;
  text-align: center;
}
.share--footer a {
  margin: 0.5rem 0.3rem;
}
.share--footer .share__icon {
  fill: var(--vd-text-color-lighter);
}

.share__icon {
  fill: #fcfcf7;
}

/** @define skip-link

Skip Link
=========

"Skip to main content" - first link in the document

*/
.skip-link {
  color: white;
  background: rgba(46, 44, 9, 0.5);
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  right: 100%;
}

.skip-link:focus {
  right: auto;
}

.table--active-row td {
  padding: 0;
}
.table--active-row td.date {
  padding-right: 0.5em;
}
.table--active-row a {
  text-decoration: none;
}
.table--active-row tr:hover a,
.table--active-row tr:focus a,
.table--active-row tr:active a {
  color: #5fa316;
}

.table--active-row a {
  padding: 0.75em 1em;
  display: block;
}
.table--active-row a:hover, .table--active-row a:focus, .table--active-row a:active {
  color: inherit;
}
@media only screen and (max-width: 600px) {
  .table--active-row a {
    padding-right: 0;
    padding-left: 0;
  }
}
/*# sourceMappingURL=2-components.css.map */