---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  error: unknown;
}

const { error } = Astro.props;

const title = 'Chyba serveru';
const description = 'Na serveru došlo k neočekávané chybě. Zkuste to prosím později.';
---

<BaseLayout
  title={title}
  description={description}
  ogUrl="https://www.vzhurudolu.cz/500"
  bodyClass="section-"
>
  <Header slot="header" />
  <Footer slot="footer" />

  <main role="main" id="main" aria-label="Hlavní obsah" class="">
    <div class="page-head page-head--line"></div>

    <div class="content py-3-md ta-c">
      <h1>Chyba serveru</h1>
      <p>Na serveru došlo k neočekávané chybě. Zkuste to prosím později.</p>
      <p><small>chyba 500</small></p>
    </div>
  </main>
</BaseLayout>
