---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Fragment } from 'astro/jsx-runtime';
---

<BaseLayout
  title="Všeobecné obchodní podmínky"
  description="Podmínky pro nákup e-booků, knížek a školení na tomto webu."
  ogType="website"
  ogImage={[
    'https://www.vzhurudolu.cz/assets/img/content/dest/socials/vd-soc-uni-1.webp',
    'https://www.vzhurudolu.cz/assets/img/content/dest/socials/vd-soc-uni-2.webp',
  ]}
  ogUrl="https://www.vzhurudolu.cz/podminky"
  bodyClass="section-static"
>
  <Fragment slot="styles">
    <link rel="stylesheet" href="/assets/css/modules-standalone/min/topbar.min.css" />
  </Fragment>

  <Header slot="header" />
  <Footer slot="footer" />

  <div class="page-head">
    <h1>
      Všeobecné obchodní podmínky
    </h1>
  </div>

  <main role="main" id="main" aria-label="Hlavní obsah" class="">
    <div class="section">
      <div class="content">
        <p>TYTO PODMÍNKY UPRAVUJÍCÍ KOUPI ZBOŽÍ ČI SLUŽEB V ON-LINE OBCHODĚ (dále jen „obchodní podmínky") se především řídí zákonem č. 89/2012 Sb., občanský zákoník, v účinném znění (dále jen „občanský zákoník"). </p>

        <p>Prodávající: <em>Martin Michálek</em>, se sídlem Jurkovičova 988/26, 149 00, Praha 11, IČO: 68168861, DIČ: 7708304956, </p>

        <p>a</p>

        <p>Kupující: <em>Vy</em>, tedy osoba, která je objednatelem zboží či služeb prostřednictvím webové stránky: www.vzhurudolu.cz (dále jen <em>webová stránka</em>). </p>

        <h2 class="h4" id="toc_1"><a href="#toc_1">1. Úvodní ustanovení</a></h2>

        <ul>
          <li><strong>1.1.</strong> Tyto obchodní podmínky upravují v souladu se zákonem vzájemná práva a povinnosti smluvních stran vzniklé v souvislosti nebo na základě kupní smlouvy (dále jen „<em>kupní smlouva</em>") uzavírané mezi prodávajícím kupujícím prostřednictvím internetového obchodu prodávajícího. Internetový obchod je prodávajícím provozován na webové stránce a to prostřednictvím rozhraní webové stránky (dále jen „<em>webové rozhraní obchodu</em>").</li>
          <li><strong>1.2.</strong> Ustanovení odchylná od obchodních podmínek je možné sjednat v kupní smlouvě. Odchylná ujednání v kupní smlouvě mají přednost před ustanoveními obchodních podmínek.</li>
          <li><strong>1.3.</strong> Ustanovení obchodních podmínek jsou nedílnou součástí kupní smlouvy. Kupní smlouva a obchodní podmínky jsou vyhotoveny v českém jazyce. </li>
          <li><strong>1.4.</strong> Znění obchodních podmínek může prodávající měnit či doplňovat. Tímto ustanovením nejsou dotčena práva a povinnosti vzniklá po dobu účinnosti předchozího znění obchodních podmínek.</li>
        </ul>

        <h2 class="h4" id="toc_2"><a href="#toc_2">2. Uzavření kupní smlouvy</a></h2>

        <ul>
          <li><strong>2.1.</strong> Veškerá prezentace zboží či služeb umístěná ve webovém rozhraní obchodu je informativního charakteru a prodávající není povinen uzavřít kupní smlouvu ohledně tohoto zboží či služeb. Ustanovení § 1732 odst. 2 občanského zákoníku se nepoužije.</li>
          <li><strong>2.2.</strong> Webové rozhraní obchodu obsahuje informace o zboží a službách, a to včetně uvedení cen jednotlivého zboží či služeb a nákladů za navrácení zboží (týká se zejména knih v hardcopy). Ceny zboží a služeb jsou uvedeny včetně daně z přidané hodnoty a všech souvisejících poplatků. Poštovné je však vždy uváděno zvlášť. Ceny zboží či služeb zůstávají v platnosti po dobu, kdy jsou zobrazovány ve webovém rozhraní obchodu. Tímto ustanovením není omezena možnost prodávajícího uzavřít kupní smlouvu za individuálně sjednaných podmínek.</li>
          <li><strong>2.3.</strong> V případě objednání školení či obdobné služby platí, že místo je rezervováno od vystavení zálohové faktury prodávajícího. Tím je smlouva uzavřena. Cena má v tomto případě splatnost zpravidla 14 dní, ale vždy je splatná před poskytnutím služby (konání školení). </li>
          <li><strong>2.4.</strong> Webové rozhraní obchodu obsahuje také informace o nákladech spojených s balením a dodáním zboží, pokud není dodáváno elektronicky. Informace o nákladech spojených s balením a dodáním zboží uvedené ve webovém rozhraní obchodu platí pouze v případech, kdy je zboží doručováno v rámci území České republiky.</li>
          <li><strong>2.5.</strong> Pro objednání zboží vyplní kupující objednávkový formulář ve webovém rozhraní obchodu. Objednávkový formulář obsahuje zejména informace o:
            <ul>
              <li><strong>2.5.1.</strong> objednávaném zboží či službě,</li>
              <li><strong>2.5.2.</strong> způsobu úhrady kupní ceny zboží či služby, údaje o požadovaném způsobu doručení objednávaného zboží a</li>
              <li><strong>2.5.3.</strong> informace o nákladech spojených s dodáním zboží, pokud vznikají (dále společně jen jako „<em>objednávka</em>").</li>
            </ul>
          </li>
          <li><strong>2.6.</strong> Před zasláním objednávky prodávajícímu je kupujícímu umožněno zkontrolovat a měnit údaje, které do objednávky kupující vložil, a to i s ohledem na možnost kupujícího zjišťovat a opravovat chyby vzniklé při zadávání dat do objednávky. Objednávku odešle kupující prodávajícímu kliknutím na tlačítko „Objednat". Údaje uvedené v objednávce jsou prodávajícím považovány za správné. Odeslání objednávky se považuje za takový úkon kupujícího, který nepochybným způsobem identifikuje objednávané zboží či službu, kupní cenu, osobu kupujícího, způsob úhrady kupní ceny, a je pro smluvní strany závazným návrhem kupní smlouvy. Podmínkou platnosti objednávky je vyplnění všech povinných údajů v objednávkovém formuláři, seznámení se s těmito obchodními podmínkami na webové stránce a potvrzení kupujícího o tom, že se s těmito obchodními podmínkami seznámil. </li>
          <li><strong>2.7.</strong>  Prodávající neprodleně po obdržení objednávky toto obdržení kupujícímu potvrdí elektronickou poštou, a to na adresu elektronické pošty (eamil) kupujícího uvedenou v  v objednávce (dále jen „<em>elektronická adresa kupujícího</em>").</li>
          <li><strong>2.8.</strong>  Smluvní vztah mezi prodávajícím a kupujícím vzniká doručením přijetí objednávky (akceptací), jež je prodávajícím zasláno kupujícímu elektronickou poštou, a to na adresu elektronické pošty kupujícího. </li>
          <li><strong>2.9.</strong>  Kupující souhlasí s použitím komunikačních prostředků na dálku při uzavírání kupní smlouvy. Náklady vzniklé kupujícímu při použití komunikačních prostředků na dálku v souvislosti s uzavřením kupní smlouvy (náklady na internetové připojení, náklady na telefonní hovory) si hradí kupující sám, přičemž tyto náklady se neliší od základní sazby.</li>
        </ul>

        <h2 class="h4" id="toc_3"><a href="#toc_3">3. Cena zboží a platební podmínky</a></h2>

        <ul>
          <li><strong>3.1.</strong> Cenu zboží a případné náklady spojené s dodáním zboží dle kupní smlouvy může kupující uhradit prodávajícímu následujícími způsoby:
            <ul>
              <li>bezhotovostně převodem na účet prodávajícího;</li>
              <li>bezhotovostně prostřednictvím platebního systému PayPal;</li>
              <li>bezhotovostně platební kartou;</li>
            </ul>
          </li>
          <li><strong>3.2.</strong> Společně s kupní cenou je kupující povinen zaplatit prodávajícímu také náklady spojené s balením a dodáním zboží ve smluvené výši, pokud vznikají. Není-li uvedeno výslovně jinak, rozumí se dále kupní cenou i náklady spojené s dodáním zboží.</li>
          <li><strong>3.3.</strong> Kupní cena je splatná na základě zálohové faktury prodávajícího.</li>
          <li><strong>3.4.</strong> Případné slevy z ceny zboží poskytnuté prodávajícím kupujícímu nelze vzájemně kombinovat.</li>
        </ul>

        <h2 class="h4" id="toc_4"><a href="#toc_4">4. Odstoupení od kupní smlouvy</a></h2>

        <ul>
          <li><strong>4.1.</strong> Kupující bere na vědomí, že dle ustanovení § 1837 občanského zákoníku, nelze mimo jiné odstoupit od kupní smlouvy o dodání digitálního obsahu, pokud nebyl dodán na hmotném nosiči a byl dodán s předchozím výslovným souhlasem kupujícího před uplynutím lhůty pro odstoupení od smlouvy a prodávající před uzavřením smlouvy sdělil kupujícímu, že v takovém případě nemá právo na odstoupení od smlouvy. Tímto tedy dává kupující takový souhlas a Prodávající sděluje, že není možné od takové smlouvy odstoupit. </li>
          <li><strong>4.2.</strong> V případě školení či obdobné služby platí, že kupující může odstoupit kdykoliv před poskytnutím dané služby. Pokud odstoupí více jak 8 dní před poskytnutím dané služby (datu konání školení), má nárok na plnou náhradu ceny. Pokud odstoupí později, rozhodne o výši a nároku náhrady prodávající jednostranně. </li>
          <li><strong>4.3.</strong> Nejedná-li se o případ uvedený v čl. 4.1 obchodních podmínek či o jiný případ, kdy nelze od kupní smlouvy odstoupit, má kupující v souladu s ustanovením § 1829 odst. 1 občanského zákoníku právo od kupní smlouvy odstoupit, a to do čtrnácti (14) dnů od převzetí zboží, přičemž v případě, že předmětem kupní smlouvy je několik druhů zboží nebo dodání několika částí, běží tato lhůta ode dne převzetí poslední dodávky zboží. Odstoupení od kupní smlouvy musí být prodávajícímu odesláno ve lhůtě uvedené v předchozí větě. Pro odstoupení od kupní smlouvy může kupující využit vzorový formulář poskytovaný prodávajícím, jenž tvoří přílohu obchodních podmínek. Odstoupení od kupní smlouvy může kupující zasílat mimo jiné na adresu provozovny prodávajícího. Pro doručování odstoupení od smlouvy platí ustanovení čl. 11 těchto obchodních podmínek. Podnikatel potvrdí spotřebiteli bez zbytečného odkladu v textové podobě jeho přijetí.</li>
          <li><strong>4.4.</strong> V případě odstoupení od kupní smlouvy dle čl. 4.3 obchodních podmínek se kupní smlouva od počátku ruší. Zboží musí být prodávajícímu vráceno do čtrnácti (14) dnů od odstoupení od smlouvy prodávajícímu. Odstoupí-li kupující od kupní smlouvy, nese kupující náklady spojené s navrácením zboží prodávajícímu, a to i v tom případě, kdy zboží nemůže být vráceno pro svou povahu obvyklou poštovní cestou.</li>
          <li><strong>4.5.</strong>  V případě odstoupení od smlouvy dle čl. 4.3 obchodních podmínek vrátí prodávající peněžní prostředky přijaté od kupujícího do čtrnácti (14) dnů od odstoupení od kupní smlouvy kupujícím, a to stejným způsobem, jakým je prodávající od kupujícího přijal. Prodávající je taktéž oprávněn vrátit plnění poskytnuté kupujícím již při vrácení zboží kupujícím či jiným způsobem, pokud s tím kupující bude souhlasit a nevzniknou tím kupujícímu další náklady. Odstoupí-li kupující od kupní smlouvy, prodávající není povinen vrátit přijaté peněžní prostředky kupujícímu dříve, než mu kupující zboží vrátí nebo prokáže, že zboží prodávajícímu odeslal.</li>
          <li><strong>4.6.</strong>  Nárok na úhradu škody vzniklé na zboží je prodávající oprávněn jednostranně započíst proti nároku kupujícího na vrácení kupní ceny.</li>
          <li><strong>4.7.</strong>  V případech, kdy má kupující v souladu s ustanovením § 1829 odst. 1 občanského zákoníku právo od kupní smlouvy odstoupit, je prodávající také oprávněn kdykoliv od kupní smlouvy odstoupit, a to až do doby převzetí zboží kupujícím. V takovém případě vrátí prodávající kupujícímu kupní cenu bez zbytečného odkladu, a to bezhotovostně na účet určený kupujícím.</li>
          <li><strong>4.8.</strong>  Je-li společně se zbožím poskytnut kupujícímu dárek, je darovací smlouva mezi prodávajícím a kupujícím uzavřena s rozvazovací podmínkou, že dojde-li k odstoupení od kupní smlouvy kupujícím, pozbývá darovací smlouva ohledně takového dárku účinnosti a kupující je povinen spolu se zbožím prodávajícímu vrátit i poskytnutý dárek.</li>
        </ul>

        <h2 class="h4" id="toc_5"><a href="#toc_5">5. Přeprava a dodání zboží</a></h2>

        <ul>
          <li><strong>5.1.</strong>  V případě, že je způsob dopravy smluven na základě zvláštního požadavku kupujícího, nese kupující riziko a případné dodatečné náklady spojené s tímto způsobem dopravy.</li>
          <li><strong>5.2.</strong> Je-li prodávající podle kupní smlouvy povinen dodat zboží na místo určené kupujícím v objednávce, je kupující povinen převzít zboží při dodání.</li>
          <li><strong>5.3.</strong> V případě, že je z důvodů na straně kupujícího nutno zboží doručovat opakovaně nebo jiným způsobem, než bylo uvedeno v objednávce, je kupující povinen uhradit náklady spojené s opakovaným doručováním zboží, resp. náklady spojené s jiným způsobem doručení.</li>
          <li><strong>5.4.</strong> Při převzetí zboží od přepravce je kupující povinen zkontrolovat neporušenost obalů zboží a v případě jakýchkoliv závad toto neprodleně oznámit přepravci. V případě shledání porušení obalu svědčícího o neoprávněném vniknutí do zásilky nemusí kupující zásilku od přepravce převzít.</li>
          <li><strong>5.5.</strong> Další práva a povinnosti stran při přepravě zboží mohou upravit zvláštní dodací podmínky prodávajícího, jsou-li prodávajícím vydány.</li>
        </ul>

        <h2 class="h4" id="toc_6"><a href="#toc_6">6. Práva z vadného plnění</a></h2>

        <ul>
          <li><strong>6.1.</strong> Práva a povinnosti smluvních stran ohledně práv z vadného plnění se řídí příslušnými obecně závaznými právními předpisy (zejména ustanoveními § 1914 až 1925, § 2099 až 2117 a § 2161 až 2174 občanského zákoníku a zákonem č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů).</li>
          <li><strong>6.2.</strong> Prodávající odpovídá kupujícímu, že zboží či poskytnutá služba při převzetí nemá vady. Zejména prodávající odpovídá kupujícímu, že v době, kdy kupující zboží převzal:
            <ul>
              <li><strong>6.2.1.</strong> má zboží vlastnosti, které si strany ujednaly, a chybí-li ujednání, má takové vlastnosti, které prodávající nebo výrobce popsal nebo které kupující očekával s ohledem na povahu zboží a na základě reklamy jimi prováděné,</li>
              <li><strong>6.2.2.</strong> se zboží hodí k účelu, který pro jeho použití prodávající uvádí nebo ke kterému se zboží tohoto druhu obvykle používá,</li>
              <li><strong>6.2.3.</strong> zboží odpovídá jakostí nebo provedením smluvenému vzorku nebo předloze, byla-li jakost nebo provedení určeno podle smluveného vzorku nebo předlohy,</li>
              <li><strong>6.2.4.</strong> je zboží v odpovídajícím množství, míře nebo hmotnosti a</li>
              <li><strong>6.2.5.</strong> zboží vyhovuje požadavkům právních předpisů.</li>
            </ul>
          </li>
          <li><strong>6.3.</strong> Ustanovení uvedená v čl. 6.2 obchodních podmínek se nepoužijí u zboží prodávaného za nižší cenu na vadu, pro kterou byla nižší cena ujednána, na opotřebení zboží způsobené jeho obvyklým užíváním, u použitého zboží na vadu odpovídající míře používání nebo opotřebení, kterou zboží mělo při převzetí kupujícím, nebo vyplývá-li to z povahy zboží.</li>
          <li><strong>6.4.</strong> Projeví-li se vada v průběhu šesti měsíců od převzetí, má se za to, že zboží bylo vadné již při převzetí. Kupující je oprávněn uplatnit právo z vady, která se vyskytne u spotřebního zboží v době dvaceti čtyř měsíců od převzetí.</li>
          <li><strong>6.5.</strong> Práva z vadného plnění uplatňuje kupující u prodávajícího na adrese jeho provozovny, v níž je přijetí reklamace možné s ohledem na sortiment prodávaného zboží, případně i v sídle nebo místě podnikání. Za okamžik uplatnění reklamace se považuje okamžik, kdy prodávající obdržel od kupujícího reklamované zboží.</li>
          <li><strong>6.6.</strong> Další práva a povinnosti stran související s odpovědností prodávajícího za vady může upravit reklamační řád prodávajícího.</li>
        </ul>

        <h2 class="h4" id="toc_7"><a href="#toc_7">7. Další práva a povinnosti smluvních stran</a></h2>

        <ul>
          <li><strong>7.1.</strong> Kupující nabývá vlastnictví ke zboží zaplacením celé kupní ceny zboží.</li>
          <li><strong>7.2.</strong> Prodávající není ve vztahu ke kupujícímu vázán žádnými kodexy chování ve smyslu ustanovení § 1826 odst. 1 písm. e) občanského zákoníku.</li>
          <li><strong>7.3.</strong> K mimosoudnímu řešení spotřebitelských sporů z kupní smlouvy je příslušná Česká obchodní inspekce, se sídlem Štěpánská 567/15, 120 00 Praha 2, IČ: 000 20 869, internetová adresa: http://www.coi.cz.</li>
          <li><strong>7.4.</strong> Prodávající je oprávněn k prodeji zboží a poskytování služeb na základě živnostenského oprávnění. Živnostenskou kontrolu provádí v rámci své působnosti příslušný živnostenský úřad. Dozor nad oblastí ochrany osobních údajů vykonává Úřad pro ochranu osobních údajů. Česká obchodní inspekce vykonává ve vymezeném rozsahu mimo jiné dozor nad dodržováním zákona č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů.</li>
          <li><strong>7.5.</strong> Kupující tímto přebírá na sebe nebezpečí změny okolností ve smyslu § 1765 odst. 2 občanského zákoníku.</li>
        </ul>

        <h2 class="h4" id="toc_8"><a href="#toc_8">8. Ochrana osobních údajů</a></h2>

        <ul>
          <li><strong>8.1.</strong> Ochrana osobních údajů je v souladu s nařízením Evropského parlamentu a Rady (EU) č. 2016/679, o ochraně fyzických osob v souvislosti se zpracováním osobních údajů (dále jen „GDPR&quot;) upravena v Zásadách ochrany osobních údajů, které můžete nalézt zde <a href="https://www.vzhurudolu.cz/osobni-udaje">vzhurudolu.cz/osobni-udaje</a>.</li>
        </ul>

        <h2 class="h4" id="toc_9"><a href="#toc_9">9. Zasílání obchodních sdělení a ukládání cookies</a></h2>

        <ul>
          <li><strong>9.1.</strong> Kupující souhlasí se zasíláním informací souvisejících se zbožím, službami nebo podnikem prodávajícího na elektronickou adresu kupujícího a dále souhlasí se zasíláním obchodních sdělení prodávajícím na elektronickou adresu kupujícího.</li>
          <li><strong>9.2.</strong> Kupující souhlasí s ukládáním tzv. cookies na jeho počítač. V případě, že je nákup na webové stránce možné provést a závazky prodávajícího z kupní smlouvy plnit, aniž by docházelo k ukládání tzv. cookies na počítač kupujícího, může kupující souhlas podle předchozí věty kdykoliv odvolat. Viz k tomu  Zásady užívání souborů „cookies" - <a href="https://www.vzhurudolu.cz/cookies">vzhurudolu.cz/cookies</a></li>
        </ul>

        <h2 class="h4" id="toc_10"><a href="#toc_10">10. Doručování </a></h2>

        <ul>
          <li><strong>10.1.</strong> Kupujícímu může být doručováno na elektronickou adresu kupujícího.</li>
        </ul>

        <h2 class="h4" id="toc_11"><a href="#toc_11">11. Závěrečná ustanovení </a></h2>

        <ul>
          <li><strong>11.1.</strong> Pokud vztah založený kupní smlouvou obsahuje mezinárodní (zahraniční) prvek, pak strany sjednávají, že vztah se řídí českým právem. Tímto nejsou dotčena práva spotřebitele vyplývající z obecně závazných právních předpisů.</li>
          <li><strong>11.2.</strong> Je-li některé ustanovení obchodních podmínek neplatné nebo neúčinné, nebo se takovým stane, namísto neplatných ustanovení nastoupí ustanovení, jehož smysl se neplatnému ustanovení co nejvíce přibližuje. Neplatností nebo neúčinností jednoho ustanovení není dotknutá platnost ostatních ustanovení.</li>
          <li><strong>11.3.</strong> Kupní smlouva včetně obchodních podmínek je archivována prodávajícím v elektronické podobě a není přístupná.</li>
          <li><strong>11.4.</strong> Přílohu obchodních podmínek tvoří vzorový formulář pro odstoupení od kupní smlouvy.</li>
          <li><strong>11.5.</strong> Kontaktní údaje prodávajícího: adresa pro doručování Jurkovičova 988/26, 149 00, Praha 11, adresa elektronické pošty <a href="mailto:martin@vzhurudolu.cz">martin@vzhurudolu.cz</a>.</li>
          <li><strong>11.6.</strong> Tyto obchodní podmínky nabývají účinnosti dne <em>6. 8. 2018</em>.</li>
        </ul>

        <hr class="mt-3 mb-3">

        <h2 class="h4" id="toc_12"><a href="#toc_12">12. Vzorový formulář pro odstoupení od smlouvy</a></h2>

        <p><em>Vyplňte tento formulář a pošlete jej zpět pouze v případě, že chcete odstoupit od smlouvy):</em></p>

        <p>Oznámení o odstoupení od smlouvy </p>

        <p>Martin Michálek, se sídlem Jurkovičova 988/26, 149 00, Praha 11, IČO: 68168861, DIČ: 7708304956</p>

        <p>Oznamuji/oznamujeme, že tímto odstupuji/odstupujeme, od smlouvy o nákupu tohoto zboží/o poskytnutí těchto služeb</p>

        <p>Datum objednání/datum obdržení:</p>

        <p>Jméno a příjmení spotřebitele/spotřebitelů:</p>

        <p>Adresa spotřebitele/spotřebitelů:</p>

        <p>Podpis spotřebitele/spotřebitelů (pouze pokud je tento formulář zasílán v listinné podobě):</p>

        <p>Datum:</p>

        <p><em>Nehodící se škrtněte nebo údaje doplňte.</em></p>
      </div>
    </div>
  </main>
</BaseLayout>
