/** @define course-avatar

Lector Avatar for Course List
=============================

I. e: Homepage and /kurzy
*/

// It is standalone, so it needs core variables and mixins:

@use "../core/core";

// [1] Same height as .avatar-xs,
// double width becaause of multiple avatars option

.course-avatar {
  position: absolute;
  width: 5rem;
  height: 2.5rem; // [1]
  bottom: 0.5rem;
  left: 0.5rem;
}

.course-avatar__image {
  display: inline-block;
  border-color: core.$vd-white-color;
}

// Multiple avatars (ie. for course set "Rychlost webu")
// - the second one should have special positon

.course-avatar__image:nth-child(2) {
  margin-left: -1rem;
}
