/** @define toc; weak

TOC
===

Table of contents for ebook pages (/kniha-responzivni-design/)
or categories (/css).

*/

// It is standalone, so it needs core variables and mixins:

@use "../core/core";

.toc {
  @include core.f-6;

  // 1-3 columns layout:
  column-gap: 1em;
  padding: 1.5rem;

  @media #{core.$vd-screen-sm-up} and #{core.$vd-screen-lg-down} {
    column-count: 2;
  }

  @media #{core.$vd-screen-lg-up} {
    column-count: 3;
  }
}

.toc ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

// Do not break column inside elements

.toc {
  li, p, h3, h4 {
    break-inside: avoid-column;
  }
}

// We suppose, the heading structure will be:
// - h2 as main heading (mostly invisible, only for machines)
// - h3, h4 as heading for TOC sections

.toc h3 {
  @include core.f-5;
  margin-bottom: 0.25em;
}

.toc h4 {
  @include core.f-6;
  margin-top: 1em;
  margin-bottom: 0;
}

// Highlighting current item
// (for CSSmine.com)

.toc__current a {
  color: var(--vd-text-color);
}

