<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Impello Webpilot</title>
    
	<meta http-equiv="content-type" content="text/html; charset=windows-1250">
	<meta name="author" content="Impello - Internet Development Studio, http://www.impello.cz">
	
	<link rel="stylesheet" href="css/common.css" type="text/css">
	<link rel="stylesheet" href="css/screen.css" type="text/css">	
 	<link rel="stylesheet" href="css/font_small.css" type="text/css" title="Small style">
<!-- 	<link rel="stylesheet" href="css/font_large.css" type="text/css" title="Large style">	 -->
 	<link rel="stylesheet" href="css/print.css" type="text/css" media="print" title="Print stylesheet">	
    
	<script src="js/script.js" type="text/jscript"></script>
	
		
</head>

<body>

<table class="layout" id="header" width="100%">
  <col width="10">
  <col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%"><col width="10%">
  <col width="10">  
<tr class="zerorow">
  <td width="10">&nbsp;</td>
  <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td>
  <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td>
  <td width="10">&nbsp;</td>  
</tr>

<tr id="logorow">
  <td>&nbsp;</td>
  <td colspan="2">
  	  <strong>
	    <a href="index.html"><img src="img/logo.gif" alt="Dicota" width="113" height="38" border="0"></a>
	  </strong>
  </td>
  <td colspan="4" class="verticallineleft">
    <strong>
	  OEM Catalogue
	</strong>
  </td>
  <td colspan="2" class="userboxleft">
    <div>
	  <a href="options.html">Supervisor</a> / Dicota Germany
	</div>
  </td>
  <td colspan="2" class="userboxright">
    <div>
	  <a href="log_out.html">Log out</a>
	</div>
  </td>
  <td>&nbsp;</td>  
</tr>

<form name="naviform">
<tr id="menurow">
  <td>&nbsp;</td>
  <td colspan="6">

  <script type="text/javascript">
	document.write('<select class="menu" name="navigation" onchange="window.location=document.naviform.navigation.options[document.naviform.navigation.selectedIndex].value; return false;"> ');
	document.write('<option value="index.html">Desktop/News</option> ');
	document.write('<option value="catalogue.html">Catalogue</option> ');
	document.write('<option value="options.html">Options</option> ');
	document.write('<option value="users.html" selected>*Users</option> ');
	document.write('</select> ');
  </script>				
  <noscript>
    <a href="index.html">Desktop/News</a>
    <a href="catalogue.html">Catalogue</a>
    <a href="options.html">Options</a>
    <a href="users.html"><strong>Users</strong></a>
  </noscript>
  
  </td>
  <td colspan="2" class="favorites">
  <script type="text/javascript">
	document.write('<select class="l" name="bookmarks" onchange="window.location=document.naviform.bookmarks.options[document.naviform.bookmarks.selectedIndex].value; return false;"> ');
	document.write('<option value="bookmarks_add.html" selected>+ Add Page to Bookmarks</option> ');
	document.write('<option value="catalogue_detail.html">Multiplus</option> ');
	document.write('<option value="options.html">User Options</option> ');
	document.write('</select> ');
  </script>				
  <noscript>
    <a href="bookmarks_add.html">+ Add Page to Bookmarks</a>
    <a href="catalogue_detail.html">Multiplus</a>
    <a href="options.html">Administration</a>				
  </noscript>
  </td>
  <td colspan="2" class="favoritessecond">
  22/1/2003 19:30 
  </td>  
  <td>&nbsp;</td>  
</tr>

</form>

</table>


<table class="layout" id="main" width="100%">
  <col width="10"> 
  <col width="10%"> <col width="10%"> <col width="10%">  <col width="10%">  <col width="10%"> <col width="10%">  <col width="10%"> <col width="10%"> <col width="10%">                
  <col width="10">  
<tr class="zerorow">
  <td width="10">&nbsp;</td>
  <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td> <td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td><td width="10%">&nbsp;</td>
  <td width="10">&nbsp;</td>  
</tr>

<!-- you are here - cesta aktualni pozice -->

<tr id="youarehere">
  <td></td>
  <td colspan="10">
    <a href="index.html">Desktop</a> <span class="noimportant">&gt;</span>  <a href="users.html">Users</a> <span class="noimportant">&gt;</span> New User
  </td>
  <td></td>  
</tr>

<tr id="contentcontainer">
  <td>&nbsp;</td>

<!-- tree side => -->  
  <td colspan="2" class="content dicotaoem treeside">

  <h2>Administration tree</h2>

  <table class="sortby">
    <tr>
	  <td>&nbsp;</td>
	</tr>
  </table>

	
    <ul>
	  <li><img src="img/folder_opened.gif" alt="Opened" width="16" height="13">Users Administratiron
	<ul>
		<li><a href="users.html" class="active"><img src="img/file_txt.gif" alt="Options page" width="13" height="16">Users </a></li>
		<li><a href="users_companies.html"><img src="img/file_txt.gif" alt="Options page" width="13" height="16">Companies</a></li>
		<li><a href="users_activity.html"><img src="img/file_txt.gif" alt="Options page" width="13" height="16">Activity</a></li>		
	</ul>
	</li>
	</ul>
	

  </td>
<!-- <= tree side --> 


<!-- content side => -->  
  <td colspan="8" class="content dicotaoem contentside">

  <h2 class="verticallineleft">Administration</h2>
  
     <table class="formlayouttoptabs"> 
         <col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%">
         <col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%">
  	  <tr class="bgone">
		<td colspan="16">&nbsp;</td>		
	  </tr>		   
       <tr class="zerorow">
         <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td> <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td>
         <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td> <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td>
      </tr>		 	  
	</table>    
    
    <div class="aligncenter">
	
	<p class="message alignleft" style="width: 75%"><em>
	Data from your form were successfully saved.
	</em></p>
	
	<p class="message error alignleft" style="width: 75%"><em>
	You have to fill <strong>Login,</strong> <strong>Password</strong>.
	</em></p>
	
	<table class="formlayout borderright" style="width: 75%">
	  <caption>
         <span class="floatright fontnobold"><a href="users.html" title="Back to Users">Back to Users</a></span>	  
	     Edit User
	  </caption>
      <col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%"><col width="5%">
      <col width="5%"><col width="5%"><col width="5%"><col width="5%">
  	  <tr class="bgone">
		<th colspan="6"><strong>Login</strong></th>
		<td colspan="6"><input type="text" value="" class="m"></td>
	  </tr>	    	  
  	  <tr class="bgtwo">
		<th colspan="6"><strong>Password</strong></th>
		<td colspan="6"><input type="password" value="" class="m"></td>
	  </tr>
  	  <tr class="bgone">
		<th colspan="6"><strong>Re-Type Password</strong></th>
		<td colspan="6"><input type="password" value="" class="m"></td>
	  </tr>	  
  	  <tr class="bgtwo">
		<th colspan="6"><strong>Company</strong></th>
		<td colspan="6">
		  <select>
		    <option>Dicota Germany</option>
		    <option>Dicota Singapore</option>			
		  </select>
		</td>
	  </tr>	 
  	  <tr class="bgone">
		<th colspan="6"><strong>Timezone</strong></th>
		<td colspan="6">
		  <select>
		    <option>CEE - Central Europe</option>
		    <option>AS - Asia</option>			
		  </select>
		</td>
	  </tr>	    	  
  	  <tr class="bgtwo">
		<th colspan="6">Name</th>
		<td colspan="6"><input type="text" value="" class="l"></td>
	  </tr>
  	  <tr class="bgone">
		<th colspan="6">E-Mail</th>
		<td colspan="6"><input type="text" value="" class="l"></td>
	  </tr>	   
  	  <tr class="bgtwo">
		<th colspan="6">Phone</th>
		<td colspan="6"><input type="text" value="" class="l"></td>
	  </tr>	   	  
  	  <tr class="rowbutton">
		<th colspan="6">&nbsp;</th>
		<td colspan="6">
		  <input type="submit" value="Save" class="button">
		  <input type="submit" value="Cancel" class="button">		  
		</td>
	  </tr>	   	        	  
	   <tr class="zerorow">
         <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td>
         <td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td><td width="5%">&nbsp;</td>		 
      </tr>	  
	  
  </table>  
  </div>
  
  </td>  

<!-- <= content side -->  
 
  <td>&nbsp;</td>  
</tr>

</table>



<!-- ********************************************** -->


</body>
</html>
