---
// Footer komponenta - obsah z HTML šablon
---

<div class="be-in-touch f-sm" id="touch">
  <footer class="foot" role="contentinfo" aria-labelledby="foot-heading">
    <h2 class="sr-only" id="foot-heading">Patička webu</h2>

    <p>
      <a href="/">Články</a> – <a href="/video">Videa</a> – <a href="/kurzy">Kurzy</a> – <a href="/ebooky">E-booky</a> – <a href="/podcast">Podcast</a>
    </p>

    <p>
      <a href="/email">Novinky e-mailem</a> – <a href="/o-webu">O webu</a>
      <br />
      <a href="/podminky">Obchodní podmínky</a> – <a href="/osobni-udaje">Osobní údaje</a> – <a href="/cookies">Cookies</a>
    </p>

    <p>
      Tvoří a provozuje <a href="/martin">Martin&nbsp;Michálek</a>.
      <br>
      <a href="mailto:martin&#64;vzhurudolu&#46;cz">martin&#64;vzhurudolu&#46;cz</a>
    </p>

    <p class="rss-socials">
      <a href="https://www.facebook.com/VzhuruDolu">Facebook</a>
      <span class="suppress">–</span>
      <a href="https://x.com/vzhurudolu">X</a>
      <span class="suppress">–</span>
      <a href="https://instagram.com/vzhurudolu">Instagram</a>
      <span class="suppress">–</span>
      <a href="https://feeds.feedburner.com/vzhurudolu">RSS</a>
      <br />
      <a href="http://www.cssmine.com" hreflang="en" title="Also in English">CSS Mine</a>
    </p>

    <p>
      <svg class="foot__symbol" viewBox="0 0 28 25" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use class="vd-symbol" xlink:href="#vd-symbol" x="0" y="0"></use>
      </svg>
    </p>
  </footer>
</div>
</div>
