body
{
	background-color: #fff;
	font: .8em/1.45em Verdana, sans-serif;
	text-align: left;
	margin: 0;
	padding: 0;
	color: #222;
}

#articleHead small, .articleHead small, #foot, .singleSubHead small, #sidebar-2, #searchSubmit, #searchInput, input, textarea, select, option
{
	font-family: Verdana, sans-serif;
	font-size: 1em;
}

#articleHead small
{
	font-size: 1em;
}

h2, h3, h4, h5, h6
{
	color: #666;
}

code
{
  color: #333; background: #eee;
}

#content h3
{
	font-size: 1em;
}

#content b, #content strong,
{
	font-weight: normal;
	background: #FFCBFF;
}

.important
{
	padding: 1em .5em;
	background: #FFCBFF;
}

p, ul, ol, blockquote
{
	margin-bottom: 1.4em;
}

a
{
	color: #00B000;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a img
{
	border: 0;
}

blockquote
{
	margin-left: 20px;
	margin-right: 0px;
}

#articleHead h2, #articleHead p, .articleHead h2, .articleHead p
{
	color: #aaa;
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

#articleHead .comment a, .articleHead .comment a
{
	color: #aaa;
}

#articleHead h2, .articleHead h2, h1
{
	font-size: 18pt;
	font-family: Georgia, serif;
	line-height: 1.25em;
	font-weight: normal;
}

h1
{
margin-top: 1em;
	margin-bottom: 1em;
	_margin-bottom: 1em;
}


.articleItem
{
	margin-bottom: 3em;
}

#articleHead, .articleHead
{
	padding-top: 1.5em;
	margin-bottom: 0;
}

#head
{
	margin-bottom: 1.5em;
	background: #333;
	color: #fff;
	padding: 4em 10px 1.5em 10px;
}

#head a
{
	color: #f3f;
	text-decoration: none;
}

#head a:hover
{
	text-decoration: underline;
}

#headName
{
	float: left;
	width: 450px;
	font-size: 18pt;
	line-height: 1.25em;
	font-family: Georgia, serif;
	font-weight: normal;
}

#headName strong
{
	font-weight: normal;
}

#headName h1
{
	font-size: 1em;
	display: inline;
}

#headSide
{
	float: right;
	width: 210px;
}

#container
{
	width: 800px;
	\width: 800px;
	w\idth: 800px;
	background: #fff;
	margin: 0 auto;
}

#content
{
	width: 510px;
	\width: 500px;
	w\idth: 500px;
	padding-left: 10px;
}

#sidebar-2
{
	float: right;
	width: 220px;
	margin-top: 1.5em;
}

#sidebar-2 h2
{
	font-size: 1em;
	margin-bottom: .3em;
}

#sidebar-2 li, #sidebar-2 ul, ul.ulNormal, ul.ulNormal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sidebar-2 li, ul.ulNormal li
{
	padding: 3px;
	border-bottom: 1px solid #dadada;
}

#sidebar-2 ul, ul.ulNormal
{
	border-top: 1px solid #dadada;
}

ul.ulNormal li small
{
	color: #aaa;
	font-size: 1em;
}

#content ul, #content ol
{
	margin-left: 0;
	padding-left: 0;
	color: #999;
}

#content ul
{
	list-style-type: square;
}

#content li
{
	padding-left: 0;
	margin-left: 1.5em;
	color: #222;
	margin-bottom: .3em;
}

#content li ul, #content li ol
{
	margin-bottom: 0;
}

#content ul.ulNormal li
{
	margin: 0 !important;
}

#foot
{
	clear: both;
	margin-top: 3em;
	border-top: 1px solid #f3f;
	padding: 1.5em 10px;
}

#accessibility
{
	position: absolute;
	top: -10000px;
}

#content hr
{
	color: #ccc;
	width: 66%;
	margin-top: 2em;
	margin-bottom: 2em;
}

img.divider
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.clearBothZero
{
	clear: both;
	font-size: 1px;
	line-height: 1px;
}

.bookmarksBox
{
	background: transparent url("../images/3.png") repeat-x;
	padding: 3em 10px 1.5em 10px;
}

.commentsBox
{
	padding: 1.5em 10px;
	background: transparent url("../images/3.png") repeat-x;
}

.commentsBox h2
{
	margin-top: 0;
	padding-top: 0;
	font-size: 1.3em;
font-family: Georgia, serif;
font-weight: normal;
}

.commentsBox h3
{
	font-size: 1em;
}

.commentsBox ol.comments strong small
{
	font-weight: normal;
	font-size: 1em;
}

ol.comments li
{
	margin-left: 0;
	padding-left: 0;
}

ol.comments
{
	margin-left: 0;
	padding-left: 1.5em;
	margin-bottom: 3em;
}

textarea.txpCommentInputMessage
{
	width: 380px;
	height: 20em;
}

.singleSubHead
{
	margin-top: -1em;
}

#head #searchInput
{
	background: #333;
	border: 1px solid #666;
	color: #fff;
	vertical-align: middle;
	padding: .1em 5px;
	height: 1.5em;
}

#head #searchSubmit
{
	background: transparent;
	color: #ccc;
	border: 1px solid #666;
	vertical-align: middle;
	padding: .1em 5px;
}

#sidebar-2 li.plainlink, .related_articles li
{
	margin-bottom: .5em !important;
}

.alignCenter
{
	text-align: center;
}