
body {
  font: 16px/1.5em Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#page_head {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

#content {
  margin: 20px;
}

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
      #content {
        
  

    }

    /* iPads (portrait and landscape) and desktops ----------- */
    @media only screen 
    and (min-device-width : 768px) {
      #content {
        max-width: 700px;
      } 
    }

a {
  color: red;
}






