// VD variables
// ============

@use "sass:color";

// Typographics scale
// ------------------

// http://www.modularscale.com/?1&rem&1.25

$vd-font-size-1: 2.441rem; // h1
$vd-font-size-2: 1.953rem; // h2 or .page-head h1 on mobile
$vd-font-size-3: 1.563rem;
$vd-font-size-4: 1.25rem;
$vd-font-size-5: 1rem;
$vd-font-size-6: 0.8rem;
$vd-font-size-7: 0.64rem;

$vd-font-size-base: $vd-font-size-5;
$vd-font-size-sm:   0.75rem;

$vd-line-height-1: 1.5;
$vd-line-height-2: 1.4;
$vd-line-height-3: 1.3;
$vd-line-height-4: 1.3;

$vd-line-height-base: $vd-line-height-1;
$vd-line-height-computed: ($vd-line-height-1 * 1rem);


// Font Family
// -----------

$vd-font-family: capita, georgia, serif;
$vd-font-family-secondary: foro, sans-serif;
$vd-font-family-headings: "foro extra bold", georgia, serif;

// Borders
// -------

$vd-border-radius: 4px;
$vd-border-radius-sm: 2px;

// Breakpoints
// -----------

// Breakpoint where we change the look more radically (change the font etc.)

$vd-screen-xxs: 360px;
$vd-screen-xs:  480px;
$vd-screen-sm:  600px;
$vd-screen-md:  768px;
$vd-screen-lg:  1100px;
$vd-screen-xl:  1900px;

// Complete Media Queries
// (Use it like @media #{$vd-screen-sm-up} {… })

$vd-screen-xxs-up: "only screen and (min-width: #{$vd-screen-xxs})";
$vd-screen-xs-up:  "only screen and (min-width: #{$vd-screen-xs})";
$vd-screen-sm-up:  "only screen and (min-width: #{$vd-screen-sm})";
$vd-screen-md-up:  "only screen and (min-width: #{$vd-screen-md})";
$vd-screen-lg-up:  "only screen and (min-width: #{$vd-screen-lg})";
$vd-screen-xl-up:  "only screen and (min-width: #{$vd-screen-xl})";

$vd-screen-xxs-down: "(max-width: #{$vd-screen-xs - 1})";
$vd-screen-xs-down:  "(max-width: #{$vd-screen-xs - 1})";
$vd-screen-sm-down:  "(max-width: #{$vd-screen-sm - 1})";
$vd-screen-md-down:  "(max-width: #{$vd-screen-md - 1})";
$vd-screen-lg-down:  "(max-width: #{$vd-screen-lg - 1})";
$vd-screen-xl-down:  "(max-width: #{$vd-screen-xl - 1})";

// Animations
// ----------

$vd-transition: 0.15s;

// Colors
// ------

// Documentation is here: <current-url>/style/colors

// Base colors:
// https://coolors.co/002c3a-5fa316-2e2c09-b43b18-eecf6d

$vd-daintree-color: #002c3a;
$vd-green-color: #5fa316;
$vd-brown-color: #2e2c09;
$vd-red-color: #b43b18;
$vd-yellow-color: #eecf6d;

// RGB values (some are needed for dark mode):

$vd-brown-color-rgb: 46, 44, 9;

// Generic colors:
// (white prohibited because of high contrast, mainly in dark mode)

$vd-white-color: #fcfcf7;
$vd-white-color-rgb: 252, 252, 247;

// Text colors:

$vd-text-color: $vd-brown-color;

// Heading colors:

$vd-heading-color: color.adjust($vd-green-color, $lightness: -20%);
$vd-heading-color-dark: color.adjust($vd-green-color, $lightness: 45%);
$vd-heading-color-active: color.adjust($vd-heading-color, $lightness: 4%);

// Link colors:

$vd-link-color: $vd-green-color;
$vd-link-underline-color: rgba($vd-link-color, 0.66);

// Code colors:

$vd-code-color: hsl(25deg 74% 23%); // HEX: #66330f
$vd-code-color-1: hsl(25deg 74% 32%); // HEX: #8c4615 - parameters, attributes, keywords, functions
$vd-code-color-2: hsl(25deg 74% 37%); // HEX: #a35218 - strings
$vd-code-color-3: hsl(25deg 24% 73%); // HEX: #cab6a8 - special characters
$vd-code-color-4: hsl(42deg 16% 32%); // HEX: #5e5644 - text, comments

$vd-code-color-dark: hsl(25deg 74% 83%);
$vd-code-color-1-dark: hsl(25deg 74% 82%);
$vd-code-color-2-dark: hsl(25deg 74% 77%);
$vd-code-color-3-dark: hsl(25deg 24% 93%);
$vd-code-color-4-dark: hsl(42deg 16% 62%);

// Background colors:

$vd-bg-interactive: hsl(44deg 81% 94%);
$vd-bg-interactive-dark: hsl(44deg 81% 6%);
$vd-bg-message: $vd-yellow-color;
$vd-bg-dark: $vd-text-color;

// Background color for <body>:

$vd-bg-color: color.mix(#ddd, $vd-bg-interactive, 75%);
$vd-bg-color-dark: color.scale($vd-brown-color, $lightness: -30%);

// Box backgrounds

$vd-box-bg-color: hsl(43deg 21% 94%); // #f2f0eb
$vd-box-bg-color-dark: hsl(43deg 21% 14%);

// Dark green backgrounds

// For .page-head etc.
// Choosed by hand for http://qrohlf.com/trianglify-generator/
// with exception of darkest, which is "daintree" color

$vd-darkgreen-color-0:   #30680d;
$vd-darkgreen-color-33:  #285d19;
$vd-darkgreen-color-66:  #1f5021;
$vd-darkgreen-color-100: #174622;

// Highlight background gradient colors:

$vd-bg-highlight: #d8f5b8;
$vd-bg-highlight-dark: #3A3F26;
$vd-bg-highlight-neutral: color.mix(#efefef, $vd-bg-interactive, 80%);

// Badge colors:
// (and button borders etc…)

$vd-badge-color: $vd-daintree-color;

// Light-reversed $vd-daintree-color

$vd-badge-color-dark: hsl(194deg 100% 89%);

// Using colors in custom properties
// (mainly for dark mode)

:root {
  --vd-text-color-rgb: #{$vd-brown-color-rgb};
  --vd-text-color: rgb(var(--vd-text-color-rgb));
  --vd-text-color-lighter: rgba(var(--vd-text-color-rgb), 0.8);
  --vd-text-color-lightest: rgba(var(--vd-text-color-rgb), 0.7);
  --vd-background-color: #{$vd-bg-color};
  --vd-content-bg-color: #{$vd-white-color};
  --vd-border-color: rgba(var(--vd-text-color-rgb));
  --vd-border-color-light: rgba(var(--vd-text-color-rgb), 0.5);
  --vd-highlight-bg-color: #{$vd-bg-highlight};
  --vd-highlight-neutral-bg-color: #{$vd-bg-highlight-neutral};
  --vd-link-color: #{$vd-link-color};
  --vd-heading-color: #{$vd-heading-color};
  --vd-code-color: #{$vd-code-color};
  --vd-code-color-1: #{$vd-code-color-1};
  --vd-code-color-2: #{$vd-code-color-2};
  --vd-code-color-3: #{$vd-code-color-3};
  --vd-code-color-4: #{$vd-code-color-4};
  --vd-bg-hover: rgba(var(--vd-text-color-rgb), 0.1);
  --vd-box-bg-color: #{$vd-box-bg-color};
  --vd-interactive-bg-color: #{$vd-bg-interactive};
  --vd-badge-color: #{$vd-badge-color};
}

@media (prefers-color-scheme: dark) {
  :root {
    --vd-text-color-rgb: #{$vd-white-color-rgb};
    --vd-background-color: #{$vd-bg-color-dark};
    --vd-content-bg-color: #{color.scale($vd-brown-color, $lightness: -50%)};
    --vd-highlight-bg-color: #{$vd-bg-highlight-dark};
    --vd-highlight-neutral-bg-color: #{$vd-bg-highlight-dark};
    --vd-heading-color: #{$vd-heading-color-dark};
    --vd-code-color: #{$vd-code-color-dark};
    --vd-code-color-1: #{$vd-code-color-1-dark};
    --vd-code-color-2: #{$vd-code-color-2-dark};
    --vd-code-color-3: #{$vd-code-color-3-dark};
    --vd-code-color-4: #{$vd-code-color-4-dark};
    --vd-box-bg-color: #{$vd-box-bg-color-dark};
    --vd-interactive-bg-color: #{$vd-bg-interactive-dark};
    --vd-badge-color: #{$vd-badge-color-dark};
  }
}


