/* machal.creativity.cz default design stylesheet - martin michalek - machal@creativity.cz */

body {
color: #333;
background: #9c0;
margin: 0px;
padding: 20px;
}

body, input, textarea, table td,  table th {
font-family:  Verdana, sans-serif;
font-size: 0.75em;
line-height: 1.4em;
}


a, a:link, a:visited {
color: #f60;
background: inherit;
}

a:hover, a:active  {
color: #f90;
background: inherit;
}

div#box {
width: 606px;
margin: auto;
position: absolute;
left: 50%;
margin-left: -303px;
}


h1 {
margin: 0px;
padding: 0px;
color: #333;
background: #9c0 url('img/set1/h1.gif') no-repeat;
cursor:pointer;cursor:hand;
}

h1 {
width: 606px;
height: 202px;
}

div#main {
border: 2px solid #330;
background: #fff;
color: #333;
}

div#main div#leftside {
width: 150px;
float: left;
padding-bottom: 10px;
text-align: right;
font-size: 0.8em;
line-height: 1.4em;
}

div#main div#leftside h3 {
background: #EAEAE5 url('img/set1/bg_one.gif') no-repeat bottom right;
color: #330;
padding: 2px 5px;
margin: 0px 0px 5px 0px;
font-weight: bold;
font-size: 1em;
}

div#main div#leftside .bgone h3 {
background: transparent;
}

div#main div#leftside h4 {
color: #330;
background: inherit;
padding: 2px 2px;
margin: 0px;
font-weight: bold;
font-size: 1em;
}

div#main div#leftside ul {
background: transparent;
color: #333;
padding: 0px 5px;
margin: 0px 0px 10px 0px;
list-style-type: none;
}

div#main div#leftside p {
padding: 2px 5px;
margin: 0px 0px 5px 0px;
}

div#main div#leftside li {
background: transparent;
color: #333;
padding: 0px 0px;
margin: 0.2em 0px;
}

.bgone {
background: #EAEAE5 url('img/set1/bg_one.gif') no-repeat bottom right;
color: #330;
}

.bgone a, .bgone a:visited, .bgone a:active  {
background: transparent;
color: #330;
}

.bgone a:hover  {
background: transparent;
color: #663;
}

.bgtwo {
background: #E5EAE5 url('img/set1/bg_two.gif') no-repeat bottom right;
color: #030;
}

.bgtwo a, .bgtwo a:visited, .bgtwo a:active  {
background: transparent;
color: #030;
}

.bgtwo a:hover  {
background: transparent;
color: #363;
}

.bgtworeverse {
background: #E5EAE5 url('img/set1/bg_two_reverse.gif') no-repeat top left;
color: #030;
}

.bgtworeverse a, .bgtworeverse a:visited, .bgtworeverse a:active  {
background: transparent;
color: #030;
}

.bgtworeverse a:hover  {
background: transparent;
color: #363;
}

div#main div#leftside p.technology, div#main div#leftside p.technologynext {
margin-top: 20px;
padding: 5px;
font-size: 0.9em;
line-height: 1.2em;
}

div#main div#leftside p.technologynext {
margin-top: 5px;
}





div#main div#content {
width: 430px;
float: right;
line-height: 140%;
}

div#main div#content h4 { 
color: #fff;
background: #360 url('img/set1/bg_h4.gif') bottom left no-repeat;
padding: 2px 10px 2px 5px;
margin: 0px;
font-size: 1.05em;
}

div#main div#content h5, div#main div#content h6  {
color: #360;
background: inherit;
padding: 0px;
margin: 5px 0px;
font-size: 1em;
}

div#main div#content h5 a, div#main div#content h6 a  {
color: #060;
background: inherit;
}

div#main div#content h5 a:hover, div#main div#content h6 a:hover  {
color: #090;
background: inherit;
}

div#main div#content strong.blogtime {
margin: 0px;
padding: 0px;
}

div#main div#content p {
margin: 10px 0px;
}

div#main div#content p, div#main div#content ul, div#main div#content ol, div#main div#content dl {
padding: 0px 10px 0px 5px;
}

div#main div#content div.bordered {
border: 1px solid #eee;
padding: 10px;
}

div#main div#content div.bordered div {
border: 0px;
}

div#main div#content .bordergrey {
border: 1px solid #ccc;
}

div#main div#content ul {
list-style-image: url('img/etc/ul.gif');
margin-left: 25px;
padding: 0px 10px 0px 0px;
}

div#main div#content li {
padding-left: 0px;
}

abbr, acronym {
background: transparent url('img/dotted.gif') repeat-x bottom;
}

pre {
text-align: left;
width: 398px;
margin: 0px;
padding: 0px;
font-size: 0.7em;
line-height: 1em;
overflow: auto;
/* 
scrollbar-3d-light-color: #E5EAE5;
scrollbar-base-color: #E5EAE5;
scrollbar-arrow-color: #360;
scrollbar-dark-shadow-color: #8A8A57;
scrollbar-face-color: #E5EAE5;
scrollbar-highlight-color: #E5EAE5;
scrollbar-shadow-color: #E5EAE5;
*/
}

pre, code {
color: #360;
background: inherit;
}

blockquote, cite {
font-style: italic;
}

div.foot {
margin-top: 20px;
line-height: 120%;
padding: 5px;
xxxborder: 1px solid red;
}

.incompatiblebrowser {
display: none;
}


form {
padding: 0px;
margin: 0px;
}

input.search {
width: 80px;
font-size: xx-small;
}

input.searchbutton {
font-size: xx-small;
background: #EAEAE5;
color: #333300;
}

table.normal  {
border-collapse: collapse;
border-bottom: 1px solid #EAEAE5;
border-right: 1px solid #EAEAE5;
width: 80%;
}

table.normal td, table.normal th  {
padding: 2px 3px;
border-top: 1px solid #EAEAE5;
border-left: 1px solid #EAEAE5;
}

table.normal th {
text-align: left;
background: #EAEAE5;
border-left: 1px solid #fff;
border-bottom: 1px solid #fff;
}

a.layoutbox:link, a.layoutbox:visited, a.layoutbox:active {
display: block;
border: 1px solid #663;
width: 1.8em;
height: 1.8em;
text-align: center;
vertical-align: middle;
color: #663;
background: transparent;
text-decoration: none;
margin: 0em 0em 0.5em 0.25em;
}

a.layoutbox:hover {
color: #fff;
background: #663;
text-decoration: none;
}

.bgone.info {
padding: 5px;
margin: 0px;
}

.bgone.info em {
font-style: normal;
}

.bgone.info input {
color: #030;
}

.bgone.info input.searchbutton {
color: #330;
background: #EAEAE5;
}

div#main div#leftside .bgone.info p {
padding: 0px;
margin: 0px;
margin-top: 1em;
}


/* nazory */

.comments {
background: #fff;
}

.comments h1 {
background: #fff;
height: 50px; 
width: 100%;
}

.comments fieldset {
border: 1px solid #ccc;
padding: 25px;
}


.comments label {
float: left;
width: 15%;
text-align: right;
}

.comments input, .comments textarea {
font-size: 1em;
}



