// Comments
// ========

// It is standalone, so it needs core variables and mixins:

@use "../core/core";

.comment {
  border-bottom: 1px solid var(--vd-border-color);
  padding-bottom: 1rem;
  padding-top: 1rem;

  &:last-of-type {
    border-bottom: 0;
  }
}

.comment:first-of-type {
  border-top: 1px solid var(--vd-border-color);
}

.comment__author {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 0.25rem;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: core.$vd-font-size-6;
}

.comment__author-name {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.comment__author-avatar-image {
  display: block;
}

.comment__body {
  p, ul, ol, dl, table, blockquote, pre, hr, figure {
    margin-bottom: 0.5rem;
  }
}

.comment__date {
  margin-bottom: 0;
  color: var(--vd-text-color-lightest);
}

