/*

Foot Links
==========

Odkazy na statické stránky v patičce.

*/



// - Odkazy: první skupina -

.foot-links-first {
  margin-bottom: @line-height-computed;
  padding-right: @grid-gutter-width/2;
  padding-left: @grid-gutter-width/2;

  @media only screen and (min-width: 480px) {
    clear: both;
    float: left;
    width: percentage(6/12);
  }

  @media only screen and (min-width: 768px) {
    clear: none;
    width: percentage(3/12);
  }
}

// - Odkazy: druhá skupina -

.foot-links-second {
  margin-bottom: @line-height-computed;
  padding-right: @grid-gutter-width/2;
  padding-left: @grid-gutter-width/2;

  @media only screen and (min-width: 480px) {
    float: left;
    width: percentage(6/12);
  }

  @media only screen and (min-width: 768px) {
    width: percentage(3/12);
  }
}

@media only screen and (max-width: 479px) {

  // Na mobilech prebira vzhled Panel a List Groups z BS

  .foot-links {
    margin-left: @grid-gutter-width/2;
    margin-right: @grid-gutter-width/2;
    border: 1px solid #ddd;
    border-radius: @panel-border-radius;
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
  }

  .foot-links .list {
    padding: 0;
    margin-bottom: 0;

    ul {
      margin-bottom: 0;
    }
  }

  // Na mobilech prebira vzhled Panel a List Groups z BS

  .foot-links .list {
    .list-heading {
      .panel-heading;
      font-weight: bold;
      border-color: #ddd;
      cursor: pointer;
      color: @link-color;

      &:hover,
      &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
      }

      &:focus {
        .tab-focus();
      }
    }

    .list-title {
      .panel-title;
    }

    .list-body {
      .panel-body;
      padding: 0;
    }

    .list-body a {
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      border-bottom: 1px solid #ddd;
    }
  }

}
