/*

Foot Partners
=============

Logotyp partnerů v patičce.

*/

// - Odkazy: partneri -

.foot-social {
  margin-bottom: @line-height-computed;
  padding: 2*@line-height-computed @grid-gutter-width/2 0;

  @media only screen and (min-width: 480px) {
    float: left;
    width: percentage(4/12);
  }

  @media only screen and (min-width: 1100px) {
    width: percentage(3/12);
  }
}

// - Partneri -

.foot-partners {
  .clearfix;
  margin: 0;
  padding: 2*@line-height-computed @grid-gutter-width/2;
  border-bottom: 1px solid #ddd;

  @media only screen and (min-width: 480px) {
    float: left;
    width: percentage(8/12);
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  @media only screen and (min-width: 768px) {
    width: percentage(6/12);
  }
}


.foot-partners-item {
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
  width: percentage(2/10);
  text-align: center;

  img {
    @ie8: \0screen;
    // width: inherit; // IE8 http://stackoverflow.com/questions/8610077/height-auto-in-internet-explorer-8-and-below
    display: block;
    max-width: 80%;
    height: auto;

    @media @ie8 {
      width: auto;
    }
  }
}
