// Stylopis pro 4-1-1

// Centralni vrstva
@import '../../../_common/css/wm-common.less';

// Layout vrstva
@import '../../../_common/css/wm-layouts/layout-4.less';

// Vrstva s variantou
@import '../../../_common/css/wm-variants/variant-4-1.less';   


// Barevne schema
@wmColorNav: 				 	 #fff;
@wmColorNavHover:             	 @wmColorNav;
@wmColorSmallScreenNavActive: 	 #4f854a;
 
@wmColorNav:white;
@wmColorNavLevel1Bg:transparent;
@wmColorNavLevel2Bg:#525252;
@wmColorNavLevel3Bg:#676767;

// Barvy
@textColor: 					#666;
@linkColor: 					#6ea468;
@linkColorHover:				#666666;
@tableBackgroundAccent: 		#f3f3f3;
@wmButtonColor:					#fff;