/*

Stránka: Košík
==============

*/

// Zlom, od kterého se slevy a info pod košíkem zobrazují vedle sebe
@discount-info-layout-start: 640px;


// Horní část košíku: kroky a odesílací tlačítka pro desktop
// ---------------------------------------------------------

.cart-top {}

// Nahoře odesílací tlačítka na mobilech nezobrazujeme
@media only screen and (max-width: (@discount-info-layout-start - 1px)) {
  .cart-top .cart-goto {
    display: none;
  }
}


// Informativní nebo chybová hláška
// --------------------------------

.cart-alert {
  clear: both;
  margin-bottom: 2*@line-height-computed;
}


// Celková cena
// ------------

.cart-total-price {
  float: right;
  line-height: 1.3;
  background: #ddd;
  display: inline-block;
  margin-top: -0.5*@line-height-computed;
  margin-bottom: 2*@line-height-computed;
  padding: @padding-large-vertical @padding-large-horizontal;

  h2 {
    font-size: @font-size-base;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}
