/*

Košík: zboží v košíku
=====================

*/

// Položky zboží v košíku
// ----------------------

.cart-items {
  border-top: 1px solid @border-color;
  padding-top: @line-height-computed/2;
}


// Položky: Základna
// -----------------

.cart-item {
  .clearfix;
  font-size: @font-size-smaller;
  padding-bottom: @line-height-computed/2;
  margin-bottom: @line-height-computed/2;
  border-bottom: 1px solid @border-color;
}

// ### Obrázek

.cart-item-image {
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

// ### Blok s textem: název, parametry, dostupnost

.cart-item-text {
  margin-bottom: @line-height-computed/2;
}

// ### Název

// .content kvůli specifičnosti, viz base.less a .content h2
//  TODO: neukazuje to nějakou ošklivost v base?

.content .cart-item-name {
  font-size: @font-size-base;
  font-weight: bold;
  margin: 0 0 @line-height-computed/3;
  line-height: 1.3;
}

// ### Parametry zboží

.cart-item-params {
  margin-bottom: @line-height-computed/3;
}

.cart-item-params {
  // Nadpis (první oko, druhé oko…)
  h3 {
    display: inline;
    font-size: @font-size-smaller;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  // Seznam parametrů v odstavci
  p {
    display: inline;
    margin: 0;
    padding: 0;
  }
}


// ### Dostupnost zboží

.cart-item-availability {
  font-size: @font-size-smaller;
  display: inline-block;
  margin-bottom: @line-height-computed/3;

  strong {
    background: #ddd;
    padding: @padding-small-vertical/2 @padding-small-horizontal/2;
    font-weight: normal;
  }
}

// ### Možnost změny počtu, smazání a úprava parametrů

.cart-item-edit-remove {
  text-align: center;
}

.cart-item-edit {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;

  a {
    line-height: 24px;
    display: inline-block;
  }
}

.cart-item-remove {
  display: inline-block;
  margin-bottom: -5px;
}


// ### Počet

.cart-item-count {
  .form-control {
    display: inline-block;
    width: auto;
  }
}

// ### Cena

.cart-item-price {
  font-size: @font-size-base;
  margin: 0 @padding-large-horizontal 0 0;
}


// Layout
// ------

// ### Nejmenší displeje: obrázek vedle, tlačítka dole

@media only screen {

  .cart-item {
    position: relative;
    padding-left: 33%;
  }

  .cart-item-image {
    width: 30%;
    position: absolute;
    left: 0;
    top: 0;

    img {
      max-height: 90px;
    }
  }

  .cart-item-edit-remove {
    position: absolute;
    bottom: (@line-height-computed/2 + 9px); // 20px
    left: 0;
    width: 30%;
  }

  .cart-item-count-price {
    .clearfix;

    p {
      margin: 0;
    }
  }

  .cart-item-count {
    float: left;
  }

  // .content kvůli specifičnosti, viz base.less a .content h2
  //  TODO: neukazuje to nějakou ošklivost v base?

  .content .cart-item-price {
    margin-top: 10px;
    font-size: @font-size-base;
    font-weight: bold;
    float: right;
  }

}
