/*

Order GoTo: Tlačítka "Pokračovat v nákupu" a "Zpět do obchodu" pro objednávkkový proces
=======================================================================================

*/


// Layout na malých displejích: Tlačítka ve dvou řádcích
// -----------------------------------------------------

.vc-order-goto {
  clear: both;
  padding: @line-height-computed @grid-gutter-width/2;
  margin-top: @line-height-computed;
  margin-bottom: 2*@line-height-computed;
  border: 1px solid #f0f7fe;
  border-radius: @border-radius-small;

  p { margin-bottom: 0; }
}

// Doplnění šipky u tlačítka pro
// přechod na další krok objednávky

.vc-order-goto-next {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 16px;
    right: 10px;
    width: 9px;
    height: 16px;
    background-image: url("../dist/img/icons/caret-right.svg");

    .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
      background-image: url("../dist/img/icons/caret-right.png");
    }
  }
}

.vc-order-goto-btn {
  display: block;
  width: 100%;
  text-align: center;

  .vc-order-goto-back & {
    margin-top: @line-height-computed/2;
    margin-bottom: @line-height-computed/4;
  }
}

// Kontejner pro druhé odesílací tlačítko
// --------------------------------------

// Jen na malých displejích.

// Na mobilech chceme tlačítka mezi formulářem a potrzením
.vc-order-goto-second .vc-order-goto {
  margin-top: @line-height-computed/2;

  @media only screen and (min-width: @vc-layout-start) { display: none; }
}


// Layout na větších displejích: vedle sebe
// ----------------------------------------

@media only screen and (min-width: 520px) {

  // Doplnění šipky u tlačítka pro
  // přechod zpět k objednávce

  .vc-order-goto-back {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 17px;
      left: 0;
      width: 5px;
      height: 7px;
      background-image: url("../dist/img/icons/caret-left-blue-sm.svg");

      .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
        background-image: url("../dist/img/icons/caret-left-blue-sm.png");
      }
    }
  }

  .vc-order-goto { .vc-clearfix; }

  .vc-order-goto-btn {
    display: inline-block;
    width: auto;
  }

  // "Zpět do obchodu"
  .vc-order-goto-back {
    float: left;

    .vc-order-goto-btn {
      // Doplnění mezery pro šipku u tlačítka pro přechod zpět k objednávce
      padding-left: 1.5*@padding-large-horizontal;

      padding-right: 0;
      margin-bottom: 0;
      margin-top: 10px; // Vertikálně na baseline call-to-action tlačítka
    }
  }

  // "Pokračovat v nákupu"
  .vc-order-goto-next { float: right; }

}
