/*

Košík: Slevy: kupón a ISIC
==========================

*/


.cart-discounts {
}

// Otevřený formulář se slevou

.cart-discounts > .active {
  background: @vc-bg-light;
}

// ### Vložení kupónu

// Jednořádkový formulář

.cart-coupon {

  // Textový input
  .form-control {
    float: left;
    display: inline-block;
    width: 67%;
    vertical-align: middle;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // Tlačítko
  .btn {
    float: left;
    width: 33%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  // Layout: jiné rozložení tam kde se nevejde 80/20
  @media only screen and (min-width: 1024px) {
    .form-control { width: 80%; }
    .btn          { width: 20%; }
  }

}

// ### Vložení čísla ISIC

.cart-isic {
  border-bottom: 1px solid @vc-border-color;
  margin-bottom: 2*@line-height-computed;
}



// Info pod košíkem: Layout na větších displejích
// ----------------------------------------------

.cart-discounts {
  clear: both;
  padding-left: @grid-gutter-width/2;
  padding-right: @grid-gutter-width/2;
}

@media only screen and (min-width: @discount-info-layout-start) {

  .cart-info-lines {
    .layout-col-base();
    .layout-col(6);
  }

  .cart-discounts {
    .layout-col-base();
    .layout-col(6);
    float: right;
  }

}

