/*

Box
===

Boxík s důležitou informací v obsahu.
Odlišený barvou pozadí a paddingem.

*/

.vc-box {
  .vc-clearfix;

  padding:
    @padding-base-vertical
    @padding-base-horizontal;
  border-radius: @border-radius-small;
  background: @vc-bg-light;
}

// Varianta Block
// --------------

// Napr. pro homepage a seznam kategorii

.vc-box-block {
  display: block;
}


// Varianta Bordered
// -----------------

.vc-box-bordered {
  background: transparent;
  border: 1px solid @vc-border-color;

  a&:hover,
  a&:focus,
  a&:active {
    border-color: @vc-border-color-dark;
    text-decoration: none;
  }
}


// Varianta tečkovaného boxu na stránce
// platby a dopravy objednávky a osobních údajů
// -----------------

.vc-box-dotted {

  // odsazení stejně velké jako u labelu radio elementu

  margin-left: 20px;
  border: 1px dotted #aaaaaa;
  background-color: @vc-bg-lightest;
}


// Varianta boxu na stránce
// platby a dopravy objednávky
// pro dostupnost
// -----------------

.vc-box-for-recap {
  margin-top: @line-height-computed;
  border: 1px dotted #aaaaaa;
  background-color: @vc-bg-lightest;

  > p {
    margin-bottom: 0;
  }
}


// Varianta boxu na
// přihlašovacích stránkách
// -----------------

.vc-box-for-loginpage {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed;
  border: 1px dotted #aaaaaa;
  background-color: @vc-bg-lightest;
}



// Varianta Collapse
// -----------------

// Box uvnitř formuláře sloužící ke zvýraznění rozkliknutelného obsahu

.vc-box-collapse {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
}

// Pokud následuje za řádkem formuláře, je potřeba jej odsadit

.checkbox,
.radio,
.form-group {
  & + .vc-box-collapse {
    margin-top: @line-height-computed/2;
    margin-bottom: @line-height-computed;
  }
}

// Poslední řádek vnořeného formuláře nemá padding zezdola

.vc-box > .form-group:last-child {
  margin-bottom: 0;
}
