/*

Buttons
=======

Tlačítka. Vychází z BS buttons.less
Ale je natolik jiné, že už je to vc-

Použití: vždy .vc-btn + typ tlačítka a případně modifikátor(y)

*/


// Proměnné
// --------

@vc-btn-line-height-base:  1.375; // naše výška tlačítek odpovídající výšce polí formulářů
@vc-btn-line-height-large: @line-height-large;
@vc-btn-line-height-small: @line-height-small;

@vc-btn-padding-base-horizontal: @line-height-computed; // vodorovná mezera


// Základní tlačítko
// -----------------

.vc-btn {
  &:extend(.btn all);

  display: inline-block;
  margin-bottom: 0; // For input.vc-btn
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;

  .vc-button-size(@padding-base-vertical; @vc-btn-padding-base-horizontal; @font-size-base; @vc-btn-line-height-base; @btn-border-radius-base);

  // na nejmenších obrazovkách zalom, aby se dal text číst
  @media screen and (max-width: 320px) { white-space: normal; }

  &,
  &:active,
  &.vc-btn-active {
    &:focus,
    &.vc-btn-focus { .tab-focus(); }
  }

  &:hover,
  &:focus,
  &.vc-btn-focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.vc-btn-active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .15);
  }

  &.vc-btn-disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    opacity: 0.5;
    box-shadow :none;
  }

  a& {
    &.vc-btn-disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
}
