/*

Button types
============

typy tlačítek

*/


// Default
// =======
.vc-btn-default {
  .vc-button-variant(
    @normal: @vc-color-blue;
    @bg: transparent;

    @hover: #ffffff;
    @hover-bg: @vc-color-dark-blue;
    @hover-border: @vc-color-dark-blue;
  );
}

// Default light
// =============
.vc-btn-default-light { .vc-button-variant(#ffffff; transparent; @hover-bg: rgba(255,255,255,0.15); ); }

// Default dark
// ============
.vc-btn-default-dark  { .vc-button-variant(@vc-color-text; transparent; @hover: #000 ; @hover-bg: rgba(0,0,0,0.07); ); }


// Primární akce
// =============
.vc-btn-primary {
  .vc-button-variant(@btn-primary-color; @vc-color-red; @vc-color-red; @hover-bg: #e80800; @hover-border: #e80800;);

  &:hover,
  &:focus,
  &.vc-btn-focus,
  &:active,
  &.vc-btn-active {
      background-image: radial-gradient(circle farthest-side at 50% 0%, #ff5c33, #e80800);
      text-shadow: #3d0500 0 1px 0;
  }

  &,
  &.vc-btn-disabled,
  &[disabled],
  fieldset[disabled] &{
    background-image: radial-gradient(circle closest-corner at 50% 0%, #ff7040, @vc-color-red);
    text-shadow: #b82e00 0 1px 0;

  }

}


// Outlined tlačítko s linkami nahoře a dole
// =========================================
// Jen pro nákupní proces.

.vc-btn-outlined {
  // lokální proměnná
  @vc-shadow: rgba(255, 255, 255, 0.49) 0 1px 0 0 inset, rgba(255, 255, 255, 0.49) 0 -1px 0 0 inset;

  .vc-btn-primary;

  box-shadow: @vc-shadow;

  .vc-order-goto-next & {
    padding-right: 2*@padding-large-horizontal;

    box-shadow: @vc-shadow, rgba(0, 0, 0, 0.49) 0 7px 10px -10px;
  }
}


// Success appears as green
// ========================
.vc-btn-success { .vc-button-variant(@btn-success-color; @btn-success-bg; @btn-success-border); }

// Info appears as blue-green
// ==========================
.vc-btn-info { .vc-button-variant(@btn-info-color; @btn-info-bg; @btn-info-border); }

// Warning appears as orange
// =========================
.vc-btn-warning { .vc-button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border); }

// Danger and error appear as red
// ==============================
.vc-btn-danger { .vc-button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border); }


// Link buttons
// ============
// Make a button look and behave like a link
.vc-btn-link {
  color: @link-color;
  font-weight: 300;
  border-radius: 0;
  text-decoration: underline;

  &,
  &:active,
  &.vc-btn-active,
  &[disabled],
  &.vc-btn-disabled,
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
  }

  &,
  &:hover,
  &:focus,
  &.vc-btn-focus,
  &:active,
  &.vc-btn-active {
    border-color: transparent;
    text-decoration: underline;
  }

  &:hover,
  &:focus,
  &.vc-btn-focus {
    color: @link-hover-color;
    background-color: transparent;
  }

  &[disabled],
  &.vc-btn-disabled,
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.vc-btn-focus { color: @btn-link-disabled-color; }
  }
}


// Vyhledávání
// ===========
.vc-btn-search {
  .vc-button-variant(#ffffff; @vc-color-blue; @vc-color-blue);
  z-index: 2; // BS má index:2 jen pro aktivní/hover tlačítka, my ho chceme vždy nad inputem
}


// Facebook přihlášení
// ===================
//Nesmí být na <input> kvůli :before

.vc-btn-facebook {
  // lokální proměnné
  @vc-facebook-color: #3b5998;
  @vc-dark-facebook-color: darken(@vc-facebook-color, 10%);
  @vc-icon-size: 16px;
  @vc-vertical-space: 3px;

  .vc-button-variant(#ffffff; @vc-facebook-color; @vc-facebook-color);

  background-image: linear-gradient(to bottom, lighten(@vc-facebook-color, 15%), @vc-facebook-color);
  padding-right: (@vc-btn-padding-base-horizontal - @vc-icon-size + @vc-vertical-space);

  &:before {
    content: " ";
    width: @vc-icon-size;
    height: @vc-icon-size;
    display: inline-block;
    margin-top: 3px;
    margin-right: 2*@vc-vertical-space;
    margin-left: -(@vc-icon-size - @vc-vertical-space);
    vertical-align: top;
    background: transparent url("../dist/img/icons/facebook-square.svg") no-repeat 0 0;  //todo: inline / sprite svg?

    .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
      background-image: url("../dist/img/icons/facebook-square.png"); //todo: inline / sprite svg?
    }
  }

  &:hover,
  &:focus,
  &.vc-btn-focus,
  &:active,
  &.vc-btn-active {
    background-image: linear-gradient(to bottom, lighten(@vc-dark-facebook-color, 15%), @vc-dark-facebook-color);
  }
}


// Stránkování
// ===========

.vc-btn-pagination {
    // text-color                background-color      border-color
  .vc-button-variant(
    @vc-color-blue;              #ffffff;              #c1dae8;
    @vc-color-blue;              #ebf3f7;              @vc-color-blue;
    darken(@vc-color-blue, 10%); darken(#ebf3f7, 5%);  @vc-color-blue;
  );

  &,
  &:hover,
  &:focus,
  &.vc-btn-focus,
  &:active,
  &.vc-btn-active { text-decoration: underline; }
}
