/*

Dropdown container
==================

Základ (obal) pro login nebo uživatelské menu.
Používá se v hlavičce (klik na ikonu hlavy)

*/


@vc-nav-icons-border-distance: 6px; // odsazeni ikony od okraje menu


// Base
// ----


.vc-dropdown-container{
  clear: both;
}


// Otevírá se až kliknutím na ikonu uživatele.

// Pokud je načtený JS, ihned schováme

.js .vc-dropdown-container {
  display: none;

  &.active{ display: block; }
}

// Vzhled vrstvy

.vc-dropdown-container {
  margin-bottom: @line-height-computed/2;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

// Řádek s tlačítky je bez paddingu

.vc-dropdown-container .vc-dropdown-container-buttons {
  padding-right: 0;
  padding-left: 0;
}

// Velké displeje: šup do absolutně pozicované vrstvy.

.vc-dropdown-container {

  @media only screen and (min-width: @p-large-display-start) { // jakmile se skryje nav-icon menu
    width: 340px;
    position: absolute;
    top: @vc-nav-icons-top-space - @vc-nav-icons-border-distance;
    right: @vc-nav-icons-icon-size + @vc-nav-icons-horizontal-space - @vc-nav-icons-badge-border-width;
    z-index: 55000; // Kvuli Pine.js
    padding-top: @vc-nav-icons-top-space;
    border-radius: @border-radius-base;
    box-shadow: 0 1px 8px 0 rgba(30, 30, 30, 0.15);
  }

}
