/*

Motivation Box
==============

Lineární motivační body, hlavně pro detail produktu.

*/

.vc-motivator-linear {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.vc-motivator-linear-item {
  margin: 0;
}

.vc-motivator-linear-item-title {
  font-size: @font-size-base;
  margin: 0;
}

.vc-motivator-linear-item-title-link {
  display: block;
  padding: @padding-small-vertical 0;
}

.vc-motivator-linear-item-content {
  display: none;
}
