/*

Order Steps
===========

Vyznačení probíhajícího kroku objednávky.

Ukázka HTML
-----------

```
<ul>
  <li class="vc-order-steps-item">
    <strong>
      <span class="in">Košík</span>
    </strong>
  </li>
  <li class="vc-order-steps-item">
    <a href="#">
      <span class="in">Vyberte si dárek</span>
    </a>
  </li>
</ul>
```

*/

// Základna
// --------

// Kontejner

.vc-order-steps {
  position: relative;
  margin-top: @line-height-computed;
  margin-bottom: 2*@line-height-computed;
  border: 1px solid #97c5de;
  border-radius: @border-radius-small;
  overflow: hidden;
}

// UL uvnitř seznamu

.vc-order-steps ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}

// Položka seznamu
// ---------------

// <li class="vc-order-steps-item">

.vc-order-steps-item {
  display: table-cell;
  padding: 0;
  margin: 0;
  border-left: 1px dotted #c4deec;
  vertical-align: middle;

  &:first-child {
    border-left: none;
  }

  > a, > b, > strong, > span {
    display: block;
    padding: @line-height-computed 0;
    text-align: center;
    font-size: 11px;
    text-decoration: none;
  }

  > b, > strong {
    color: #3992c0;
  }

  > a, > span {
    color: #666766;
  }

  > span {
    opacity: 0.6;
  }
}

// Číslo a text v položce

.vc-order-steps-item {
  .vc-order-steps-item-nr,
  .vc-order-steps-item-txt {
    display: inline-block;
    vertical-align: middle;
  }

  .vc-order-steps-item-nr {
    font-size: @font-size-base;
    font-weight: 500;
    line-height: 1;
  }

  .vc-order-steps-item-txt {
    display: none;
    margin-left: @padding-large-horizontal;
    font-weight: 300;
    text-align: left;
  }
}

@media only screen and (min-width: @vc-layout-start) {
  .vc-order-steps-item {
    .vc-order-steps-item-nr {
      font-size: @font-size-h3;
    }

    .vc-order-steps-item-txt {
      display: inline-block;
      font-size: @font-size-base;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .vc-order-steps-item {
    .vc-order-steps-item-nr {
      font-size: 50px;
    }

    .vc-order-steps-item-txt {
      font-size: @font-size-large;
    }

    // Outline čísla (zatím jen ve webkit prohlížečích)
    // a na větších displejích kvůli čitelnosti

    > a .vc-order-steps-item-nr,
    > span .vc-order-steps-item-nr {
      -webkit-text-fill-color: #ffffff;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #666766;
    }
  }
}


// Aktivní položka seznamu

.vc-order-steps-item {
  b, strong {
    background: transparent;
    background: #f2f6fa;
  }
}
