/*

Page Heading
============

Hlavní nadpis stránky

*/

.vc-page-heading {
  margin-top: @line-height-computed*0.5;
  margin-bottom: @line-height-computed*0.2;
  color: @vc-color-orange;
}

.vc-page-heading a {
  text-decoration: underline;
  color: @vc-color-orange;
}
