/*

Price
=====

cena na detailu a na přehledu vč. slevy

*/

.vc-price {
  color: @vc-color-red;

  // cena pred slevou
  del {
    font-weight: 300;
    white-space: nowrap;
    padding-right: 0.25em; // pokud je zlevněno, odsaď od staré ceny
  }
}

// samotná cena
.vc-price-value { white-space: nowrap; }

// poznámka k ceně
.vc-price-note {
  color: @vc-color-text-light;
  font-size: @font-size-small;
}

// ### cena za kus
.vc-price-per-item {
  font-weight: 300;
  color: @vc-color-text-light;

  // na výpisu produktů
  .vc-price-category & {
    font-size: @vc-font-size-smaller;
    white-space: nowrap;
    display: inline-block;
    margin-left: 0.5em;
  }

  // na detailu produktu
  .vc-price-detail & {
    display: block;
    font-size: @font-size-small;
  }
}

// ### Cena na detailu produktu
.vc-price-detail {
  margin-top: @line-height-computed/2;
  margin-bottom: @line-height-computed/3;

  // pokud je sleva, zobraz novou cenu tučně
  del + .vc-price-value { font-weight: 500; }
}

// ### Cena na výpisu produktů
.vc-price-category {
  font-weight: 500;
  display: inline-block;
  font-size: @font-size-small;
  margin: 3px 0 0;
  padding: 0 0.25em;
}
