/*

Dotaz zákazníka
================

V detailu produktu.

*/


@vc-question-bubble-border-color: #e3e3e3; // barva okraje bubliny dotazu
@vc-answer-bubble-border-color: #41bbe2;   // barva okraje bubliny odpovědi
@vc-question-bubble-background: #ffffff;   // barva pozadí bubliny
@vc-answer-bubble-background: #fbfcfd;     // barva pozadí bubliny


.vc-question {
  margin: @padding-large-vertical*3 0;

  @media only screen and (min-width: 550px) {
    margin: @padding-large-vertical*2 0;
  }
}

// Meta informace o dotazu
// ------

.vc-question-meta {
  margin-left: @padding-large-horizontal;

  @media only screen and (min-width: 550px) {
    float: left;
    width: @vc-detail-question-space; // stejná šířka jako label ve formuláři pro přidání dotazu
    margin-left: 0;
    text-align: right;
  }
}

.vc-question-img {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: @padding-large-horizontal;
  border-radius: 50%;

  @media only screen and (min-width: 550px) {
    float: none;
    margin-right: 0;
  }
}

.vc-question-name {
  margin-bottom: 0;
  color: #414241;
  font-size: 14px;
  font-weight: 500;

  .vc-question-answer & {
    padding-top: 8px; // vertikální zarovnání s fotografií
  }

  @media only screen and (min-width: 550px) {
    padding-top: 0;
    margin-top: 12px; // posunutí jména k šipce bubliny
  }
}

.vc-question-time {
  color: #787878;
  font-size: 11px;
  font-weight: 400;
}

// Obsahová část dotazu
// ------

.vc-question-body {
  clear: left;
  padding-top: @padding-large-vertical*3;
  overflow: hidden;

  @media only screen and (min-width: 550px) {
    clear: none;
    padding-top: 0;
    padding-left: @padding-large-horizontal*2; // stejná šířka jako odsazení inputu
                                               // ve formulari pro přidání dotazu
  }
}

.vc-question-bubble {
  position: relative;
  padding: @padding-large-vertical @padding-large-horizontal;
  border-radius: @panel-border-radius;
  border: 1px solid @vc-question-bubble-border-color;
  background-color: @vc-question-bubble-background;
  font-weight: 400;
  text-align: right;

  .vc-question-answer & {
    border-color: @vc-answer-bubble-border-color;
    background-color: #fbfcfd;
  }

  // Šipka bubliny

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;

    @media only screen and (min-width: 550px) {
      top: 20px;
      right: 100%;
      bottom: auto;
      left: auto;
    }
  }

  &:before {
    border-color: transparent transparent @vc-question-bubble-border-color transparent;
    border-width: 0 0 20px 17px;

    .vc-question-answer & {
      border-bottom-color: @vc-answer-bubble-border-color;
    }

    @media only screen and (min-width: 550px) {
      border-color: transparent @vc-question-bubble-border-color transparent transparent;
      border-width: 0 17px 20px 0;

      .vc-question-answer & {
        border-right-color: @vc-answer-bubble-border-color;
        border-bottom-color: transparent;
      }
    }
  }

  &:after {
    margin-bottom: -1px;
    margin-right: -1px;
    border-color: transparent transparent @vc-question-bubble-background transparent;
    border-width: 0 0 19px 16px;

    .vc-question-answer & {
      border-bottom-color: @vc-answer-bubble-background;
    }

    @media only screen and (min-width: 550px) {
      margin-top: 1px;
      margin-right: -1px;
      margin-bottom: 0;
      border-color: transparent @vc-question-bubble-background transparent transparent;
      border-width: 0 16px 19px 0;

      .vc-question-answer & {
        border-right-color: @vc-answer-bubble-background;
        border-bottom-color: transparent;
      }
    }
  }

  > p {
    margin-bottom: @line-height-computed;
    font-size: 14px;
    text-align: left;
  }
}

.vc-question-link {
  font-size: 12px;
}
