/*

Rating
======

Hodnocení, např. v detailu produktu.

*/

// ### proměnné

@vc-rating-icon-size: 50px; // velikost ikony na pozadí


// ### řádka s hodnoceními
.vc-rating-row {
  .vc-make-row(@line-height-computed); // radek layoutu s mensim okrajem
  padding: 0 (@grid-gutter-width - @line-height-computed)/2; // vpravo a vlevo stejne zarovnany jako vychozi grid
}

// ### kontejner pro jedno hodnocení
.vc-rating-item {
  .vc-layout-col-base(@line-height-computed); // sloupec s mensim okrajem
  margin-bottom: @line-height-computed;
  .vc-layout-col(12);

  @media only screen and (min-width: 600px) {
    .vc-layout-col(6);
  }

  & > .vc-matrjoska {
    .vc-box;
    .vc-box-bordered;
    border-color: #f2f2f2;

    position: relative;
    padding: 0;
    background-color: #ffffff;

    @media only screen and (min-width: 600px) {
      min-height: 7.5 * @line-height-computed; // empiricky dosazeno: 1-4 řádková hodnocení budou vypadat stejně
    }
  }
}

// ### kontejner pro jedno hodnocení ve vypisech
//     nize se tridapouziva k pretizeni (jako modifikator)
.vc-rating-item-for-lists {
  position: relative;
  float: none;
  width: 100%;
  padding: 0;
  margin-bottom: 0;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: @vc-rating-icon-size;
    height: @vc-rating-icon-size;
    margin-left: -@vc-rating-icon-size/2;
    margin-top: -@vc-rating-icon-size/2;
    background: url("../dist/content-img/partners/heureka-color.svg") no-repeat 0 0; //todo: inline / sprite svg?

    .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
      background: url("../dist/content-img/partners/heureka-color.png") no-repeat 0 0; //todo: inline / sprite svg?
    }
  }

  & > .vc-matrjoska {
    min-height: 1px;
    padding-bottom: @padding-large-vertical*3;

    @media only screen and (min-width: 450px) {
      min-height: 10 * @line-height-computed; // empiricky dosazeno: 1-4 řádková hodnocení budou vypadat stejně
    }

    @media only screen and (min-width: @vc-layout-start) {
      min-height: 9 * @line-height-computed; // empiricky dosazeno: 1-5 řádková hodnocení budou vypadat stejně
    }

    @media only screen and (min-width: 1100px) {
      min-height: 8 * @line-height-computed; // empiricky dosazeno: 1-4 řádková hodnocení budou vypadat stejně
    }
  }
}

// ### textové hodnocení
.vc-rating-text {
  border: 0;
  padding: @padding-large-vertical @padding-large-horizontal;
  margin: 0;
  color: #666666;
  background-color: transparent;
  font-size: @font-size-small;
  margin-bottom: @padding-small-vertical + @vc-rating-icon-size + @padding-base-vertical;

  .vc-rating-item-for-lists & {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

// ### kontejner pro hvězdičky, jméno a čas
.vc-rating-metadata {
  position: absolute;
  bottom: @padding-large-vertical;
  left: 0;
  width: 100%;
  padding-top: @padding-base-vertical;
  padding-right: @padding-small-horizontal;
  padding-bottom: @padding-base-vertical;
  padding-left: @padding-large-horizontal;
  line-height: 1.05;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: @padding-large-horizontal 0;

  .vc-rating-item-for-lists & {
    position: static;
    background: transparent;
  }
}

// ### kontejner s logem heuréka
.vc-rating-metadata-heureka{
  min-height: @vc-rating-icon-size;
  padding-left: @padding-large-horizontal + @vc-rating-icon-size + @padding-small-horizontal;

  background-image: url("../dist/content-img/partners/heureka-color.svg"); //todo: inline / sprite svg?

  .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
    background-image: url("../dist/content-img/partners/heureka-color.png"); //todo: inline / sprite svg?
  }

  .vc-rating-item-for-lists & {
    min-height: 1px;
    padding-right: @padding-large-horizontal;
    padding-bottom: @padding-large-vertical;
    padding-left: @padding-large-horizontal;
  }
}

// autor hodnocení
.vc-rating-author {
  font-size: @vc-font-size-smaller;
  margin: 0;
  color: #949494;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // pokud se nevejde, skryje se a zobrazí výpustka
}

// ### hvězdičky

// kontejner pro hvězdičky
.vc-rating-stars {
  margin: @padding-base-vertical 0 0;
}

// společné vlastnosti
.vc-rating-stars,
.vc-rating-stars-rating {
  // lokální proměnné
  @vc-ratings-stars-height: 15px;
  @vc-ratings-stars-width: 79px;
  @vc-ratings-stars-scale: 1.666;

  height: @vc-ratings-stars-height;
  width: @vc-ratings-stars-width;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: url("../dist/img/icons/ratings-stars.svg"); //todo: inline / sprite svg?

  .vc-no-svg & { // fallback pro prohlížeče bez svg (IE8-)
    background-image: url("../dist/img/icons/ratings-stars.png"); //todo: inline / sprite svg?
  }

  .vc-detail-rating-headline & {
    display: inline-block;

    @media only screen and (min-width: 411px){
      height: @vc-ratings-stars-height*@vc-ratings-stars-scale;
      width: @vc-ratings-stars-width*@vc-ratings-stars-scale;
      background-size: @vc-ratings-stars-width*@vc-ratings-stars-scale;

      // řešíme jen pro moderní prohlížeče, který uměj background-size, proto reset zpět
      .vc-old-ie & {
        height: @vc-ratings-stars-height;
        width: @vc-ratings-stars-width;
      }
    }
  }
}


// jednotlivá skóre
.vc-rating-stars-rating {
  background-position: 0 0;
  position: absolute;
  top: 0;

  &-5 { width: 100%; }

  &-4 { width: 80%; }

  &-3 { width: 60%; }

  &-2 { width: 40%; }

  &-1 { width: 20%; }

  &-0 { width: 0; }
}
