/*

User menu
=========

Menu po přihlášení.
Používá se v hlavičce (klik na ikonu hlavy)

*/

@vc-user-menu-close-size: 14px; // velikost zavíracího čudlíku .close


// ### nastavíme paddingy vnitřním prvkům, abychom mohli dělat snadno čáru až do kraje
// todo: refaktorovat stejným stylem i login.less, pak nebude nutný reset

// reset paddingů
.vc-user-menu {
  padding-right: 0;
  padding-left: 0;

  @media only screen and (max-width: @p-large-display-start) {
    padding-top: @line-height-computed/2;
    padding-bottom: @line-height-computed/2;
  }
}

// nastavení výchozích paddingů
.vc-user-credentials,
.vc-messages,
.vc-user-menu .vc-dropdown-container-buttons {
  padding-right: @padding-base-horizontal;
  padding-left: @padding-base-horizontal;
}

// ### zprávy
// todo: zatím není
.vc-messages {
  display: none;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: @padding-small-vertical;
}

// ### kontejner pro jméno uživatele atd.
.vc-user-credentials {
  text-align: left;

  @media only screen and (min-width: 320px) {
    text-align: right;
  }

  @media only screen and (min-width: @p-large-display-start) { // jakmile se skryje nav-icon menu
    padding-left: 2*@padding-large-vertical + @vc-user-menu-close-size + @padding-small-horizontal; // aby to nezasahovalo do .close
    padding-bottom: @padding-large-horizontal;
    min-height: @vc-nav-icons-icon-size - @vc-nav-icons-top-space + 2*@vc-nav-icons-border-distance; // aby nezasahovalo do ikony

    padding-right: @vc-nav-icons-icon-size + @padding-base-horizontal + 2px;
  }
}

.vc-user-name,
.vc-user-points {
  margin: 0;
  line-height: 1.2;
}

.vc-user-name {
  margin-bottom: 0.2em;

  br {
    display: none;

    @media only screen and (min-width: @p-large-display-start) {
      display: block;
    }

  }

}

.vc-user-points {
  font-size: @vc-font-size-smaller;
  color: @vc-color-blue;
  white-space: nowrap;
}

// ### úprava BS .close
.vc-user-menu .close {
  font-size: @vc-user-menu-close-size;
  position: absolute;
  top: 0;
  left: 0;
  padding: @padding-large-vertical;
}

// ### odkazy na konci menu
.vc-user-menu .vc-dropdown-container-buttons {
  text-align: right;
  margin-top: @padding-base-vertical;

  @media only screen and (min-width: @p-large-display-start) { // jakmile se skryje nav-icon menu
    text-align: center;
  }

  .vc-btn {
    margin-bottom: @padding-base-vertical;
    width: 100%;

    @media only screen and (min-width: 320px) {
      width: auto;
    }

    @media only screen and (min-width: @p-large-display-start) { // jakmile se skryje nav-icon menu
      width: 32%;
    }

  }
}


