/*
  Component Ad Snippet
  ====================

  Ads inside article text. e.g.
  - paid job board
  - e-book
  - courses

  https://www.vzhurudolu.cz/style/modules#ad-snippet
*/
:root {
  --vd-text-color-rgb: 46, 44, 9;
  --vd-text-color: rgb(var(--vd-text-color-rgb));
  --vd-text-color-lighter: rgba(var(--vd-text-color-rgb), 0.8);
  --vd-text-color-lightest: rgba(var(--vd-text-color-rgb), 0.5);
  --vd-background-color: #e5e3df;
  --vd-content-bg-color: #fcfcf7;
  --vd-border-color: rgba(var(--vd-text-color-rgb));
  --vd-border-color-light: rgba(var(--vd-text-color-rgb), 0.5);
  --vd-highlight-bg-color: #d8f5b8;
  --vd-highlight-neutral-bg-color: #f2f0ed;
  --vd-link-color: #5fa316;
  --vd-heading-color: #2b490a;
  --vd-code-color: hsl(25, 74%, 23%);
  --vd-code-color-1: hsl(25, 74%, 32%);
  --vd-code-color-2: hsl(25, 74%, 37%);
  --vd-code-color-3: hsl(25, 24%, 73%);
  --vd-code-color-4: hsl(42, 16%, 32%);
  --vd-bg-hover: rgba(var(--vd-text-color-rgb), 0.1);
  --vd-box-bg-color: hsl(43, 21%, 94%);
  --vd-interactive-bg-color: hsl(44, 81%, 94%);
  --vd-badge-color: #002c3a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --vd-text-color-rgb: 252, 252, 247;
    --vd-background-color: #201f06;
    --vd-content-bg-color: #171605;
    --vd-highlight-bg-color: #3A3F26;
    --vd-highlight-neutral-bg-color: #3A3F26;
    --vd-heading-color: #d1f4ab;
    --vd-code-color: hsl(25, 74%, 83%);
    --vd-code-color-1: hsl(25, 74%, 82%);
    --vd-code-color-2: hsl(25, 74%, 77%);
    --vd-code-color-3: hsl(25, 24%, 93%);
    --vd-code-color-4: hsl(42, 16%, 62%);
    --vd-box-bg-color: hsl(43, 21%, 14%);
    --vd-interactive-bg-color: hsl(44, 81%, 6%);
    --vd-badge-color: hsl(194, 100%, 89%);
  }
}
.ad-snippet {
  position: relative;
  border-top: 1px dashed var(--vd-border-color-light);
  border-bottom: 1px dashed var(--vd-border-color-light);
  padding: 0.66em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}
@media print {
  .ad-snippet {
    display: none;
  }
}

.ad-snippet__scissors {
  display: block;
  position: absolute;
  width: 22px;
  height: 18px;
  background: var(--vd-content-bg-color);
}

.ad-snippet__scissors-svg {
  fill: var(--vd-border-color-light);
}

.ad-snippet__scissors-top {
  top: -10px;
  left: 8px;
}

.ad-snippet__scissors-bottom {
  bottom: -10px;
  right: 8px;
  transform: rotate(180deg);
}

.ad-snippet__container {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--vd-text-color-lighter);
  padding: 0.5em;
}
.ad-snippet__container:hover, .ad-snippet__container:focus, .ad-snippet__container:active {
  color: var(--vd-text-color-lighter);
  background-color: var(--vd-bg-hover);
}

.ad-snippet__image {
  max-width: 3.75em;
  margin-right: auto;
  margin-left: auto;
}

.ad-snippet__text-heading {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 0;
  color: #5fa316;
  text-decoration-color: #5fa316;
}

.ad-snippet__text-content {
  text-decoration: none;
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .ad-snippet__container {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }
  .ad-snippet__image {
    width: 3.75em;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }
  .ad-snippet__text {
    flex: auto;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) {
  .ad-snippet--reverse .ad-snippet__container {
    flex-direction: row;
  }
  .ad-snippet--reverse .ad-snippet__text {
    padding-left: 1rem;
  }
}

/*# sourceMappingURL=ad-snippet.css.map */